// Buttons

  // TODO: Resolve default and active state being the same
.usajobs-button-secondary-alert {
  background-color: $color-secondary-darkest;

  &:hover,
  &.usa-button-hover {
    background-color: $color-secondary-dark;
  }

  &:active,
  &.usa-button-active {
    background-color: $color-secondary-darkest;
  }
}

// TODO: The hover color isn't light enough, but
// any lighter and we won't make the AA contrast level
.usajobs-button-secondary-start {
  background-color: $color-green-dark;

  &:hover,
  &.usa-button-hover {
    background-color: $color-green;
  }

  &:active,
  &.usa-button-active {
    background-color: $color-green-darker;
  }
}

a.usajobs-button {
  text-decoration: none;
}
