// Button

.usajobs-button-secondary-alert {
  background-color: $color-secondary-darkest;

  &:hover,
  &.usa-button-hover {
    background-color: $color-secondary-dark;
  }

  &:active,
  &.usa-button-active {
    background-color: $color-red-darkest;
  }
}

// The U.S. Standards disabled button is a little light on the "disabled"
button:disabled,
[type="button"]:disabled,
[type="submit"]:disabled,
.usa-button-disabled {
  opacity: $layer-disabled;
}


// In Application Guide, our button bar background matches the disabled state of a button
// Thus we make the button darker

.usajobs-button_bar {
  [type="submit"]:disabled,
  .usa-button-disabled {
    background-color: $color-gray-light;
    color: $color-gray-dark;
    cursor: default;

    &:hover,
    &.usa-button-hover,
    &:active,
    &.usa-button-active,
    &:focus  {
      background-color: $color-gray-light;
      border: 0;
      box-shadow: none;
      color: $color-gray-dark;
    }
  }
}
