// Unique Hiring Paths

.usajobs-unique-hiring-paths {
  &__list {
    @include unstyledList();
    width: 100%;

    .usajobs-unique-hiring-paths__item {
      display: inline-block;
      width: 100%;
    }
  }

  &__list > &__item {
    position: relative;
    margin-bottom: $size-default;
    vertical-align: middle;
  }

  &__icon {
    @include UHPIcons();

    svg {
      vertical-align: middle;
    }
  }
}

svg:not(:root) {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.usajob-icon {
  display: inline-block;
  vertical-align: bottom;
  fill: currentColor;
}
