// Dropdown

// IE fix
select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  padding-right: 3.5rem;
  background-image: url("../img/arrow-both.png");
}

.usajobs-form,
.usajobs-content-well .usajobs-form {
  // Select menus -- Chosen overrides
  .chosen-container {
    font-size: inherit;
  }

  .chosen-container .chosen-drop {
    border: 1px solid $color-gray;
    border-top: 0;
    background: $color-white;
    padding: 0 0.7em;
    border-radius: 0;
  }

  .chosen-container-single .chosen-single {
    padding: 0 0.7em;
    height: 47px;
    border: 1px solid $color-gray;
    line-height: 46px;
    color: $color-base;
    font-size: $base-font-size;
    max-width: $input-max-width;
    width: 100%;
    background-color: $color-white;
    background-image: url('../img/arrow-both.png');
    background-image: url('../img/arrow-both.svg');
    background-position: right 1.3rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    border-radius: 0;
  }

  .chosen-container-single .chosen-single-input {
  }

  .chosen-container-single .chosen-single abbr {
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
  }

  .chosen-container-single .chosen-search input[type="text"] {
    margin: 1rem 0;
    outline: 0;
    border: 1px solid $color-gray-medium;
    background-color: $color-white;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px;
  }

  .chosen-container .chosen-results {
    @include unstyledList();
    display: block;
    width: 100%;
    color: $color-gray-dark;

    li {
      line-height: $base-line-height;
    }
  }

  .chosen-container .chosen-results li.highlighted {
    background-image: none;
    background-color: $color-primary;
    color: $color-white;
  }

  .chosen-container .chosen-results li.no-results {
    color: $color-base;
    padding: $size-S;
  }

  .chosen-container-active .chosen-single {
    &:focus {
      box-shadow: $focus-shadow;
    }
  }

  .chosen-container-active.chosen-with-drop .chosen-single {
    background-image: url('../img/arrow-up.png');
    background-image: url('../img/arrow-up.svg');
    border: 1px solid $color-gray;
  }

  .chosen-container-multi .chosen-choices {
    @include unstyledList();
    padding: 0 0.7em;
    border: 1px solid $color-gray;
    background-image: none;
    box-shadow: none;
  }

  .chosen-container-multi .chosen-choices li.search-choice {
    margin-top: rem(4px);
    margin-bottom: rem(4px);
    padding-top: $size-base;
    padding-bottom: $size-base;
    line-height: $base-line-height;
    background-image: none;
    background-color: $color-gray-lightest;
  }

  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 43px;
    font-family: $font-sans;
  }

  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
      background-image: url('../img/chosen-sprite@2x.png') !important;
    }

    .chosen-container-single .chosen-single div b {
      display: none;
    }
  }
}
