// Dropdown

// IE fix
select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  padding-right: 3.5rem;
  background-image: url("../img/arrow-both.png");
}

// select2 plugin overrides
.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("../img/arrow-both.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  right: 8px;

  b {
    display: none;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 28px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: $color-base;
  background-color: $color-primary-alt-lightest;
}
