// Typography
// We are using the Source Sans Pro headers and body pairing

body {
  // Reiterating with a fallback
  font-size: $base-font-size-px;
  font-size: $base-font-size;
}

.lt-ie9 p,
.lt-ie9 li {
  // Reiterating this here to fix a problem where respond.js is
  // adding an inline style on the body to 100% which borks our lt-ie9 world
  font-size: 17px !important;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}

.section-header {
  margin: {
    top: $size-XXL;
    bottom: $size-S;
  }
  padding: 0.5em 0;
  color: $color-primary-darkest;
  border-bottom: 1px solid $color-primary-darkest;
}
