// Typography

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
}

h1,
h2 {
  color: $color-primary-darkest;
}

.section-header {
  margin: {
    top: $size-XXL;
    bottom: $size-S;
  }
  padding: 0.5em 0;
  color: $color-primary-darkest;
  border-bottom: 1px solid $color-primary-darkest;
}