---
permalink: /open-opportunities/search/
layout: open-opps-search
title: Open Opportunitites Search
---

{% include components/nav/v2/open-opps-auth.html %}
<section class="usajobs-shell">
  <section class="usajobs-canvas">
    <div class="usajobs-content-gutter usajobs-open-opps-search">
      <main class="usajobs-content-well" id="main-content" role="main" aria-label="Search results">
        <div class="usajobs-open-opps-search-results">
          {% include components/card/opportunity.html opp-id="689" %}
          {% include components/card/opportunity.html opp-id="643" %}
          {% include components/card/opportunity.html opp-id="604" %}
          {% include components/card/opportunity.html opp-id="689" %}
          {% include components/card/opportunity.html opp-id="643" %}
          {% include components/card/opportunity.html opp-id="604" %}
          {% include components/card/opportunity.html opp-id="689" %}
          {% include components/card/opportunity.html opp-id="643" %}
        </div>
      </main>
      <aside class="usajobs-rightrail">
        <h3>Filters</h3>
      </aside>
    </div>
  </section>
</section>
