// Search - Controls

@import '../base-shared';
@import 'font-awesome/font-awesome';

.usajobs-search-controls {
  padding: 1.2rem 0 0 0; // an odd-ball amount to align with the sort control
  margin-bottom: $size-default;

  &__results-count-container {
    margin-bottom: $size-S;

    @include media($M) {
      @include span-columns(3);
    }
  }

  &__results-count {
    margin-top: $size-S;
    color: $color-primary-darkest;
    font-weight: normal;

    @include media($M) {
      font-weight: bold;
    }
  }

  &__viewing {
    @include media($M) {
      display: none; // switches to search bar exposed at this point
    }
  }

  &__sort-container {
    @include media($M) {
      @include span-columns(3);
      @include omega();
      text-align: right;
    }
  }

  &__sort-label {
    display: inline-block;
    margin-top: 0;
    padding-right: $size-base;
    font-weight: bold;
  }

  &__sort-control {
    display: inline-block;
    width: auto;
    margin: 0;
  }
}
