// Search - Controls

@import '../base-shared';
@import 'font-awesome/font-awesome';

.usajobs-search-controls {
  margin-bottom: $size-base;
  padding: 0;

  @include media($M) {
    margin-bottom: $size-default;
  }

  @include media($L) {
    padding: .9rem 0 0 0; // odd sizing to align properly with search prefs
  }

  &__results-count-container {
    margin-bottom: 0;

    @include media($L) {
      @include span-columns(6);
    }
  }

  &__results-count {
    margin-top: 0;

    @include media($L) {
      margin-top: $size-S;
    }
  }

  &__viewing {
    @include media($M) {
      display: none; // switches to search bar exposed at this point
    }
  }

  &__sort-container {
    display: none;
    text-align: right;

    @include media($L) {
      @include span-columns(6, 12);
      @include omega();
      text-align: right;
    }
  }

  &__sort-label {
    display: inline-block;
    margin-top: 0;
    padding-right: $size-base;
    font-weight: bold;

    @include media($M-down) {
      font-size: $small-font-size;
    }
  }

  &__sort-control {
    display: inline-block;
    width: auto;
    margin: 0;

    @include media($M-down) {
      height: auto;
      padding: 0.3em 3.5rem 0.3em 0.7em;
      font-size: $small-font-size;
    }
  }
}
