// Search - Result card + no results card

@import 'base-shared';
@import 'font-awesome/font-awesome';

@import '../home-variables';
@import '../card';
@import '../job';
@import '../atp/applicant';

.usajobs-content-well .usajobs-search-result,
.usajobs-search-result {
  @include card();
  @include job();
}

.usajobs-search-results {
  @include cardInset();
  background-color: $color-white;
}

.usajobs-search .usajobs-search-result--card {
  @include cardInset();
}

.usajobs-search .usajobs-search-result--core {
  @include card-core-v1();
  @include job-core-v1();
  @include card-core-v2();
  @include job-core-v2();

  // Specificity nightmare here
  .usajobs-search-result--core__department,
  &__item.usajobs-search-result--core__appt-type {
    display: none;

    @include media($L) {
      display: inherit;
    }
  }
}

// No results treatment
.usajobs-search-no-params-highlight {
  @include boxShadow(1);
  background-color: $color-white;
  margin: $size-default 0 ;
  padding: $size-default;

  &__title {
    margin-top: 0;
    color: $color-primary-darkest;
  }

  &__list {
    @include unstyledList();
  }

  &__list > li {
    margin-bottom: $size-S;

    & > a {
      text-decoration: none;
    }
  }
}

.usajobs-search .usajobs-search-result--atp {
  @include card-v2();
  @include applicant();

  &__container {
    @include cardInset();
    max-width: rem(800px);
  }
}
