<fieldset class="usajobs-fieldset">
  <legend>Legal Name</legend>

  <label for="title">Title <span class="usa-additional_text">Optional</span></label>
  <input class="usa-input-tiny" id="title" name="title" type="text" maxlength="5">

  <label for="GivenName">First name</label>
  <input data-val="true" data-val-length="This field cannot be longer than 20 characters" data-val-length-max="20" data-val-regex="This field cannot include numbers or special characters except apostrophe (') and dash (-)." data-val-regex-pattern="^([a-zA-Z '-]+)$" data-val-required="This field is requried" id="GivenName" name="GivenName" type="text" value="Peter" required aria-required="true">
  <span class="field-validation-valid" data-valmsg-for="GivenName" data-valmsg-replace="true"></span>

  <label for="MiddleName">Middle name <span class="usa-additional_text">Optional</span></label>
  <input data-val="true" data-val-length="This field cannot be longer than 20 characters" data-val-length-max="20" data-val-regex="This field cannot include numbers or special characters except apostrophe (') and dash (-)." data-val-regex-pattern="^([a-zA-Z '-]+)$" id="MiddleName" name="MiddleName" type="text" value="">
  <span class="field-validation-valid" data-valmsg-for="MiddleName" data-valmsg-replace="true"></span>

  <label for="LastName">Last name</label>
  <input data-val="true" data-val-length="This field cannot be longer than 30 characters" data-val-length-max="30" data-val-regex="Tihs field cannot include numbers or special characters except apostrophe (') and dash (-)." data-val-regex-pattern="^([a-zA-Z '-]+)$" data-val-required="Last name is requried" id="LastName" name="LastName" type="text" value="Toohey" required aria-required="true">
  <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>

  <label for="suffix">Suffix<span class="usa-additional_text">Optional</span></label>
  <input class="usa-input-tiny" id="suffix" name="suffix" type="text" maxlength="5">
</fieldset>
