<fieldset class="usajobs-fieldset">
  <legend>Telephone</legend>

  <label for="SelectedPhoneType">Telephone type</label>
  <span class="field-validation-valid" data-valmsg-for="SelectedPhoneType" data-valmsg-replace="true"></span>
  <select id="SelectedPhoneType" name="SelectedPhoneType" data-behavior="profile-contact.telephone-select" aria-controls="phone-extension-1">
    <option value="-1">Please Select</option>
    <option selected="selected" value="Mobile">Mobile</option>
    <option value="Other">Other</option>
  </select>

  <label for="Telephone1">Telephone number</label>
  <span class="field-validation-valid" data-valmsg-for="Telephone1" data-valmsg-replace="true"></span>
  <input data-val="true" data-val-length="This field cannot be longer than 25 characters." data-val-length-max="25" data-val-regex="This field may contain only numbers and any of the following characters (.),(+),(\),(/),(-), space, and left and right parentheses." data-val-regex-pattern="^[0-9.\-+\\/() ]+$" id="Telephone1" name="Telephone1" type="tel" value="2027250202">
  <p class="usajobs-form__help-brief">
    U.S. numbers – include area code. International numbers – include country calling code (+1, +1 340)
  </p>
  <div class="optional-input" id="phone-extension-1" aria-hidden="true">
    <label for="Extension1">
      Extension
      <span class="usa-additional_text">Optional</span>
    </label>
    <input id="Extension1" name="Extension1" type="text" value="" length="10" maxlength="25" class="usa-input-medium">
  </div>

  <label for="SecondarySelectedPhoneType">
    Secondary telephone type
    <span class="usa-additional_text">Optional</span>
  </label>
  <span class="field-validation-valid" data-valmsg-for="SecondarySelectedPhoneType" data-valmsg-replace="true"></span>
  <select id="SeoncdarySelectedPhoneType" name="SeoncdarySelectedPhoneType" data-behavior="profile-contact.telephone-select" aria-controls="phone-extension-2">
    <option value="-1">Please Select</option>
    <option value="Mobile">Mobile</option>
    <option value="Other">Other</option>
  </select>

  <label for="Telephone2">
    Secondary telephone number
    <span class="usa-additional_text">Optional</span>
  </label>
  <input data-val="true" data-val-length="This field cannot be longer than 25 characters." data-val-length-max="25" data-val-regex="This field may contain only numbers and any of the following characters (.),(+),(\),(/),(-), space, and left and right parentheses." data-val-regex-pattern="^[0-9.\-+\\/() ]+$" id="Telephone2" name="Telephone2" type="tel" value="">
  <span class="field-validation-valid" data-valmsg-for="Telephone2" data-valmsg-replace="true"></span>
  <p class="usajobs-form__help-brief">
    U.S. numbers – include area code. International numbers – include country calling code (+1, +1 340)
  </p>

  <div class="optional-input" id="phone-extension-2" aria-hidden="true">
    <label for="Extension2">
      Secondary Extension
      <span class="usa-additional_text">Optional</span>
    </label>
    <input id="Extension2" name="Extension2" type="text" value="" length="10" maxlength="25" class="usa-input-medium">
  </div>
</fieldset>
