<fieldset class="usajobs-fieldset">
  <label for="Username">Username or email</label>
  <input data-val="true" data-val-required="This field is required." id="Username" name="Username" type="text" value="">
  <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
  <p class="usajobs-form__help-brief">
    Enter your username, primary email, or secondary email.
  </p>

  <label for="Password">Password</label>
  <input data-val="true" data-val-required="This field is required." id="Password" name="Password" type="password">
  <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>

  <p class="usajobs-form__help-brief">
    <a href="/account/ForgotPassword?absoluteUri=https%3A%2F%2Flogin.usajobs.gov%2Faccount%2Fsignin%3FReturnUrl%3D%252fissue%252fwsfed%253fwa%253dwsignin1.0%2526wtrealm%253dhttps%25253a%25252f%25252fwww.usajobs.gov%25252f%2526wctx%253dhttps%25253a%25252f%25252fwww.usajobs.gov%25252fApplicant%25252fMyAccount%25252fHome%25252f%2526wct%253d2016-04-11T16%25253a09%25253a25Z%26wa%3Dwsignin1.0%26wtrealm%3Dhttps%253a%252f%252fwww.usajobs.gov%252f%26wctx%3Dhttps%253a%252f%252fwww.usajobs.gov%252fApplicant%252fMyAccount%252fHome%252f%26wct%3D2016-04-11T16%253a09%253a25Z">
      Forgot your username or password?
    </a>
  </p>

  <div class="usajobs-button_bar--slim">
    <div class="usajobs-button_bar__body">
      <a href="http://usajobs.github.io/american-discovery-trail/signed-in/home/" class="usa-button usa-button-big">
        Sign In
      </a>
  </div>

  <h4>Don't have a USAJOBS account?</h4>
  <a href="{{ site.baseurl }}/account/" class="usa-button usa-button-big usa-button-outline">
    Create a new account
  </a>
</fieldset>
