<div class="usajobs-auth__security-tips">
  <h3>Security Guidelines</h3>
  <p>
    As the USAJOBS account holder, you are responsible for maintaining the confidentiality of your account, notably your password, and for any and all activity that occurs under your account as a result of failing to keep this information secure and confidential. You agree to notify USAJOBS Support immediately of any unauthorized use of your account or password, or any other breach of security. You may not use anyone else’s USAJOBS account at any time.
  </p>
  <p>
    To help with these precautions, please follow these tips:
  </p>
  <ul>
    <li>Always sign out of USAJOBS when you have completed your session with the system.</li>
    <li>Avoid using the same password for multiple online accounts.</li>
    <li>
      Your USAJOBS account password should be something only you know, and should not be shared with anyone, even family members.
    </li>
    <li>
      The email address associated with your USAJOBS account should be personal and private, controlled by only you and not shared with anyone, even family members. Avoid using e-mail addresses that are issued and managed by another party or organization - .gov/.mil or a corporate email account.
    </li>
    <li>
      Periodic password resets may enhance the security of your account. If you suspect that someone knows your USAJOBS username and password, you can change your password using the self-service password reset function by clicking ForgotPassword.
    </li>
  </ul>
</div>
