// Applicant (ATP) -- Used in resume mining search results

@import 'base-shared';
@import 'font-awesome/font-awesome';

@import '../home-variables';

@mixin applicant() {
  &__department {
    @include default-text();
    margin: 0;
    font-weight: bold;
    color: $color-base;
  }

  &__agency {
    @include default-text();
    margin: 0;
    font-weight: bold;
    color: $color-base;
  }

  &__location {
    @include default-text();
    margin: 0;
    color: $color-base;
  }

  &__location-link {
    color: $color-base;

    .fa {
      color: $color-primary-alt;
    }
  }

  &__grade {
    margin: 0;
  }

  &__last-updated {
    margin: $size-base 0;
    font-style: italic;
    color: $color-gray;

    .is-near-closing {
      color: $color-gold;
    }
  }

  &__uhp-row {
    @include row();
    margin-bottom: $size-S;
  }

  &__uhp {
    float: left;
    font-size: $small-font-size;
  }

  &__uhp-icon {
    @include makeCircle(30px, none, $color-secondary);
    display: inline-block;
    padding-bottom: $size-default;
    font-size: $base-font-size;
    text-align: center;

    &.federal-employees,
    &.ses {
      @include makeCircle(32px, none, $color-primary-darkest);
    }

    &.federal-employees .fa::before {
      margin-top: rem(-3px);
      margin-right: rem(-3px);
    }

    &.veterans,
    &.military-spouses {
      @include makeCircle(32px, none, $color-green);
    }

    &.veterans {
      line-height: rem(35px);
    }

    &.students {
      @include makeCircle(32px, none, $color-gold);
    }

    &.individuals-with-disabilities {
      @include makeCircle(32px, none, $color-primary-darker);
    }
  }

  &__doc-pill {
    float: left;
    margin-left: $size-default;
    padding: $size-base;
    font-size: $small-font-size;
    color: $color-white;
    border-radius: $border-radius * 3;

    @include media($ML) {
      float: right;
      margin-left: 0;
    }

    &.federal-employees {
      background-color: $color-primary-darkest;
    }

    &.veterans,
    &.military-spouses {
      background-color: $color-green;
    }
  }
}
