---
permalink: /job-announcement/v6.6/
layout: joa
title: Job Announcement
control-number: '469480700'
---
{% assign job = site.data.job-announcements[page.control-number] %}

{% include components/nav/authenticated.html %}
{% include components/joa/v1.2/prev-next.html %}
<div xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"
     xmlns:hr="http://www.hr-xml.org/3"
     xmlns:oa="http://www.openapplications.org/oagis/9" class="usajobs-joa-bground">
  <div itemscope="" itemtype="http://schema.org/JobPosting">
    {% include components/joa/v1.5/banner.html %}
    {% include components/joa/v1.5/nav.html %}
    <section class="usajobs-shell usajobs-joa--v1-5__shell">
      <section class="usajobs-canvas">
        <div class="usajobs-content-gutter">
          {% include components/joa/v1.5/intro.html %}
          <main class="usajobs-content-well" id="main-content" role="main" aria-label="Main Job announcement content">
            <div class="usa-accordion" data-object="joa-accordion">
              <ul class="usa-unstyled-list">
                <li>{% include components/joa/v1.5/duties.html %}</li>
                <li>{% include components/joa/v1.5/occupations.html %}</li>
                <li>{% include components/joa/v1.5/requirements.html %}</li>
                <li>{% include components/joa/v1.5/required-documents.html %}</li>
                <li>{% include components/joa/v1.5/benefits.html %}</li>
                <li>{% include components/joa/v1.5/how-to-apply.html %}</li>
              </ul>
            </div>
            {% include components/joa/v1.5/fair-and-transparent.html %}
            <p class="usajobs-joa__authenticity-note">
              This job originated on <a href="https://www.usajobs.gov/">www.usajobs.gov</a>. For the full announcement and to apply, visit <a href="https://www.usajobs.gov/GetJob/ViewDetails/{{ page.control-number }}">www.usajobs.gov/GetJob/ViewDetails/{{ page.control-number }}</a>. Only resumes submitted according to the instructions on the job announcement listed at <a href="https://www.usajobs.gov/">www.usajobs.gov</a> will be considered.
            </p>
          </main>
        </div>
      </section>
    </section>
  </div>
</div>
{% include components/joa/v1.5/agency-modal.html %}
