---
permalink: /account/sign-in/
layout: auth
title: Sign in
---

<main class="usajobs-content-well" id="main-content" role="main" aria-label="Sign In">
  <h1>Sign in</h1>
  <form class="usajobs-form usajobs-form--narrow" action="/account/signin" method="post" novalidate="novalidate">
    <input name="__RequestVerificationToken" type="hidden" value="B8U2t52vu_aTbp1GQSkb7AkIX0YR9Clwv4Fk8EnKGilCJCjK-wk1UXTmR3kRKaukW-UTtytoOYMka-e0QGIeV5-Td2UvpInUKsG6cMTlSEQ1">
    {% include components/login-form.html %}
  </form>
</main>
<aside class="usajobs-rightrail usajobs-auth__terms">
  {% include components/login-terms.html %}
</aside>
