<div id="agencycontact" class="usajobs-joa-agency--v1-5" itemprop="hiringOrganization">
  <h3 class="usajobs-joa-agency--v1-5__contact-info">Agency contact information</h3>
  <h3 class="usajobs-joa-agency--v1-5__contact-name">
    <span class="fa fa-user"></span>
    HR Customer Care Center
  </h3>

  <div>
    <div class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-sub-section__small-title">Phone</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="tel:1-317-212-0454">317-212-0454</a>
      </p>

      <h5 class="usajobs-sub-section__small-title">Email</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="mailto:dfas.indianapolis-in.zh.mbx.dfasmeritcc@mail.mil">
          dfas.indianapolis-in.zh.mbx.dfasmeritcc@mail.mil
        </a>
      </p>
    </div>
    <div class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-sub-section__small-title">Address</h5>
      <p class="usajobs-joa-sub-section__text">
        <address>
          DFAS - Human Resources<br />
          8899 E. 56th Street<br />
          Indianapolis, IN 46216<br />
          United States
        </address>
      </p>
    </div>
  </div>
  <a href="#agency-modal-trigger" class="usajobs-joa-agency--v1-5__learn-more" href="#agencycontact" data-object-trigger="modal" data-target="#agency-modal">
    Learn more about this agency
  </a>
  <div class="usajobs-joa-agency-contact--v1-6">
    <div class="usajobs-read-more usajobs-read-more--bg usajobs-joa__read-more-content" data-object="reveal-more" data-behavior="joa-read-more" id="when-to-contact">
      <div id="when-to-contact">
        <h3>When to contact the agency</h3>
        <p>
          It may take <strong>up to two weeks</strong> after a job has closed for the hiring agency to review all of the applications. They may not have information about your application if you contact them too early.
        </p>
        <p>
          Don't contact USAJOBS with questions about the job or the status of your application–only the hiring agency can answer these questions.
        </p>

        <div id="before-the-job-closes">
          <h4 class="usajobs-joa-agency-contact--v1-6__sub-title">
            Before the job closes
          </h4>
          <p>
            Before contacting the hiring agency, read about the <a href="https://www.usajobs.gov/?c=fed-app-process">federal application process</a>-it may answer your questions.
          </p>
          <p><strong>Contact the hiring agency with questions about:</strong></p>
          <ul class="usajobs-joa-agency-contact--v1-6__list-thumbs">
            <li class="usajobs-joa-agency-contact--v1-6__item">
              <span class="fa fa-thumbs-o-up"></span> The job duties or details.
            </li>
            <li class="usajobs-joa-agency-contact--v1-6__item">
              <span class="fa fa-thumbs-o-up"></span> The application process and what you need to provide or next steps.
            </li>
          </ul>

          <p><strong>Do not contact the hiring agency with questions about:</strong></p>
          <ul class="usajobs-joa-agency-contact--v1-6__list-thumbs">
            <li class="usajobs-joa-agency-contact--v1-6__item">
              <span class="fa fa-thumbs-o-down"></span>
              Your qualifications for the job, before you apply to the job.
            </li>
            <li class="usajobs-joa-agency-contact--v1-6__item">
              <span class="fa fa-thumbs-o-down"></span>
              Your application or documents-the agency doesn’t look at the applications until after the job closes.
            </li>
          </ul>
        </div>

        <!-- div class="usajobs-read-more usajobs-read-more--bg usajobs-joa__read-more-content" data-object="reveal-more" data-behavior="joa-read-more" id="after-the-job-closes" -->
        <div id="after-the-job-closes">
          <h4 class="usajobs-joa-agency-contact--v1-6__sub-title">
            After the job closes
          </h4>
          <p><strong>Contact the hiring agency with questions about:</strong></p>
          <ul>
            <li>
              <strong>Your application status.</strong> The agency has to review all applications before making a decision on whether or not your application will move onto the next step. The agency will try to answer your questions, but you can also <a href="https://www.usajobs.gov/Applicant/ProfileDashboard/Home">check the status of your application</a> in your profile.
              <p class="usajobs-joa-agency-contact--v1-6__timeframe">
      		      Timeframe: Up to two weeks or more.
              </p>
            </li>
            <li>
              <strong>How long it will take to review all of the applications.</strong> Sometimes there are hundreds of applications to review for one job. The agency may be able to give you an estimate of the time it will take them to complete their review and a time to call back.
              <p class="usajobs-joa-agency-contact--v1-6__timeframe">
                Timeframe: Up to two weeks or more.
              </p>
            </li>
            <li>
              <strong>Your documents.</strong> Once the job closes, all documents go through a virus scan before they are sent to the hiring agency. This may take several hours to complete. After this time, the hiring agency may be able to tell you if they’ve received your documents, but they won’t have much else to say until they complete reviewing all applications.
              <p class="usajobs-joa-agency-contact--v1-6__timeframe">
      		      Timeframe: After several hours (once the job closes).
              </p>
            </li>
          </ul>
        </div>

        <!-- div class="usajobs-read-more usajobs-read-more--bg usajobs-joa__read-more-content" data-object="reveal-more" data-behavior="joa-read-more" id="at-any-time" -->
        <div id="at-any-time">
          <h4 class="usajobs-joa-agency-contact--v1-6__sub-title">
            What the hiring agency can't answer at any time
          </h4>
          <ul>
            <li>
              If you will get an interview-the hiring agency will contact you directly if you’ve been selected for an interview.
            </li>
            <li>
              The contact information for the person reviewing your application. You will receive specific contact information if you’re selected for an interview.
            </li>
            <li>
              How many people applied or who was selected for the job-the agency can’t disclose this information.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
