<div id="agencycontact" class="usajobs-joa-agency--v1-5" itemprop="hiringOrganization">
  <h3 class="usajobs-joa-agency--v1-5__contact-info">Agency contact information</h3>
  <h3 class="usajobs-joa-agency--v1-5__contact-name">
    <span class="fa fa-user"></span>
    HR Customer Care Center
  </h3>

  <div>
    <div class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-sub-section__small-title">Phone</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="tel:1-317-212-0454">317-212-0454</a>
      </p>

      <h5 class="usajobs-sub-section__small-title">Email</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="mailto:dfas.indianapolis-in.zh.mbx.dfasmeritcc@mail.mil">
          dfas.indianapolis-in.zh.mbx.dfasmeritcc@mail.mil
        </a>
      </p>
    </div>
    <div class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-sub-section__small-title">Address</h5>
      <p class="usajobs-joa-sub-section__text">
        <address>
          DFAS - Human Resources<br />
          8899 E. 56th Street<br />
          Indianapolis, IN 46216<br />
          United States
        </address>
      </p>
    </div>
  </div>
  <a href="#agency-modal-trigger" class="usajobs-joa-agency--v1-5__learn-more" href="#agencycontact" data-object-trigger="modal" data-target="#agency-modal">
    Learn more about this agency
  </a>
</div>
