<button class="usa-accordion-button usajobs-joa-accordion-trigger is-open-at-M" aria-expanded="false" aria-controls="benefits" data-behavior="joa_accordion.toggle">
  Benefits
</button>
<div id="benefits" aria-hidden="true" class="usa-accordion-content usajobs-joa-section">
  <a href="http://usajobs.github.io/Help/how-to/job-announcement/benefits/" class="usajobs-joa-section__help" target="_blank">
    <span class="fa fa-question-circle"></span> Help
  </a>
  <h2 class="usajobs-joa-section__header">Benefits</h2>
  <div id="benefits" itemprop="jobBenefits" class="usajobs-benefits">
    <p>
      A career with the U.S. Government provides employees with a comprehensive benefits package. As a federal employee, you and your family will have access to a range of benefits that are designed to make your federal career very rewarding.
    </p>
    <p>
      Eligibility for benefits depends on the type of position you hold and whether your position is full-time, part-time, or intermittent. Contact the hiring agency for more information on the specific benefits offered.
    </p>
    <ul>
      <li>
        <a href="https://www.usa.gov/benefits-for-federal-employees#item-36407" target="_blank">
          Benefits for federal employees
        </a>
      </li>
      <li>
        <a href="https://www.opm.gov/healthcare-insurance/" target="_blank">
          Healthcare insurance
        </a>
      </li>
      <li>
        <a href="https://www.usajobs.gov/Help/working-in-government/pay-and-leave/" target="_blank">
          Pay and leave
        </a>
      </li>
    </ul>
    {% if job.UserArea.Details.Benefits %}
    <div class="usajobs-read-more usajobs-joa__read-more-content" data-object="reveal-more" data-behavior="joa-read-more">
      <p>
        <a href="{{ job.UserArea.Details.Benefits }}">
          {{ job.UserArea.Details.Benefits }}
        </a>
      </p>
    {% endif %}
  </div>
</div>
