<button class="usa-accordion-button usajobs-joa-accordion-trigger usajobs-joa--v1-5__accordion-trigger" aria-expanded="true" aria-controls="duties" data-behavior="joa_accordion.toggle">
  Duties
</button>
<div id="duties" aria-hidden="false" class="usa-accordion-content usajobs-joa-section usajobs-joa-accordion-overview">
  <a href="http://usajobs.github.io/Help/how-to/job-announcement/duties/" class="usajobs-joa-section__help" target="_blank">
    <span class="fa fa-question-circle"></span> Help
  </a>
  <h2 class="usajobs-joa-section__header">Duties</h2>
  <h3>Summary</h3>
  <div itemprop="description">
    <p>
      {{ job.UserArea.Details.JobSummary }}
    </p>
    <p>
      In this role you may:
    </p>
    <ul class="usajobs-list-bullets">
    {% for duty in job.UserArea.Details.MajorDuties %}
      <li>{{ duty }}</li>
    {% endfor %}
    </ul>

    <a href="#agency-modal-trigger" class="usa-button usa-button-outline usajobs-joa-section__cta" href="#agencycontact" data-object-trigger="modal" data-target="#agency-modal">
      Learn more about this agency
    </a>
  </div>

  <div id="travelrequired">
    <h3>Travel Required</h3>
    <p>Occasional - 25% or less</p>
  </div>

  <div class="usajobs-joa-sub-section">
    <div id="supervisory-status" class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-joa-sub-section__small-title">
        <span rel="tooltip" title="Determines if you will be a supervisor.">
          Supervisory status
        </span>
      </h5>
      <p class="usajobs-joa-sub-section__text">
      {% if job.SupervisoryStatus %}
      Yes
      {% else %}
      No
      {% endif %}
      </p>
    </div>

    <div id="promotion-potential" class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-joa-sub-section__small-title">
        <span rel="tooltip" title="Determines if you will be able to move to the next level within your grade.">
          Promotion potential
        </span>
      </h5>
      <p class="usajobs-joa-sub-section__text">
      {% if job.PromotionPotential %}
        {{ job.PromotionPotential }}
      {% else %}
      No
      {% endif %}
      </p>
    </div>
  </div>
</div>
