html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.usajobs-app_guide {
  background-color: #f1f1f1;
}

.usajobs-app_guide__body {
  position: relative;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  margin-top: 4.5rem;
  background-color: #f1f1f1;
}

.usajobs-app_guide__body::after {
  clear: both;
  content: "";
  display: table;
}

.usajobs-app_guide__body h1 {
  margin-top: 0;
}

.usajobs-app_guide .usajobs-panel-box {
  padding: 3rem;
  background-color: #d6d7d9;
}

.usajobs-app_guide .usajobs-panel-box h2:first-child,
.usajobs-app_guide .usajobs-panel-box h3:first-child,
.usajobs-app_guide .usajobs-panel-box h4:first-child {
  margin-top: 0;
}

.usajobs-app_guide-banner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  background-color: #205493;
  background-image: linear-gradient(to right,#205493 0%, #205493 50%, #112e51 60%, #112e51 100%);
}

.usajobs-app_guide-banner::after {
  clear: both;
  content: "";
  display: table;
}

.usajobs-app_guide-banner-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
}

.usajobs-app_guide-banner-container::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 48em) {
  .usajobs-app_guide-joa_summary-container {
    float: left;
    display: block;
    margin-right: 4.8291579146%;
    width: 30.1138947236%;
  }
  .usajobs-app_guide-joa_summary-container:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 62em) {
  .usajobs-app_guide-joa_summary-container {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
  }
  .usajobs-app_guide-joa_summary-container:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 48em) {
  .usajobs-app_guide-progress_indicator-container {
    float: left;
    display: block;
    margin-right: 4.8291579146%;
    width: 65.0569473618%;
  }
  .usajobs-app_guide-progress_indicator-container:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 62em) {
  .usajobs-app_guide-progress_indicator-container {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
  }
  .usajobs-app_guide-progress_indicator-container:last-child {
    margin-right: 0;
  }
}

.usajobs-app_guide-document_container {
  float: left;
  width: 31.7615656014%;
  margin-right: 4.8291579146%;
  min-width: 20.8rem;
}

@media screen and (min-width: 48em) {
  .usajobs-app_guide-document_container {
    float: left;
    display: block;
    margin-right: 4.8291579146%;
    width: 30.1138947236%;
  }
  .usajobs-app_guide-document_container:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 62em) {
  .usajobs-app_guide-document_container {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .usajobs-app_guide-document_container:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 75em) {
  .usajobs-app_guide-document_container {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .usajobs-app_guide-document_container:last-child {
    margin-right: 0;
  }
}

.usajobs-app_guide-resumes_container {
  position: relative;
  padding: 0;
}

.usajobs-app_guide-resumes .thumbnail {
  display: block;
  width: 195px;
}

.usa-accordion-bordered .usajobs-accordion {
  background-color: #f1f1f1;
}

.usa-accordion-bordered .usajobs-accordion button {
  border-radius: 0;
  background-color: #d6d7d9;
}

.usa-accordion-bordered .usajobs-accordion .usa-accordion-content {
  background-color: #f1f1f1;
  border-color: #d6d7d9;
}

.usajobs-required--section {
  position: relative;
  display: inline-block;
  top: -1rem;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #cd2026;
}
/*# sourceMappingURL=app-guide.css.map */