html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.usajobs-assistive-text {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

.usajobs-ds-home .usajobs-permalink {
  color: #0071bc;
}

.usajobs-ds-home .usajobs-permalink:visited {
  color: #0071bc;
}

.usajobs-ds-home-banner__body,
.usajobs-ds-home-banner--research__body {
  padding: 0 1.5rem;
  max-width: 160rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 48em) {
  .usajobs-ds-home-banner__body,
  .usajobs-ds-home-banner--research__body {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.usajobs-ds-home-banner__title, .usajobs-ds-home-banner__desc,
.usajobs-ds-home-banner--research__title,
.usajobs-ds-home-banner--research__desc {
  color: #ffffff;
  text-align: center;
}

.usajobs-ds-home-banner__desc,
.usajobs-ds-home-banner--research__desc {
  font-size: 2.4rem;
}

.usajobs-ds-home-banner__actions,
.usajobs-ds-home-banner--research__actions {
  width: 100%;
  text-align: center;
}

.usajobs-ds-home-banner {
  background-color: #205493;
}

.usajobs-ds-home-banner__actions {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.usajobs-ds-home-banner__actions > li {
  display: list-item;
  margin: 0;
}

.usajobs-ds-home-banner__actions > li:before {
  display: none;
}

.usajobs-ds-home-banner__actions > li:after {
  display: none;
}

.usajobs-ds-home-banner__actions li {
  display: inline-block;
}

.usajobs-ds-home-banner--research {
  background-color: #112e51;
}

.usajobs-ds-home-research-pillars {
  padding: 0 1.5rem;
}

@media screen and (min-width: 48em) {
  .usajobs-ds-home-research-pillars {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.usajobs-ds-home-research-pillars__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.usajobs-ds-home-research-pillars__list > li {
  display: list-item;
  margin: 0;
}

.usajobs-ds-home-research-pillars__list > li:before {
  display: none;
}

.usajobs-ds-home-research-pillars__list > li:after {
  display: none;
}

.usajobs-ds-home-research-pillars__list .usajobs-ds-home-research-pillars__pillar {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 37.5em) {
  .usajobs-ds-home-research-pillars__list .usajobs-ds-home-research-pillars__pillar {
    float: left;
    display: block;
    margin-right: 4.8291588071%;
    width: 47.5854205965%;
    min-height: 22.5rem;
  }
  .usajobs-ds-home-research-pillars__list .usajobs-ds-home-research-pillars__pillar:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 37.5em) {
  .usajobs-ds-home-research-pillars__list .usajobs-ds-home-research-pillars__pillar:nth-child(2n) {
    margin-right: 0;
  }
}

.usajobs-ds-home-research-pillars__description {
  margin-bottom: 4.5rem;
}

.usajobs-ds-home-research-pillars__body {
  padding: 0 1.5rem 1.5rem;
}

.usajobs-ds-home-research-pillars__icon .svg-inline--fa {
  display: inline-block;
  font-size: 6.8rem;
  text-align: center;
}

.usajobs-ds-home-research-pillars__icon.p1 .fa-compass {
  color: #981b1e;
}

.usajobs-ds-home-research-pillars__icon.p2 .fa-compass {
  color: #02bfe7;
}

.usajobs-ds-home-research-pillars__icon.p3 .fa-compass {
  color: #2e8540;
}

.usajobs-ds-home-research-pillars__icon.p4 .fa-compass {
  color: #fdb81e;
}

.usajobs-ds-home-research-pillars__icon.p5 .fa-compass {
  color: #0071bc;
}

.usajobs-ds-home-research-pillars__icon.p6 .fa-compass {
  color: #112e51;
}

.usajobs-ds-home-research-pillars__pillar-title {
  margin-top: 0;
  text-transform: uppercase;
}

.no-flexbox .usajobs-ds-home-research-pillars__pillar {
  display: table;
}

.no-flexbox .usajobs-ds-home-research-pillars__pillar::after {
  clear: both;
  content: "";
  display: block;
}

.no-flexbox .usajobs-ds-home-research-pillars__figure, .no-flexbox .usajobs-ds-home-research-pillars__body {
  display: table-cell;
}

.no-flexbox .usajobs-ds-home-research-pillars__body {
  width: -webkit-calc(100% -  11.3rem);
  width: calc(100% -  11.3rem);
}

.lt-ie9 .no-flexbox .usajobs-ds-home-research-pillars__body {
  width: 75%;
}

.flexbox .usajobs-ds-home-research-pillars__pillar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
}

.flexbox .usajobs-ds-home-research-pillars__figure {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
}

.flexbox .usajobs-ds-home-research-pillars__body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}

/*# sourceMappingURL=design-system-home.css.map */