html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.usajobs-assistive-text {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

.usajobs-joa .usajobs-joa-summary-title {
  margin-top: 0;
  padding: 1.5rem 1.5rem 0;
}

.usajobs-joa .usajobs-joa-actions-container {
  margin-top: 3rem;
  padding-bottom: 68rem;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa .usajobs-joa-actions-container {
    padding-bottom: 55rem;
  }
}

@media screen and (min-width: 62em) {
  .usajobs-joa .usajobs-joa-actions-container {
    padding-bottom: 0;
  }
}

.usajobs-joa .usajobs-content-gutter {
  padding: 0;
}

@media screen and (min-width: 48em) {
  .usajobs-joa .usajobs-content-gutter {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.usajobs-joa .usajobs-content-well {
  margin-bottom: 0;
}

.usajobs-joa .usajobs-joa-agency {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa .usajobs-joa-agency {
    left: 3rem;
    right: 3rem;
  }
}

@media screen and (min-width: 62em) {
  .usajobs-joa .usajobs-joa-agency {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    margin-bottom: 3rem;
  }
}

.usajobs-joa .usajobs-joa-accordion-title {
  display: none;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa .usajobs-joa-accordion-title {
    display: block;
  }
}

.usajobs-joa .usajobs-joa-accordion-content a:link {
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.usajobs-joa .usajobs-joa-who-may-apply {
  margin: 3rem 0 0 0;
  padding: 1.5rem;
  background-color: #dce4ef;
}

.usajobs-joa .usajobs-joa-who-may-apply h3 {
  margin-top: 0;
}

.usajobs-joa .usajobs-joa-agency-container {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  padding: 3rem;
}

.usajobs-joa .usajobs-joa-agency-container:last-child {
  margin-right: 0;
}

.usajobs-joa__authenticity-note {
  display: none;
  font-size: 1.4rem;
}

.usajobs-joa__authenticity-note a {
  display: inline-block;
  color: #0071bc;
}

.usajobs-joa__authenticity-note a:visited {
  color: #0071bc;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa .usajobs-joa-summary-container {
    width: 100%;
    margin-bottom: 3rem;
    background-color: #dce4ef;
  }
  .usajobs-joa .usajobs-joa-summary-container::after {
    clear: both;
    content: "";
    display: block;
  }
  .usajobs-joa .usajobs-joa-summary-col,
  .usajobs-joa .usajobs-joa-details-col {
    float: left;
    display: block;
    margin-right: 4.8291588071%;
    width: 47.5854205965%;
  }
  .usajobs-joa .usajobs-joa-summary-col:last-child,
  .usajobs-joa .usajobs-joa-details-col:last-child {
    margin-right: 0;
  }
  .usajobs-joa .usajobs-joa-details-col {
    margin-right: 0;
  }
  .usajobs-joa .usajobs-joa-accordion-trigger.is-open-at-M {
    position: absolute !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
  }
  .usajobs-joa .usajobs-joa-accordion-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 37.5em) and (min-width: 62em) {
  .usajobs-joa .usajobs-joa-accordion-content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 37.5em) and (min-width: 37.5em) {
  .usajobs-joa .usajobs-joa-accordion-content.is-open-at-M {
    padding-top: 0;
  }
  .usajobs-joa .usajobs-joa-accordion-content.is-open-at-M[aria-hidden=true] {
    display: block !important;
  }
}

@media screen and (min-width: 37.5em) and (min-width: 62em) {
  .usajobs-joa .usajobs-joa-accordion-description {
    padding-top: 0;
  }
}

@media screen and (min-width: 62em) {
  .usajobs-joa .usajobs-joa-actions-container {
    display: none;
  }
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa-bground {
    background-color: #f1f1f1;
  }
  .usajobs-joa-bground + .usajobs-footer--v2 .usa-footer-return-to-top {
    background-color: #f1f1f1;
  }
}

.usajobs-joa-section__help {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa-section__help {
    top: 1.5rem;
    right: 1.5rem;
  }
}

.usajobs-joa-sub-section {
  display: block;
}

.usajobs-joa-sub-section::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa-sub-section__container {
    float: left;
    display: block;
    margin-right: 4.8291588071%;
    width: 47.5854205965%;
  }
  .usajobs-joa-sub-section__container:last-child {
    margin-right: 0;
  }
}

.usajobs-joa-sub-section .usajobs-joa-sub-section__text {
  margin-top: 0;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa--v1-5__shell {
    margin-top: 3rem;
    background-color: #f1f1f1;
  }
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa--v1-5__accordion-trigger {
    position: absolute !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
  }
}

.usajobs-joa--v1-5__accordion-content {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa--v1-5__accordion-content {
    margin: 0 1.5rem 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .usajobs-joa--v1-5__accordion-content[aria-hidden=true] {
    display: block !important;
  }
}

@media screen and (min-width: 48em) {
  .usajobs-joa--v1-5__accordion-content {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 62em) {
  .usajobs-joa--v1-5__accordion-content {
    padding: 3rem;
  }
}

.usajobs-joa--v1-5__section-header {
  display: none;
  margin-top: 0;
  color: #046b99;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa--v1-5__section-header {
    display: block;
  }
}

.usajobs-joa--v1-5__disclaimer-inset {
  padding: 1.5rem;
  background-color: #4773aa;
  color: #ffffff;
}

.usajobs-joa--v1-5__disclaimer-inset a,
.usajobs-joa--v1-5__disclaimer-inset a:active,
.usajobs-joa--v1-5__disclaimer-inset a:hover,
.usajobs-joa--v1-5__disclaimer-inset a:visited {
  color: #ffffff;
}

@media screen and (min-width: 37.5em) {
  .usajobs-joa--v1-5__accordion-content .usajobs-joa__read-more-content[aria-expanded=false], .usajobs-joa--v1-5__accordion-content .usajobs-joa__read-more-content[aria-expanded=true] {
    background-image: none;
  }
}

.usajobs-joa--v1-5__accordion-content .usajobs-joa__read-more-content > ul {
  margin-top: 0;
}
/*# sourceMappingURL=joa.css.map */