<div class="usajobs-nav-login-gov-banner" id="usajobs-nav-login-gov-banner" data-object="alert">
  <div class="usajobs-nav-login-gov-banner__body">
    <p class="usajobs-nav-login-gov-banner__text">
      <strong>A new way to sign in.</strong> Create a <a class="usajobs-nav-login-gov-banner__link" href="https://www.usajobs.gov/Access/Transition">login.gov account</a> to sign into USAJOBS. <a class="usajobs-nav-login-gov-banner__link" href="http://usajobs.github.io/Help/faq/account/login-gov/">Learn more</a>
    </p>
    <div class="usajobs-nav-login-gov-banner__indicator"></div>
    <!-- The JS is not hooked up currently to close this banner -->
    <button class="usajobs-nav-login-gov-banner__dismiss" data-behavior="alert.close" >
      <span class="fa fa-times"></span>
      <span class="usajobs-assistive-text">Close</span>
    </button>
  </div>
</div>
