// Colors
$color-green-dark:     #2d8700;
$color-green-darker:   darken($color-green-dark, 10%);

// Only used for the active state of the alert/destructive button
// See https://github.com/USAJOBS/design-system/issues/1
$color-red-darkest:    #7B0608;

$color-black:          #000000; // If there is $color-white...

// Working around a bug...somewhere that was redefining this color as $color-cool-blue
$color-gray:           #5b616b; // lighten($color-gray-dark, 20%)
