// Layout variables

// Breakpoints
$small-screen:      481px;
$medium-screen:     600px;
$large-screen:      1201px;

$site-max-width:    rem(1200px);
$text-max-width:    rem(620px);
$input-max-width:   46rem;
$site-margins:      3rem;
$article-max-width: 600px;
$grid-margins:      3rem;
