// Layout variables

// Breakpoints
$small-screen:      481px;
$medium-screen:     600px;
$large-screen:      1201px;

$site-max-width:      rem(1200px);
$site-max-width-L:    rem(1600px);
$lead-max-width:      77rem;
$input-max-width:     46rem;
$button-max-width:    rem(304px);
$article-max-width:   rem(600px);
$text-max-width:      rem(620px);
$nav-width:           rem(951px);

$site-margins:        3rem;
$site-margins-mobile: 1.5rem;
$grid-margins:        3rem;
