// Spacing

$size-XS            : 0.25rem;          // 2.5px
$size-base          : 0.5rem;           // 5px
$size-S             : $size-base * 2;   // 10px
$size-default       : $size-base * 3;   // 15px
$size-M             : $size-base * 6;   // 30px
$size-L             : $size-base * 9;   // 45px
$size-XL            : $size-M * 2;      // 60px

