// Typography

$h1-font-size:  44px;
$h2-font-size:  34px;
$h3-font-size:  24px;
$h4-font-size:  19px;
$h5-font-size:  16px;
$h6-font-size:  13px;

$base-font-size-px:   17px;
$base-font-size:      rem($base-font-size-px);
$small-font-size:     rem(14px);
$xsmall-font-size:    rem(12px);
$lead-font-size:      rem(19px);
