<header class="usajobs-site-header" role="banner" aria-label="header">
  {% include components/nav/_gov-banner.html id="core-auth" %}
  <nav class="usajobs-nav usajobs-nav--core-v2 has-secondary-nav" role="navigation" aria-label="main navigation" data-object="nav">
    <div class="usajobs-nav__body usajobs-nav--core-v2__body">
      <div class="usajobs-nav__header-container usajobs-nav--core-v2__header-container">
        <div class="usajobs-nav__header usajobs-nav--core-v2__header">
          <div class="usajobs-nav__brand-container usajobs-nav--core-v2__brand-container">
            <a class="usajobs-nav__brand usajobs-nav--core-v2__brand" href="/">
              <span class="logo usajobs-nav--core-v2__logo" title="USAJOBS logo"></span>
            </a>
          </div>
          <div class="usajobs-nav__menu" id="usajobs-menu">
            <ul role="menubar">
              <li class="usajobs-nav__menu-container usajobs-nav__account usajobs-nav--core-v2__menu-container" role="presentation">
                <a id="top-nav-account" class="usajobs-nav__section-link usajobs-nav--core-v2__section-link is-active" href="https://www.usajobs.gov/Applicant/MyAccount/Home/" aria-controls="usajobs-profile-secondary-nav" href="#account-menu" title="Account"
                  role="menuitem">
                  <span class="fas fa-user fa-fw"></span>
                  <span class="usajobs-nav__account_name">CR</span>
                  <span class="usajobs-nav__first_name usajobs-nav--core-v2__first-name">Christopher</span>
                </a>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__help usajobs-nav--core-v2__menu-container usajobs-nav--core-v2__help" role="presentation">
                <a id="top-nav-help" class="usajobs-nav__section-link usajobs-nav--core-v2__section-link" aria-controls="usajobs-help-secondary-nav" href="http://usajobs.github.io/Help" title="Help" role="menuitem">
                  <span class="fas fa-question-circle fa-fw"></span> Help
                </a>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__menu-search usajobs-nav--core-v2__menu-container" data-state="is-closed" role="presentation">
                <a id="top-nav-search" data-behavior="nav.menu.search-toggle" aria-controls="usajobs-search-form--core-v2-auth" class="usajobs-nav__section-link usajobs-nav--core-v2__section-link" href="/" title="Job Search" role="menuitem">
                  <span class="fas fa-search fa-fw"></span> Search
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="usajobs-search-form--core-v2-auth" class="usajobs-nav__search" aria-expanded="false" role="menubar" aria-label="Search bar" aria-labelledby="top-nav-search">
      {% include components/nav/_search-form.html %}
    </div>
  </nav>
</header>
{% include components/nav/secondary/v3/account.html %}