<header class="usajobs-site-header" role="banner" aria-label="header">
  {% include components/nav/_gov-banner.html %}
  <nav class="usajobs-nav usajobs-nav--core-v2" role="navigation" aria-label="main navigation" data-object="nav">
    <div class="usajobs-nav__body usajobs-nav--core-v2__body">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header usajobs-nav--core-v2__header">
          <div class="usajobs-nav__brand-container usajobs-nav--core-v2__brand-container">
            <a class="usajobs-nav__brand usajobs-nav--core-v2__brand" href="/">
              <span class="logo usajobs-nav--core-v2__logo" title="USAJOBS logo"></span>
            </a>
          </div>
          <div class="usajobs-nav__menu" id="usajobs-menu">
            <ul>
              <li class="usajobs-nav__menu-container usajobs-nav__account usajobs-nav--core-v2 usajobs-nav--core-v2__menu-container">
                <a class="usajobs-nav__section-link usajobs-nav--core-v2__section-link menu-toggle" href="https://www.usajobs.gov/Applicant/MyAccount/Home/" title="Account">
                  <span class="fas fa-sign-in-alt fa-fw" data-fa-transform="right-6"></span>
                  <span class="usajobs-nav__account_name">Sign In</span>
                  <span class="usajobs-nav__first_name usajobs-nav--core-v2__first_name">Sign In</span>
                </a>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__help usajobs-nav--core-v2__menu-container usajobs-nav--core-v2__help">
                <a class="usajobs-nav__section-link usajobs-nav--core-v2__section-link is-active" href="http://usajobs.github.io/Help" title="Help">
                  <span class="fas fa-question-circle fa-fw"></span>Help
                </a>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__menu-search usajobs-nav--core-v2__menu-container" data-state="is-closed">
                <a data-behavior="nav.menu.search-toggle" aria-controls="usajobs-search-form--core-v2-unauth" class="usajobs-nav__section-link usajobs-nav--core-v2__section-link" href="/" title="Job Search">
                  <span class="fas fa-search fa-fw" data-fa-transform="right-8"></span> Search
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="usajobs-search-form--core-v2-unauth" class="usajobs-nav__search" aria-expanded="false" role="menu">
      {% include components/nav/_search-form.html %}
    </div>
  </nav>
</header>
