// App Guide Layout

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-app_guide {
  background-color: $color-gray-lightest;

  &__body {
    position: relative;
    @include outer-container();
    max-width: $site-max-width;
    margin-top: $size-L;
    background-color: $color-gray-lightest;

    h1 {
      margin-top: 0;
    }
  }

  .usajobs-panel-box {
    padding: $size-M;
    background-color: $color-gray-lighter;

    h2:first-child,
    h3:first-child,
    h4:first-child {
      margin-top: 0;
    }
  }
}

.usajobs-app_guide-banner {
  @include outer-container();
  max-width: none;
  // background-color: $color-primary-darker;
  @include linear-gradient(to right, $color-primary-darker 0%, $color-primary-darker 50%, $color-primary-darkest 60%, $color-primary-darkest 100%);
}

.usajobs-app_guide-banner-container {
  @include outer-container();
  max-width: $site-max-width;
}

.usajobs-app_guide-joa_summary-container {
  @include media($ML) {
    @include span-columns(2);
  }
  @include media($MLL) {
    @include span-columns(3);
  }
}

.usajobs-app_guide-progress_indicator-container {
  @include media($ML) {
    @include span-columns(4);
  }
  @include media($MLL) {
    @include span-columns(9);
  }
}

.usajobs-app_guide-document_container {
  float: left;
  width: 31.7615656014%;
  margin-right: 2.3576515979%;
  min-width: 195px;

  @include media($ML) {
    @include span-columns(2);
  }

  @include media($MLL) {
    @include span-columns(4);
  }

  @include media($XL) {
    @include span-columns(4);
  }
}

.usajobs-app_guide-resumes {
  padding: 0;

  // This is just here to demo the resume grid
  .thumbnail {
    display: block;
    min-width: 195px;
  }
}

.usa-accordion-bordered {
  .usajobs-accordion {
    background-color: $color-gray-lightest;

    button {
      border-radius: 0;
      background-color: $color-gray-lighter;
    }

    .usa-accordion-content {
      background-color: $color-gray-lightest;
      border-color: $color-gray-lighter;
    }
  }
}

.usajobs-required--section {
  position: relative;
  display: inline-block;
  top: -#{$size-S};
  padding-left: $size-base;
  font-size: $small-font-size;
  font-weight: $font-normal;
  color: $color-secondary-dark;
}
