// Layouts: Authentication (Sign In, Create account, Account activation)

@import '../base-shared';

.usajobs-auth {
  @include media($M) {
    background-color: $color-gray-lightest;
  }

  .usajobs-shell {
    @include media($M) {
      background-color: $color-gray-lightest;
    }
  }

  .usajobs-button_bar--slim,
  .usajobs-login-terms {
    max-width: $article-max-width;
  }

  &.create-account-success {
    .usajobs-create-account-content {
      min-height: 60vh;
    }
  }

  &__terms {
    @include media($L) {
      margin-top: $size-XXL;
    }
  }

  &__security-tips {
    p,
    li {
      font-size: $small-font-size;
    }
  }

  &__content-well {
    background-color: $color-white;
    padding: $size-default;

    @include media($M) {
      margin-top: $size-M;
    }
  }

  &__return-home {
    margin-top: $size-M;
    font-size: $small-font-size;
  }
}

.usajobs-login-terms-accordion {
  width: 100%;
}

.usajobs-login-terms {
  p {
    font-size: $small-font-size;
  }
}

.usajobs-auth--tall {
  min-height: 80vh;
}
