// Layouts: Authentication (Sign In, Create account, Account activation)

@import '../base-shared';

.usajobs-auth {
  .usajobs-button_bar--slim,
  .usajobs-login-terms {
    max-width: $article-max-width;
  }

  &.create-account-success {
    .usajobs-create-account-content {
      min-height: 60vh;
    }
  }

  &__terms {
    @include media($L) {
      margin-top: $size-XXL;
    }
  }

  &__security-tips {
    p,
    li {
      font-size: $small-font-size;
    }
  }
}

.usajobs-login-terms-accordion {
  width: 100%;
}

.usajobs-login-terms {
  p {
    font-size: $small-font-size;
  }
}
