// Layouts: Authentication (Sign In, Create account, Account activation)

@import "../base-shared";

.usajobs-auth {
  @include media($M) {
    background-color: $color-gray-lightest;
  }

  .usajobs-shell {
    @include media($M) {
      background-color: $color-gray-lightest;
    }
  }

  .usajobs-button_bar--slim,
  .usajobs-login-terms {
    max-width: $article-max-width;
  }

  &.create-account-success {
    .usajobs-create-account-content {
      min-height: 60vh;
    }
  }

  &__terms {
    @include media($L) {
      margin-top: $size-XXL;
    }
  }

  &__security-tips {
    p,
    li {
      font-size: $small-font-size;
    }
  }

  &__content-well {
    background-color: $color-white;
    padding: $size-default;

    @include media($M) {
      margin-top: $size-M;
    }
  }

  &__return-home {
    margin-top: $size-M;
    font-size: $small-font-size;
  }

  p.usajobs-auth__agree-to-terms {
    margin-top: $size-default;
    font-size: $small-font-size;
  }

  &__piv {
    border-top: 1px solid $color-gray-light;

    @include media($M) {
      border-top: 0px;
      border-left: 1px solid $color-gray-light;
      padding-left: $size-M;
    }

    @include media($L) {
      padding-left: $size-L;
    }
  }

  &__piv-card {
    display: block;
    margin-top: $size-M;
  }

  &__piv-first-time {
    margin-top: $size-M;
  }
}

.usajobs-login-terms-accordion {
  width: 100%;
}

.usajobs-login-terms {
  p {
    font-size: $small-font-size;
  }
}

.usajobs-auth--tall {
  min-height: 80vh;
}

.usajobs-auth--wide {
  @include media($L) {
    min-width: 900px;
  }
}
