// JOA Print styles

@import "../base-shared";

.usajobs-joa {
  // Go small so it can possibly fit within 5 pages.
  // Plus, this size looks sharpest once printed out.
  font-size: rem(13);

  // Hide a bunch of things that are not needed on a print out
  .usajobs-nav,
  .usajobs-site-header,
  .usajobs-nav-secondary,
  .usajobs-site-header,
  .usajobs-joa-header,
  .usajobs-joa-prev-next,
  .usajobs-joa-actions__col-apply,
  .usajobs-joa-actions__col-sub-actions,
  .usa-footer,
  .usajobs-joa__authenticity-note {
    display: none;
  }

  .usajobs-joa-banner__title {
    @include h3();
    margin: 0;
  }

  .usajobs-joa-banner--pilot__dept,
  .usajobs-joa-banner--pilot__agency {
    color: $color-black;
  }

  // Open up all of the drawers
  .usa-accordion-button {
    background-image: inherit;
    background-color: $color-white;
    padding-left: 0;
  }

  .usa-accordion-bordered .usa-accordion-content,
  .usa-accordion-content[aria-hidden="true"] {
    display: block !important;
    border: 0px;
    box-shadow: inherit;
    padding-left: 0;
    padding-right: 0;
  }

  // Align the intro section into 2 columns
  .usajobs-joa-summary--pilot__list > .usajobs-joa-summary--pilot__item,
  .usajobs-joa-sub-section__container {
    @include span-columns(6, 12);
  }
  .usajobs-joa-summary--pilot__list
    > .usajobs-joa-summary--pilot__item:nth-child(2n),
  .usajobs-joa-sub-section__container:nth-child(2n) {
    @include omega();
  }

  .usajobs-joa-actions--pilot.is-wide {
    margin: 0;
    padding: 0;
  }

  // Wratchet down font-sizes
  .usajobs-joa-section--pilot__header {
    @include h3();
  }

  .usajobs-joa-pilot__shell {
    padding-top: $size-base;
  }

  .usajobs-content-well,
  .usajobs-rightrail {
    margin: 0;

    .img-responsive {
      display: none;
    }

    .row {
      @include clearfix();
    }

    h3 {
      font-size: $h5-font-size;
      margin: $size-S 0 $size-base;

      & + p {
        margin-top: 0;
      }
    }

    h4 {
      @include h5();
      margin: 0;
    }

    ul {
      margin-bottom: $size-XS;

      li {
        line-height: 1.2;
      }
    }

    p {
      font-size: rem(13);
      line-height: 1.2;
    }

    br {
      display: block;
      margin: 0;
      line-height: 1;
    }

    p + br + p {
      margin-top: 0;
    }

    a:after {
      display: block;
      content: " (" attr(href) ") ";
      font-size: rem(11);
      font-weight: normal;
    }

    // Make the this job is open to full width.
    .usajobs-joa-intro-hiring-paths--pilot__list
      > .usajobs-joa-intro-hiring-paths--pilot__item {
      float: none;
      width: 100%;
    }
  }
}
