// JOA Print styles

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

@media print {
  .usajobs-joa {
    background-size: $color-white;
    font-size: rem(13);

    .usajobs-nav {
      display: none;
    }

    .usajobs-content-well {
      @include span-columns(12);

      .img-responsive {
        display: none;
      }

      .row {
        @include clearfix();
        // margin-bottom: $size-XS();
      }

      .usajobs-width-one-whole {
        @include span-columns(12);
      }

      .usajobs-width-one-third {
        @include span-columns(4);
      }

      .usajobs-width-two-thirds {
        @include span-columns(8);
      }

      h3 {
        font-size: $h5-font-size;
        margin: $size-S 0 $size-base;

        & + p {
         margin-top: 0;
        }
      }

      ul {
        margin-bottom: $size-XS;

        li {
          line-height: 1.2;
        }
      }

      p {
        line-height: 1.2;
      }

      br {
        display: block;
        margin: $size-S 0;
        line-height: 1;
      }

      br + br {
        margin: 0;
      }

      p + br + p {
        margin-top: 0;
      }
    }

    #jobinfo1,
    #jobinfo2,
    #jobsummary,
    .noUSAJobsCSS,
    .content {
      @include span-columns(12);
      margin-right: 0;

      p:first-child {
        margin-top: 0;
      }
    }

    #jobinfo1 {
      margin-bottom: $size-S;
    }

    #agencycontact {
      address {
        @include span-columns(6);
      }
    }
  }
}
