// Profile (including layouts or Documents and Username & Password)

@import '../base-shared';

@import 'account';
@import '../home-variables';

.usajobs-profile {
  @include accountLayout(true);
}

.usajobs-profile {
  &__body {
    fieldset {
      width: 100%;
      margin-bottom: $size-L;

      legend {
        @include h3();
        margin: 0;
      }
    }
  }

  &__section-title {
    max-width: $input-max-width;

    &.is-complete::before {
      @include icon-content("", rem(30px), rem(30px), "../../img/icons/profile/check-circle.svg");
      vertical-align: text-top;
    }
  }

  &__required-section {
    float: right;
    padding-top: $size-default;
    font-size: $small-font-size;
    color: $color-secondary;
  }
}
