// JOA - Agency

@import '../../base-shared';

.usajobs-joa-agency {
  @include row();
  margin-top: $size-XL;
  padding: $size-default;
  border: 1px solid $color-gray-light;

  &__agency {
    display: block;
    text-decoration: none;
  }

  &__announcement-number,
  &__control-number {
    margin-top: 0;
  }

  &__details,
  &__address {
    margin-bottom: $size-default;

    @include media($M) {
      @include span-columns(3, 6);
    }
  }

  &__address {
    @include media($M) {
      @include omega();
    }
  }
}

.usajobs-joa .usajobs-joa-agency--v1-5,
.usajobs-joa-agency--v1-5 {
  @include row();
  position: relative;
  margin-top: $size-default;
  padding: $size-default;
  background-color: $color-gray-lightest;

  &__contact-info {
    margin-top: 0;
  }

  &__contact-name {
    font-weight: normal;
  }

  .fa {
    color: $color-primary;
  }

  &__learn-more {
    clear: both;
    @include clearfix();
    display: block;
    width: 100%;
    padding: $size-default 0;
  }
}

.usajobs-joa .usajobs-joa-agency-contact--v1-6,
.usajobs-joa-agency-contact--v1-6 {
  &__sub-title {
    // color: $color-primary-alt-darkest;
  }

  &__list-thumbs {
    @include unstyledList();
  }

  &__item {
    .fa-thumbs-o-up {
      color: $color-green;
    }

    .fa-thumbs-o-down {
      color: $color-secondary;
    }
  }

  &__timeframe {
    margin-top: $size-base;
    font-style: italic;
  }
}

.usajobs-joa-agency-modal {
  &__sub-title {
    font-size: $h3-font-size;
    margin: 0;
  }

  &__lead {
    font-size: $h4-font-size;
    line-height: 1.7;
    margin-top: 0;
  }

  &__contact-info .usajobs-joa-agency--v1-5 {
    background-color: $color-white;
    padding-left: 0;
    padding-right: 0;
  }

  &__url {
    padding: $size-default;
    background-color: $color-gray-cool-light;
    text-align: left;
  }

  .usajobs-joa-agency--v1-5__learn-more {
    display: none;
  }
}
