// JOA -  Fair and transparent

@import "../../base-shared";

.usajobs-joa-fair-and-transparent {
  &__list {
    @include unstyledList();
    @include row();
  }

  &__list > &__item {
    @include media($M) {
      @include span-columns(3, 6);

      &:nth-child(2n) {
        @include omega();
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: $size-S 0;
  }
}
