// JOA - Locations

@import '../../base-shared';

.usajobs-joa-locations {

  &__sub-title {
    margin-top: $size-base;
  }

  &__list {
    @include unstyledList();
    @include clearfix();
    margin-top: $size-S;
  }

  &__list > &__item {
    margin-bottom: $size-default;

    @include media($SM) {
      float: left;
      width: 50%;
    }
  }

  &__link,
  &__link:visited {
    text-decoration: none;
    color: $color-base;

    .fa-map-marker-alt {
      color: $color-primary-alt;
    }
  }

  &__body {
    padding: 0 $size-S 0 $size-base;
  }

  &__location {
    @include h4();
    margin: 0;
    font-weight: normal;
  }

  &__street,
  &__city {
    display: block;
  }

  &__street,
  &__vacancies {
    font-size: $small-font-size;
  }

  &__city {
    font-weight: bold;
    line-height: 1.2;
  }

  &__reveal-link,
  &__reveal-link:visited {
    color: $color-primary;
  }

  &__reveal-link {
    margin: $size-S 0 $size-default;
    background-color: $color-white;
    text-align: left;
  }

  &__more-locations {
    padding: $size-default 0;

    &[aria-hidden=true] {
      display: none;
    }
  }
}

.main-content .usajobs-joa-locations__link {
  text-decoration: none;
}

.no-flexbox .usajobs-joa-locations {
  &__link {
    @include clearfix();
    display: table;
  }

  &__figure,
  &__body {
    display: table-cell;
  }

  &__body {
    $icon-width: rem(9.72px);
    $icon-padding: $size-base;
    $body-padding: $size-S;
    
    @include calc(width, "100% - " ($icon-width + $icon-padding + $body-padding));

    .lt-ie9 & {
      width: 75%;
    }
  }
}

.flexbox .usajobs-joa-locations {
  &__link {
    @include display(flex);
    @include align-items(top);
  }

  &__figure {
    @include flex-shrink(0);
  }

  &__body {
    @include flex(1);
    min-width: 0;
  }
}

.usajobs-joa-locations--v1-5 {
  position: relative;
  margin-bottom: $size-default;
  background-color: $color-white;

  @include media($M) {
    padding: $size-default;
    @include boxShadow(1);
  }

  @include media($L) {
    padding: $size-M;
  }

  &__header {
    margin-top: 0;
    color: $color-primary-alt-darkest;
  }

  &__commuting-distance {
    margin-top: 0;

    .fa-info-circle {
      color: $color-primary;
    }
  }
}
