// JOA - Nav

@import '../base-shared';

.usajobs-joa-nav {
  display: none;
  @include boxShadow(1);

  @include media($M) {
    display: block;

    &.is-fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: $layer-panel;
      @include boxShadow(2);
    }
  }

  &__body {
    padding: 0 $size-default;
    border-bottom: 0;

    @include media($ML) {
      padding-left: $size-M;
      padding-right: 0;
    }
  }

  &__item {
    font-size: $small-font-size;
    color: $color-base;

    &:visited {
      color: $color-base;
    }

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }

    &.is-active,
    &[data-state="is-active"] {
      color: $color-base;
      border-bottom: 3px solid $color-gold;
    }
  }
}
