// JOA - Occupations

@import '../../base-shared';

.usajobs-joa-occupations {
  position: relative;
  padding: $size-default;
  background-color: $color-primary-alt-lightest;

  @include media($M) {
    margin: 0 $size-default $size-default;
  }

  @include media($ML) {
    margin-left: 0;
    margin-right: 0;
  }

  &__title {
    margin-top: 0;
  }

  &__list {
    @include unstyledList();

    @include media($SM) {
      display: inline-flex;
    }
  }

  &__item {
    @include media($SM) {
      margin-right: $size-S;
    }
  }

  &__mco-tag {
    @include h3();
    display: block;
    padding: $size-base 0;
    margin: $size-default 0;
  }

  &__link {
    border-radius: .5rem;
  }

  &__series {
    display: block;
    padding: $size-base 0;
    font-size: $h4-font-size;
  }

  .is-mco {
    text-decoration: none;

    .usajobs-joa-occupations__series-link {
      text-decoration: underline;
    }

    &::before {
      content: '\2022';
      padding-right: $size-base;
      vertical-align: middle;
      color: $color-primary-alt;
      font-size: $h2-font-size;
      line-height: 1;
    }
  }

  &__mco-desc {
    font-style: italic;
    font-size: $small-font-size;
  }
}
