// JOA - Section

@import "../../base-shared";

.usajobs-joa-section {
  position: relative;
  padding-left: $size-default;
  padding-right: $size-default;
  background-color: $color-white;

  @include media($M) {
    margin: 0 $size-default $size-default;
    padding: $size-default;
    @include boxShadow(1);

    &[aria-hidden="true"] {
      display: block !important;
    }
  }

  @include media($ML) {
    margin-left: 0;
    margin-right: 0;
    padding: $size-M;
  }

  p a {
    word-break: break-all;
  }

  &__header {
    display: none;
    margin-top: 0;
    color: $color-primary-alt-darkest;

    @include media($M) {
      display: block;
    }
  }

  &__help {
    position: absolute;
    top: $size-base;
    right: $size-base;
    font-size: $small-font-size;

    @include media($M) {
      top: $size-default;
      right: $size-default;
    }
  }
}

.usajobs-joa-section.usajobs-joa-section--pilot {
  margin: 0 0 $size-SM 0;

  @include media($M) {
    margin: 0 0 $size-SM 0;
    padding: 0 $size-default;
    box-shadow: inherit;
  }

  @include media($ML) {
    margin: 0 0 $size-M 0;
    padding: 0;
  }
}

.usajobs-joa-section--pilot {
  &__header {
    color: $color-primary-darkest;
  }
}

// Fighting Standards specificity
.usajobs-joa-section .usajobs-joa__read-more-content {
  @include media($M) {
    &[aria-expanded="false"],
    &[aria-expanded="true"] {
      background-image: none;
    }
  }

  > ul {
    margin-top: 0;
  }
}

// Sub-section: Preview Questionnaire
.usajobs-joa-section .usajobs-joa-preview-questionnaire {
  margin: $size-M 0;

  &__recommendation {
    font-size: $small-font-size;
    font-style: italic;
  }
}

.usajobs-joa-sub-section {
  @include row();

  &__container {
    @include media($M) {
      @include span-columns(3, 6);
    }
  }
}

.usajobs-joa-sub-section--two-columns {
  &__container {
    @include media($M) {
      @include span-columns(3, 6);
    }
  }
}

.usajobs-joa-sub-section--three-columns {
  &__container {
    @include media($M) {
      @include span-columns(2, 6);
    }
  }
}

// Fighting Standards specificity
.usajobs-joa-sub-section .usajobs-joa-sub-section__text,
.usajobs-joa-agency--v1-5 .usajobs-joa-sub-section__text {
  margin-top: 0;
}
