<div class="usajobs-search">
  <div class="usajobs-search-result--card">
    <a href="https://www.usajobs.gov/GetJob/ViewDetails/435870100?PostingChannelID=RESTAPI" class="usajobs-search-result--card__body">
      <h3 class="usajobs-search-result__title" itemprop="title">
          Interdisciplinary (Ecologist/Botanist)
      </h3>
      <div class="usajobs-search-result__summary">
        <div class="usajobs-search-result__summary-body--single-col">
          <h4 class="usajobs-search-result__department">
            Department of the Interior
          </h4>
          <h5 class="usajobs-search-result__agency">
            US Fish and Wildlife Service
          </h5>
          <h4 class="usajobs-search-result__location" itemprop="addressLocality">

            <span class="usajobs-search-result__location-link viewmap" data-object-trigger="modal" data-target="#modal-job-map" data-name=" " data-coord-lat="38.89051" data-coord-long="-77.086295" itemprop="addressLocality">
              <i class="fa fa-map-marker"></i> Fremont, CA
            </span>

          </h4>
          <p class="usajobs-search-result__multi-line">
            Permanent &bull; Full Time &bull;
            Starting at $47,525 &bull; GS07 - 09
          </p>
          <p class="usajobs-search-result__closing-date">
            <i class="fa fa-clock-o is-near-closing"></i> Closes 6/3/2016
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
