<div class="usajobs-open-opps-opportunity">
  <div class="usajobs-open-opps-opportunity__body">
    <a href="#opp-url" class="usajobs-open-opps-opportunity__title" itemprop="title">
      UX researchers needed to map government innovator experiences
    </a>
    <p class="usajobs-open-opps-opportunity__desc">
      We are the Corporate Headquarters for all civilian HR policy DoD-wide. We are the authority and creator of HR policy, which affects over 900 thousand civilian employees throughout the world.
    </p>
    <p class="usajobs-open-opps-opportunity__agency-only">
      For DoD employees only
    </p>
    <ul class="usajobs-open-opps-opportunity__details">
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="fas fa-map-marker"></span> Virtual
      </li>
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="fas fa-cog"></span> <a href="#mobile-testing">mobile testing</a>, <a href="#compatibility-testing">compatability testing</a>, <a href="railroad-retirement-board">railroad retirement board</a>
      </li>
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="far fa-clock"></span> Up to 2 hours
      </li>
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="far fa-calendar"></span> One time
      </li>
    </ul>
    <div class="usajobs-open-opps-opportunity-requestor">
      <div class="usajobs-open-opps-opportunity-requestor__figure">
        <img src="{{ site.baseurl }}/img/profile-photo.svg">
      </div>
      <div class="usajobs-open-opps-opportunity-requestor__body">
        <span class="usajobs-open-opps-opportunity-requestor__by">
          Requested by
        </span>
        <p class="usajobs-open-opps-opportunity-requestor__name">
          Antonio Conte
        </p>
      </div>
      <div class="usajobs-open-opps-opportunity-requestor__status">
        <div class="usajobs-pill--opportunity-status status-open"> 
          Open
        </div>
      </div>
    </div>
  </div>
</div>
