{% assign opp = site.data.opportunities[include.opp-id] %}

<div class="usajobs-open-opps-opportunity">
  <div class="usajobs-open-opps-opportunity__body">
    <a href="{{ opp.url }}" class="usajobs-open-opps-opportunity__title" itemprop="title">
      {{ opp.title }}
    </a>
    <p class="usajobs-open-opps-opportunity__desc">
      {{ opp.description }}
    </p>
    {% if opp.hiringOrganization.agency-only %}
    <p class="usajobs-open-opps-opportunity__agency-only">
      For {{ opp.hiringOrganization.name }} employees only
    </p>
    {% endif %}
    <ul class="usajobs-open-opps-opportunity__details">
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="fas fa-map-marker"></span> {{ opp.jobLocation.name }}
      </li>
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="fas fa-cog"></span>
        {% for skill in opp.skills %}
          <a href="#{{ skill }}">{{ skill }}</a>,
        {% endfor %}
      </li>
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="far fa-clock"></span> {{ opp.workHours }}
      </li>
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="far fa-calendar"></span> {{ opp.duration }}
      </li>
    </ul>
    <div class="usajobs-open-opps-opportunity-requestor">
      <div class="usajobs-open-opps-opportunity-requestor__figure">
        <img src="{{ site.baseurl }}/img/profile-photo.svg">
      </div>
      <div class="usajobs-open-opps-opportunity-requestor__body">
        <span class="usajobs-open-opps-opportunity-requestor__by">
          Requested by
        </span>
        <p class="usajobs-open-opps-opportunity-requestor__name">
          {{ opp.hiringOrganization.employee }}
        </p>
      </div>
      <div class="usajobs-open-opps-opportunity-requestor__status">
        <div class="usajobs-pill--opportunity-status status-open">
          {{ opp.status }}
        </div>
      </div>
    </div>
  </div>
</div>
