<div class="usajobs-grid">
  <div class="usa-width-one-half">
    <p>Feedback? Create an issue on the <a href="{{ site.repository.url }}">GitHub repository</a>.</p>
  </div>
  <div class="usa-width-one-half usa-end-row">
    <p>
      This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.
      The source code is available at <a href="{{ site.repository.url }}">github.com/USAJOBS/design-system</a>
    </p>
    <p>As a work of the United States Government, this project is <a href="{{ site.repository.url }}/LICENSE.md">in the public domain</a> within the United States.</p>
  </div>
</div>
