<a class="usa-skipnav" href="#main-content">Skip to main content</a>

<header class="usajobs-site-header" role="banner" aria-label="header">
  {% include components/nav/_gov-banner.html %}
  <nav class="usa-site-navbar">
    <a class="menu-btn" href="#">Menu</a>
    <div class="logo" id="logo">
      <a class="logo-link" href="{{ site.baseurl }}/" title="Home" aria-label="Home">
        USAJOBS Design System
      </a>
    </div>
    <ul class="usa-button-list usa-unstyled-list">
      <li>
        <a class="usa-button usa-button-outline" href="{{ site.repository.url }}">
          View on GitHub
        </a>
      </li>
    </ul>
  </nav>
</header>

<div class="overlay"></div>
