<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include components/nav/_gov-banner.html %}
<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-mega-logo">
      <em class="usa-logo-text">
        <a class="usajobs-documentation-header__dslink" href="{{ site.baseurl }}/" title="Home" aria-label="Home">
          {% include logo/red.svg %}
          Design System
        </a>
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>

  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <span class="fas fa-times"></span>
      </button>
      <ul class="usa-nav-primary usa-accordion">
        <li>
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-mega-nav-section-one">
            <span>Base elements</span>
          </button>
          <ul id="extended-mega-nav-section-one" class="usa-nav-submenu usa-megamenu usa-grid-full" aria-hidden="true">
            <div class="usa-megamenu-col">
              <li>
                <a href="{{ site.baseurl }}/visual-style/#colors">Colors</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#typography">Typography</a>
              </li>
              <li>
                <a {% if current[1] == 'buttons' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/buttons/">Buttons</a>
              </li>
              <li>
                <a {% if current[1] == 'grid' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/grid/">Grid</a>
              </li>
              <li>
                <a {% if current[1] == 'shell' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/shell/">Shell</a>
              </li>
              <li>
                <a {% if current[1] == 'spacing' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/spacing/">Spacing</a>
              </li>
            </div>
            <div class="usa-megamenu-col">
              <li>
                <a href="{{ site.baseurl }}/visual-style/#links">Links</a>
              </li>
              <li>
                <a {% if current[1] == 'icons' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/icons/">Icons</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#logo">Logo</a>
              </li>
            </div>
            <div class="usa-megamenu-col">
              <li>
                <a {% if current[1] == 'form-controls' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/form-controls/"><strong>Forms</strong></a>
              </li>
              <li><a href="{{ site.baseurl }}/form-controls/#contextual-help">Contextual Help</a></li>
              <li><a href="{{ site.baseurl }}/form-controls/#disabled">Disabled</a></li>
              <li><a href="{{ site.baseurl }}/form-controls/#dropdown">Dropdown</a></li>
              <li><a href="{{ site.baseurl }}/form-controls/#labels">Labels</a></li>
            </div>
            <div class="usa-megamenu-col">
              <li><h5>Forms continued</h5></li>
              <li><a href="{{ site.baseurl }}/form-controls/#layout">Layouts</a></li>
              <li><a href="{{ site.baseurl }}/form-controls/#legends">Legends</a></li>
              <li><a href="{{ site.baseurl }}/form-controls/#reveal-fields">Reveal fields</a></li>
              <li><a href="{{ site.baseurl }}/form-controls/#validation">Validation</a></li>
            </div>
          </ul>
        </li>
        <li>
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-mega-nav-section-two">
            <span>Components</span>
          </button>
          <ul id="extended-mega-nav-section-two" class="usa-nav-submenu usa-megamenu usa-grid-full" aria-hidden="true">
            <div class="usa-megamenu-col">
              <li>
                <a {% if current[1] == 'alerts' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/alerts/">Alert</a>
              </li>
              <li>
                <a {% if current[1] == 'button-bar' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/button-bar/">Button Bar</a>
              </li>
              <li>
                <a {% if current[1] == 'card' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/card/">Card</a>
              </li>
              <li>
                <a {% if current[1] == 'card-button' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/card-button/">Card button</a>
              </li>
              <li>
                <a {% if current[1] == 'drawer' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/drawer/">Drawer</a>
              </li>
              <li>
                <a {% if current[1] == 'event' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/event/">Event</a>
              </li>
              <li>
                <a {% if current[1] == 'modals' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/modals/">Modal</a>
              </li>
              <li>
                <a {% if current[1] == 'pill' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/pill/">Pill</a>
              </li>
              <li>
                <a {% if current[1] == 'progress-indicator' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/progress-indicator/">Progress indicator</a>
              </li>
              <li>
                <a {% if current[1] == 'reveal' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/reveal/">Reveal</a>
              </li>
            </div>
            <div class="usa-megamenu-col">
              <li>
                <a {% if current[1] == 'document' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/document/"><strong>Document</strong></a>
              </li>
              <li><a href="{{ site.baseurl }}/document/#thumbnail">Thumbnail</a></li>
              <li><a href="{{ site.baseurl }}/document/#placeholder">Placeholder</a></li>
              <li><h5>Navigation</h5></li>
              <li>
                <a {% if current[1] == 'navigation' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/navigation/">Top</a>
              </li>
              <li>
                <a {% if current[1] == 'secondary-nav' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/nav-secondary/">Secondary</a>
              </li>
              <li>
                <a {% if current[1] == 'footer' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/footer/">Footer</a>
              </li>
            </div>
            <div class="usa-megamenu-col">
              <li><h5>Job announcement</h5></li>
              <li>
                <a {% if current[1] == 'joa-actions' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/joa-actions/">Actions</a>
              </li>
              <li>
                <a {% if current[1] == 'joa-agency-contact' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/joa-agency-contact/">Agency contact</a>
              </li>
              <li>
                <a {% if current[1] == 'joa-intro' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/joa-intro/">Intro</a>
              </li>
              <li>
                <a {% if current[1] == 'joa-similar-jobs' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/joa-similar-jobs/">Similar jobs</a>
              </li>
              <li>
                <a {% if current[1] == 'joa-summary' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/joa-summary/">Summary</a>
              </li>
            </div>
            <div class="usa-megamenu-col">
              <li>
                <a {% if current[1] == 'search' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/search/"><strong>Search</strong></a>
              </li>
              <li><a href="{{ site.baseurl }}/search/#controls">Controls</a></li>
              <li><a href="{{ site.baseurl }}/search/#pagination">Pagination</a></li>
              <li><a href="{{ site.baseurl }}/search/#results">Results</a></li>
              <li><a href="{{ site.baseurl }}/search/#teasers">Teasers</a></li>
            </div>
          </ul>
        </li>
        <li>
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-mega-nav-section-three">
            <span>Layouts</span>
          </button>
          <ul id="extended-mega-nav-section-three" class="usa-nav-submenu usa-megamenu usa-grid-full" aria-hidden="true">
            <div class="usa-megamenu-col">
              <li><h5>Agency Talent Portal</h5></li>
              <li>
                <a href="{{ site.baseurl }}/agency-talent-portal/user-detail/">
                  User detail
                </a>
              </li>
              <li><h5>Open Opportunitites</h5></li>
              <li>
                <a href="{{ site.baseurl }}/open-opportunities/search/">Search</a>
              </li>
            </div>
            <div class="usa-megamenu-col">
              <li><h5>Errors</h5></li>
              <li>
                <a {% if current[1] == '400' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/errors/400/">400</a>
              </li>
              <li>
                <a {% if current[1] == '404' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/errors/404/">404</a>
              </li>
              <li>
                <a {% if current[1] == '500' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/errors/500/">500</a>
              </li>
            </div>
            <div class="usa-megamenu-col">
              <li><h5>Sessions</h5></li>
              <li>
                <a {% if current[1] == 'timeout' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/session/timeout/">
                  Session timeout
                </a>
              </li>
              <li>
                <a {% if current[1] == 'sign-out' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/session/signed-out/">Signed out</a>
              </li>
            </div>
            <div class="usa-megamenu-col">
              <li><h5>Job announcement</h5></li>
              <li>
                <a {% if current[1] == 'v6.5' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/job-announcement/v6.5/">
                  Version 6.5
                </a>
                <a {% if current[1] == 'v6.6' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/job-announcement/v6.6/cfpb/">Version 6.6 (CFPB pilot)</a>
                <a {% if current[1] == 'v6.6' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/job-announcement/v6.6/print/">Version 6.6 - Print</a>
                <a {% if current[1] == 'v6.7' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/job-announcement/v6.7/">Version 6.7</a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
      <div class="usa-nav-secondary">
        <ul class="usa-unstyled-list usa-nav-secondary-links">
          <li>
            <a href="{{ site.repository.url }}">
              <span class="fab fa-github"></span> GitHub
            </a>
          </li>
          <li>
            <a href="https://www.usajobs.gov">usajobs.gov</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="overlay"></div>
