  <script src="{{ site.baseurl }}/js/usajobs-design-system-base.js"></script>
  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/js/vendor/selectivirz-min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/respond.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/rem.min.js"></script>
  <![endif]-->
  <script src="{{ site.baseurl }}/js/vendor/jquery-ui.min.js"></script>
  <script src="{{ site.baseurl }}/js/usajobs-design-system-documentation.js"></script>
  <script src="{{ site.baseurl }}/js/usajobs-design-system-components.js"></script>
