{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    <h4>Base Elements</h4>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if current[1] == 'getting-started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/getting-started/">Getting started</a>
      </li>
      <li>
        <a {% if current[1] == 'visual-style' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-style/">Visual style</a>
        <ul class="usa-sidenav-sub_list visual-style-sublist">
          <li>
            <a href="{{ site.baseurl }}/visual-style/#typography">Typography</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="{{ site.baseurl }}/visual-style/#pairings">Pairings and styles</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#typesetting">Typesetting</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#links">Links</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ site.baseurl }}/visual-style/#colors">Colors</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="{{ site.baseurl }}/visual-style/#palette">Palette</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#text-accessibility">Text accessibility</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ site.baseurl }}/visual-style/#logo">Logo</a>
          </li>
        </ul>
      </li>
      <li>
        <a {% if current[1] == 'shell' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/shell/">Shell</a>
      </li>
      <li>
        <a {% if current[1] == 'grid' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/grid/">Grid</a>
      </li>
      <li>
        <a {% if current[1] == 'buttons' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/buttons/">Buttons</a>
      </li>
      <li>
        <a {% if current[1] == 'form-controls' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/form-controls/">Forms</a>
      </li>
      <li>
        <a {% if current[1] == 'icons' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/icons/">Icons</a>
      </li>
    </ul>

    <h4>Components</h4>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if current[1] == 'alerts' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/alerts/">Alerts</a>
      </li>
      <li>
        <a {% if current[1] == 'button-bar' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/button-bar/">Button Bar</a>
      </li>
      <li>
        <a {% if current[1] == 'document' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/document/">Document</a>
        <ul class="usa-sidenav-sub_list document-sublist">
          <li><a href="{{ site.baseurl }}/document/#thumbnail">Thumbnail</a></li>
          <li><a href="{{ site.baseurl }}/document/#placeholder">Placeholder</a></li>
        </ul>
      </li>
      <li>
        <a {% if current[1] == 'joa-actions' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/joa-actions/">JOA Actions</a>
      </li>
      <li>
        <a {% if current[1] == 'joa_summary' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/joa_summary/">JOA Summary</a>
      </li>
      <li>
        <a {% if current[1] == 'modals' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/modals/">Modals</a>
      </li>
      <li>
        <a {% if current[1] == 'navigation' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/navigation/">Navigation: Top</a>
      </li>
      <li>
        <a {% if current[1] == 'secondary-nav' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/nav-secondary/">Navigation: Secondary</a>
      </li>
      <li>
        <a {% if current[1] == 'footer' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/footer/">Navigation: Footer</a>
      </li>
      <li>
        <a {% if current[1] == 'search' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/search/">Search</a>
        <ul class="usa-sidenav-sub_list search-sublist">
          <li><a href="{{ site.baseurl }}/search/#controls">Controls</a></li>
          <li><a href="{{ site.baseurl }}/search/#pagination">Pagination</a></li>
          <li><a href="{{ site.baseurl }}/search/#results">Results</a></li>
        </ul>
      </li>
      <li>
        <a {% if current[1] == 'reveal' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/reveal/">Reveal</a>
      </li>
    </ul>
    <h4>Layouts</h4>
    <h5>Account</h5>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if current[1] == 'account' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/account/">Create</a>
      </li>
      <li>
        <a {% if current[1] == 'account' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/account/activate/">Activate</a>
      </li>
      <li>
        <a {% if current[1] == 'sign-in' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/account/sign-in/">Sign In</a>
      </li>
      <li>
        <a {% if current[1] == 'locked' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/account/sign-in/locked/">Sign In - Locked</a>
      </li>
    </ul>

    <h5>Errors</h5>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if current[1] == '404' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/errors/404/">404</a>
      </li>
      <li>
        <a {% if current[1] == '500' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/errors/500/">500</a>
      </li>
      <li>
        <a {% if current[1] == 'session-timeout' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/errors/session-timeout/">Session timeout</a>
      </li>
    </ul>

    <h5>Agency Talent Portal</h5>
    <ul class="usa-sidenav-list">
      <li>
        <a href="{{ site.baseurl }}/agency-talent-portal/user-detail/">User detail</a>
      </li>
    </ul>

    <h5>Job announcement</h5>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if current[1] == 'job_announcement' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/job_announcement/">Job announcement</a>
      </li>
    </ul>
  </nav>
</aside>
