<div class="usajobs-atp-user-detail--card">
  <div class="usajobs-atp-user-detail--card__body">
    <h3 class="usajobs-atp-user-detail__title" itemprop="title">
      Heather Meyers
    </h3>
    <h4 class="usajobs-atp-user-detail__location" itemprop="addressLocality">
      <span class="usajobs-atp-user-detail__location-link viewmap" data-object-trigger="modal" data-target="#modal-job-map" data-name="{{location}} " data-coord-lat="38.89051" data-coord-long="-77.086295" itemprop="addressLocality">
        <i class="fa fa-map-marker"></i> Fairfax, VA
      </span>
    </h4>
  </div>
</div>
