<nav id="usajobs-help-secondary-nav" class="usajobs-help-secondary-nav" aria-expanded="true" role="navigation" aria-label="Help Center menu">
  <div class="usajobs-help-secondary-nav__body">
    <ul class="usajobs-help-secondary-nav__menu" role="menubar">
      <li class="usajobs-help-secondary-nav__item" role="presentation">
        <a class="usajobs-help-secondary-nav__link" href="#faq" role="menuitem">
          FAQs
        </a>
      </li>
      <li class="usajobs-help-secondary-nav__item" role="presentation">
        <a class="usajobs-help-secondary-nav__link is-active" href="#how-to" role="menuitem">
          How to&hellip;
        </a>
      </li>
      <li class="usajobs-help-secondary-nav__item" role="presentation">
        <a class="usajobs-help-secondary-nav__link" href="#working-in-government" role="menuitem">
          <span class="usajobs-help-secondary-nav__short-name">Government</span>
          <span class="usajobs-help-secondary-nav__long-name">Working in Government</span>
        </a>
      </li>
      <li class="usajobs-help-secondary-nav__item glossary">
        <button id="glossary-trigger" class="js-glossary-toggle usajobs-help-secondary-nav__glossary-trigger" role="menuitem" aria-controls="glossary">
          Glossary
        </button>
      </li>
    </ul>
  </div>
</nav>
