<nav id="usajobs-help-secondary-nav" class="usajobs-help-secondary-nav" aria-expanded="true" role="menu" data-behavior="is-fixed-nav">
  <div class="usajobs-help-secondary-nav__body">
    <ul class="usajobs-help-secondary-nav__menu">
      <li class="usajobs-help-secondary-nav__item">
        <a class="usajobs-help-secondary-nav__link" href="#faq">
          FAQs
        </a>
      </li>
      <li class="usajobs-help-secondary-nav__item">
        <a class="usajobs-help-secondary-nav__link is-active" href="#how-to">
          How to&hellip;
        </a>
      </li>
      <li class="usajobs-help-secondary-nav__item">
        <a class="usajobs-help-secondary-nav__link" href="#working-in-government">
          <span class="usajobs-help-secondary-nav__short-name">Government</span>
          <span class="usajobs-help-secondary-nav__long-name">Working in Government</span>
        </a>
      </li>
      <li class="usajobs-help-secondary-nav__item glossary">
        <button id="glossary-trigger" class="js-glossary-toggle usajobs-help-secondary-nav__glossary-trigger">
          Glossary
        </button>
      </li>
    </ul>
  </div>
</nav>
