<div id="agencycontact" class="usajobs-joa-agency--v1-5" itemprop="hiringOrganization">
  <h3 class="usajobs-joa-agency--v1-5__contact-info">Agency contact information</h3>
  <h3 class="usajobs-joa-agency--v1-5__contact-name">
    <span class="fa fa-user"></span>
    Central Resume Processing Center
  </h3>

  <div>
    <div class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-sub-section__small-title">Phone</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="tel:1-724-794-5612">724-794-5612</a> extension 3096
      </p>

      <h5 class="usajobs-sub-section__small-title">Email</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="mailto:USARMY.APG.CHRA-NE.MBX.APPLICANTHELP@MAIL.MIL">
          USARMY.APG.CHRA-NE.MBX.APPLICANTHELP@MAIL.MIL
        </a>
      </p>
    </div>
    <div class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-sub-section__small-title">Address</h5>
      <p class="usajobs-joa-sub-section__text">
        <address>
          DA SWR Fort Leavenworth<br>
          Aberdeen Proving Ground <br>
          MD 21005<br>
          US
        </address>
      </p>
    </div>
  </div>
  <a href="#agency-modal-trigger" class="usajobs-joa-agency--v1-5__learn-more" href="#agencycontact" data-object-trigger="modal" data-target="#agency-modal">
    Learn more about this agency
  </a>
</div>
