<button class="usa-accordion-button usajobs-joa-accordion-trigger is-open-at-M" aria-expanded="false" aria-controls="benefits" data-behavior="joa_accordion.toggle">
  Benefits
</button>
<div id="benefits" aria-hidden="true" class="usa-accordion-content usajobs-joa--v1-5__accordion-content is-open-at-M">
  <h2 class="usajobs-joa--v1-5__section-header">Benefits</h2>
  <div id="benefits" itemprop="jobBenefits">
    <p><strong>The Department of Defense offers an excellent benefits program. </strong>In addition to your take-home pay, your comprehensive compensation/benefits package will include most of the benefits described in <a href="https://help.usajobs.gov/working-in-government/benefits/">the USAJOBS Help Center.</a> </p>
  </div>
</div>
