<button class="usa-accordion-button usajobs-joa-accordion-trigger is-open-at-M" aria-expanded="true" aria-controls="duties" data-behavior="joa_accordion.toggle">
  Duties
</button>
<div id="duties" aria-hidden="false" class="usa-accordion-content usajobs-joa--v1-5__accordion-content is-open-at-M usajobs-joa-accordion-overview">
  <h2 class="usajobs-joa--v1-5__section-header">Duties</h2>
  <div id="duties" class="content">
    <p>As an {{ job.PositionTitle }}, you will perform the following duties:</p>
    <ul>
      {% for duty in job.UserArea.Details.MajorDuties %}
      <li>{{ duty }}</li>
      {% endfor %}
    </ul>
  </div>

  <div id="travelrequired">
    <h3>Travel Required</h3>
    <ul>
      <li>Occasional travel.</li>
      <li>Expected temporary duty travel is 5% or less.</li>
    </ul>
  </div>

  <div class="usajobs-joa-sub-section">
    <div id="supervisory-status" class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-joa-sub-section__small-title">Supervisory status</h5>
      <p class="usajobs-joa-sub-section__text">
      {% if jobs.SupervisoryStatus %}
        {{ job.SupervisoryStatus }}
      {% else %}
      No
      {% endif %}
      </p>
    </div>

    <div id="promotion-potential" class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-joa-sub-section__small-title">Promotion Potential</h5>
      <p class="usajobs-joa-sub-section__text">
        The selectee may be promoted to the full performance level without further competition when all regulatory, qualification, and performance requirements are met. Selection at a lower grade level does not guarantee promotion to the full performance level.
      </p>
    </div>
  </div>
</div>
