<button class="usa-accordion-button usajobs-joa-accordion-trigger is-open-at-M" aria-expanded="true" aria-controls="duties" data-behavior="joa_accordion.toggle">
  Duties
</button>
<div id="duties" aria-hidden="false" class="usa-accordion-content usajobs-joa--v1-5__accordion-content is-open-at-M usajobs-joa-accordion-overview">
  <a href="http://usajobs.github.io/Help/how-to/job-announcement/duties/" class="usajobs-joa-section__help">
    <span class="fa fa-question-circle"></span> Help
  </a>
  <h2 class="usajobs-joa--v1-5__section-header">Duties</h2>
  <h3>Summary</h3>
  <div itemprop="description">
    <p>
      {{ job.UserArea.Details.JobSummary }}
    </p>

    <ul>
      <li>Moving expenses are NOT authorized, based on a determination that a move is not in the Government's interest.</li>
      <li>Recruitment relocation and/or retention incentives MAY be offered for this position.</li>
      <li>This position has been designated as a primary/rigorous and is eligible for Law Enforcement (LEO) retirement coverage under the provisions of title 5 USC 8336(c) and 8412(d) by DoD memorandum dated 19 August 2010. The maximum entry age for positions covered under this retirement is 37 years old. Retirement from this position is mandatory at age 57 with 20 years of LEO service. The maximum entry age may be waived under certain circumstances. Individuals who are past the maximum entry age limit, but previously served in a primary position, MAY be reinstated.</li>
    </ul>
  </div>
  <h3>Responsibilities</h3>
  <div id="duties" itemprop="responsibilities">
    <p>As an {{ job.PositionTitle }}, you will perform the following duties:</p>
    <ul>
      {% for duty in job.UserArea.Details.MajorDuties %}
      <li>{{ duty }}</li>
      {% endfor %}
    </ul>
  </div>

  <div id="travelrequired">
    <h3>Travel Required</h3>
    <ul>
      <li>Occasional travel.</li>
      <li>Expected temporary duty travel is 5% or less.</li>
    </ul>
  </div>

  <div class="usajobs-joa-sub-section">
    <div id="supervisory-status" class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-joa-sub-section__small-title">Supervisory status</h5>
      <p class="usajobs-joa-sub-section__text">
      {% if jobs.SupervisoryStatus %}
        {{ job.SupervisoryStatus }}
      {% else %}
      No
      {% endif %}
      </p>
    </div>

    <div id="promotion-potential" class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-joa-sub-section__small-title">Promotion Potential</h5>
      <p class="usajobs-joa-sub-section__text">
        The selectee may be promoted to the full performance level without further competition when all regulatory, qualification, and performance requirements are met. Selection at a lower grade level does not guarantee promotion to the full performance level.
      </p>
    </div>
  </div>
</div>
