<div class="usajobs-modal" data-object="modal" data-state="is-closed" id="fair-and-transparent-modal" aria-hidden="true" role="dialog" aria-labelledby="fair-and-transparent-modal-heading" aria-describedby="fair-and-transparent-modal-description">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">
      <div id="fair-and-transparent-modal-description" class="usajobs-assistive-text">
        Beginning of a dialog window for the legal and regulatory guidance for this job announcement. It begins with a heading 2 called &quot;Fair and transparent&quot;. Escape will cancel and close the window.
      </div>
      <div class="usajobs-modal__header">
        <h2 id="usajobs-modal-heading" class="usajobs-modal__title">Fair &amp; Transparent</h2>
      </div>
      <div class="usajobs-modal__body">

        <h2 class="usajobs-joa--v1-5__section-header">
          Equal employment opportunity policy
        </h2>
        <p>
          The United States Government does not discriminate in employment on the basis of race, color, religion, sex (including pregnancy and gender identity), national origin, political affiliation, sexual orientation, marital status, disability, genetic information, age, membership in an employee organization, retaliation, parental status, military service, or other non-merit factor.
        </p>
        <ul>
          <li>
            <a href="https://www.opm.gov/about-us/our-people-organization/support-functions/equal-employment-opportunity/">
              Equal Employment Opportunity (EEO) office at OPM
            </a>

            </a>
          </li>
          <li>
            <a href="http://www.eeoc.gov/eeoc/internal_eeo/index.cfm">
              Office of Equal Opportunity
            </a>
          </li>
        </ul>

        <h2 class="usajobs-joa--v1-5__section-header">
          Reasonable accommodation policy
        </h2>
        <p>
          Federal agencies must provide reasonable accommodation to applicants with disabilities where appropriate. Applicants requiring reasonable accommodation for any part of the application and hiring process should contact the hiring agency directly. Determinations on requests for reasonable accommodation will be made on a case-by-case basis.
        </p>
        <ul>
          <li>
            <a href="https://www.opm.gov/policy-data-oversight/disability-employment/reasonable-accommodations/">
              Disability Employment - Reasonable Accommodations
            </a>
          </li>
          <li>
            <a href="https://www.usajobs.gov/Help/how-to/application/agency/contact/">
              How to contact an agency
            </a>
          </li>
        </ul>

        <h2 class="usajobs-joa--v1-5__section-header">
          Legal and regulatory guidance
        </h2>

        <h3>Financial Suitability</h3>
        <p>
          It is the policy of the government not to deny employment simply because an individual has been unemployed or has had financial difficulties that have arisen through no fault of the individual. Information about an individual’s employment experience will be used only to determine the person’s qualifications and to assess his or her relative level of knowledge, skills, and abilities. Although an individual’s personal conduct may be relevant in any employment decision, including conduct during periods of unemployment or evidence of dishonesty in handling financial matters, financial difficulty that has arisen through no fault of the individual will generally not itself be the basis of an unfavorable suitability or fitness determination.
        </p>
        <p>
          For more information, <a href="https://hru.gov/Studio_Recruitment/tools/Mythbuster_on_Federal_Hiring_Policies.pdf">read Mythbuster on Federal Hiring Policies</a>
        </p>

        <h3>Social Security Number</h3>
        <p>
          Your Social Security Number is requested under the authority of Executive Order 9397 to uniquely identify your records from those of other applicants who may have the same name. As allowed by law or Presidential directive, your Social Security Number is used to seek information about you from employers, schools, banks, and others who may know you.
        </p>

        <h3>Privacy Act</h3>
        <p>
          Privacy Act Notice (PL 93-579): The information requested here is used to determine qualifications for employment and is authorized under Title 5 U.S.C. 3302 and 3361.
        </p>

        <h3>Signature</h3>
        <p>
          Before you are hired, you will be required to sign and certify the accuracy of the information in your application.
        </p>

        <h3>False Statements</h3>
        <p>
          If you misrepresent your experience or education, or provide false or fraudulent information in or with your application, it may be grounds for not hiring you or for firing you after you begin work. Making false or fraudulent statements also may be punishable by fine or imprisonment.
        </p>

        <h3>Selective Service</h3>
        <p>
          If you are a male applicant born after December 31, 1959, you must certify that you have registered with the Selective Service System, or are exempt from having to do so under the Selective Service Law.
        </p>
        <p>
          For more information, <a href="https://hru.gov/Studio_Recruitment/tools/Mythbuster_on_Federal_Hiring_Policies.pdf">read Mythbuster on Federal Hiring Policies</a>
        </p>
      </div>
      <div class="usajobs-modal__footer">
        <button class="usa-button-big usa-button-primary" data-behavior="modal.close">
          Continue applying
        </button>
      </div>
      <div class="usajobs-modal__actions">
        <button class="usajobs-modal__close" data-behavior="modal.close" >
          <span class="usajobs-assistive-text">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
