<button class="usa-accordion-button usa-button-unstyled usajobs-joa--v1-5__accordion-trigger" aria-expanded="false" aria-controls="how-to-apply" data-behavior="joa_accordion.toggle">
  How to Apply
</button>
<div id="how-to-apply" aria-hidden="true" class="usa-accordion-content usajobs-joa--v1-5__accordion-content">
  <a href="http://usajobs.github.io/Help/how-to/job-announcement/how-to-apply/" class="usajobs-joa-section__help">
    <span class="fa fa-question-circle"></span> Help
  </a>
  <h2 class="usajobs-joa--v1-5__section-header">How to Apply</h2>
  <div itemprop="howtoapply">
    <p>To apply for this position, you must complete the online questionnaire and submit the documentation specified in the <strong>Required Documents</strong> section below.
      <br>The complete application package must be submitted by 11:59 PM (EST) on Wednesday, May 17, 2017 to receive consideration.
    </p>
    <ul>
      <li>To begin, click Apply Online to create a USAJOBS account or log in to your existing account. Follow the prompts to select your USAJOBS resume and/or other supporting documents and complete the occupational questionnaire.</li>
      <li>Click the Submit My Answers button to submit your application package.</li>
      <li>It is your responsibility to ensure your responses and appropriate documentation is submitted prior to the closing date.</li>
      <li>To verify your application is complete, log into <a href="https://my.usajobs.gov/Account/Login">your USAJOBS account</a>, select the Application Status link and then select the more information link for this position. The Details page will display the status of your application, the documentation received and processed, and any correspondence the agency has sent related to this application. Your uploaded documents may take several hours to clear the virus scan process.</li>
      <li>To return to an incomplete application, log into <a href="https://my.usajobs.gov/Account/Login">your USAJOBS account</a> and click Update Application in the vacancy announcement. <strong>You must re-select your resume and/or other documents from your USAJOBS account or your application will be incomplete</strong>.</li>
      <li>It is your responsibility to verify that information entered, uploaded, or faxed (i.e., resume) is complete, accurate, and submitted by the closing date.&nbsp; Uploaded documents may take up to one hour to clear the virus scan.&nbsp; Faxed documents must be completely transmitted by 11:59p.m. Eastern Standard Time on the closing date of the announcement.</li>
    </ul>

    <p>The Department of the Army provides reasonable accommodations to applicants with disabilities. If you need a reasonable accommodation for any part of the application and hiring process, please notify the servicing civilian personnel unit. Your requests for reasonable accommodation will be addressed on a case-by-case basis.</p>
  </div>
  {% include components/joa/v1.5/agency.html %}
</div>
