<button class="usa-accordion-button usa-button-unstyled usajobs-joa--v1-5__accordion-trigger" aria-expanded="false" aria-controls="what-to-expect-next" data-behaivor="joa_accordion.toggle">
  Next steps
</button>
<div id="what-to-expect-next" aria-hidden="true" class="usa-accordion-content usajobs-joa--v1-5__accordion-content">
  <a href="http://usajobs.github.io/Help/how-to/job-announcement/next-steps/" class="usajobs-joa-section__help">
    <span class="fa fa-question-circle"></span> Help
  </a>
  <h2 class="usajobs-joa--v1-5__section-header">Next steps</h2>
  <div id="whattoexpectnext">
    <p>
      When the application process is complete, your application will be reviewed to determine if you meet the hiring eligibility and qualification requirements for which you requested consideration. You will be rated based on the information provided in your resume and responses to the questionnaire, along with your supporting documentation to determine your level of knowledge, skill, and ability related to the job requirements. Best qualified applicants will be referred to the hiring manager. The hiring manager may choose to conduct interviews. Once the selection is made, you will receive a notification of the decision.
    </p>
  </div>
</div>
