<main class="usajobs-profile" id="main-content" role="main">
  <div class="usajobs-profile-sidenav has-secondary-nav">
    <ul class="usajobs-profile-sidenav__list">
      <li class="usajobs-profile-sidenav__item usajobs-profile-sidenav__profile-container incomplete">
        <h4 class="usajobs-profile-sidenav__profile-status">Profile Incomplete</h4>
      </li>
      <li class="usajobs-profile-sidenav__item">
        <a href="http://usajobs.github.io/american-discovery-trail/signed-in/home/" class="usajobs-profile-sidenav__link home">
          <span class="usajobs-profile-sidenav__icon">
            <i class="fa fa-home"></i>
          </span>Home
        </a>
      </li>
      <li class="usajobs-profile-sidenav__item is-active">
        <a href="#current-page" class="usajobs-profile-sidenav__link profile">
          <span class="usajobs-profile-sidenav__icon">
            <i class="fa fa-user"></i>
          </span>Profile
        </a>
        <ul class="usajobs-profile-sidenav__sub-menu" data-state="is-open">
          <li class="usajobs-profile-sidenav__sub-item">
            <a href="#contact" class="usajobs-profile-sidenav__sub-link is-active is-required">
              <span class="usajobs-profile-sidenav__sub-icon is-complete"></span> Contact
              <span class="usajobs-profile-sidenav__sub-text">
                Required
              </span>
            </a>
          </li>
          <li class="usajobs-profile-sidenav__sub-item">
            <a href="http://usajobs.github.io/american-discovery-trail/profile/eligibility/" class="usajobs-profile-sidenav__sub-link is-required">
              <span class="usajobs-profile-sidenav__sub-icon is-incomplete"></span> Eligibility
              <span class="usajobs-profile-sidenav__sub-text">
                Required
              </span>
            </a>
          </li>
          <li class="usajobs-profile-sidenav__sub-item">
            <a href="http://usajobs.github.io/american-discovery-trail/profile/demographics/" class="usajobs-profile-sidenav__sub-link">
              <span class="usajobs-profile-sidenav__sub-icon is-complete"></span> Demographics
            </a>
          </li>
          <li class="usajobs-profile-sidenav__sub-item">
            <a href="http://usajobs.github.io/american-discovery-trail/profile/other/" class="usajobs-profile-sidenav__sub-link">
              <span class="usajobs-profile-sidenav__sub-icon is-incomplete"></span> Other
            </a>
          </li>
        </ul>
      </li>
      <li class="usajobs-profile-sidenav__item">
        <a href="http://usajobs.github.io/american-discovery-trail/documents/" class="usajobs-profile-sidenav__link documents">
          <span class="usajobs-profile-sidenav__icon">
            <i class="fa fa-file"></i>
          </span>Documents
        </a>
      </li>
      <li class="usajobs-profile-sidenav__item">
        <a href="http://usajobs.github.io/american-discovery-trail/username/" class="usajobs-profile-sidenav__link username">
          <span class="usajobs-profile-sidenav__icon">
            <i class="fa fa-lock"></i>
          </span>Username &amp; Password
        </a>
      </li>
    </ul>
  </div>
  <div class="usajobs-content-gutter usajobs-profile__body">
    <h1 class="usajobs-profile__title">
      Profile
    </h1>
    <div class="usajobs-profile__section-contents">
      <h2 class="usajobs-profile__section-title is-complete">
        Contact Information
        <span class="usajobs-profile__required-section">
          Required
        </span>
      </h2>
    </div>
  </div>
</main>
