<div id="agencycontact" class="usajobs-joa-agency noUSAJobsCSS" itemprop="hiringOrganization">
  <h2 class="usajobs-joa-agency__department" itemprop="hiringOrganization">
    Department of the Army
  </h2>
  <h3>
    Field Operating Offices of the Office of the Secretary of the Army
  </h3>

  <div class="usajobs-joa-agency__details">
    <h4>Contact</h4>
    <address>
      Central Resume Processing Center<br>
      <div>
        Email : <a href="mailto:USARMY.APG.CHRA-NE.MBX.APPLICANTHELP@MAIL.MIL">USARMY.APG.CHRA-NE.MBX.APPLICANTHELP@MAIL.MIL</a></div>
    </address>
  </div>

  <div class="usajobs-joa-agency__address">
    <h4>Address</h4>
    <address>
      DA SWR Fort Leavenworth<br>
      Please contact by email<br>
      Aberdeen Proving Ground <br>
      MD <br>
    </address>
  </div>
</div>
