<div id="infosidebar" class="" style="width:250px; padding-top:1em">
  <div class="panel panel-default">
    <div class="panel-body">
      <center>
        <a class="joa-link-style" href="javascript:ToggleSlide()" id="Slide" style="font-size:small;" name="Slide">Slide</a>
      </center>

      <div id="infosidebarinner">
        <p class="text-center"></p>

        <div class="form-group">
          <select id="ddlanchorjump" class="form-control">
            <option value="overview" aria-label="Go to section of this Job">
              Go to section of this Job:
            </option>

            <option value="overview">
              Overview
            </option>

            <option value="duties">
              Duties
            </option>

            <option value="qualifications">
              Qualifications and Evaluations
            </option>

            <option value="benefits">
              Benefits and Other Info
            </option>

            <option value="howtoapply2">
              How to Apply
            </option>

            <option value="agencycontact">
              Agency Contact Info
            </option>
          </select>
        </div>

        <p class="text-center"><a class="btn btn-info btn-sm btn-block" id="applyOnlineButton" href="https://www.usajobs.gov/Applicant/Application/ApplyStart/420576000" title="Apply Online" style="font-size:1em" name="applyOnlineButton">Apply Online</a></p>

        <p class="text-center"><a class="btn btn-info btn-sm btn-block" href="https://www.usajobs.gov/GetJob/PrintPreview/420576000" id="printPreviewButton" title="Print Preview" style="font-size:1em" target="_blank" name="printPreviewButton">Print Preview</a></p>

        <p class="text-center" id="paraSaveJobButton"><a class="btn btn-info btn-sm btn-block" id="saveJobButton" title="Save Job" style="font-size:1em" href="javascript:void(0);" name="saveJobButton">Save Job</a></p>

        <p class="text-center"><a class="btn btn-info btn-sm btn-block" href="javascript:;" id="ShareJobButton" title="Share Job" style="font-size:1em" name="ShareJobButton">Share Job</a></p>

        <div class="joaDetailsLink">
          <p><a class="joa-link-style" id="linkAgencyInfo" href="agencycontact" name="linkAgencyInfo">Agency Contact Info</a></p>
        </div>

        <h3>Job Announcement Number:</h3>

        <p>WO-DEU-2016-0006</p>

        <h3 class="controlnumber">Control Number:</h3>

        <p class="controlnumber">420576000</p>
      </div>
    </div>
  </div>
</div>
