<nav class="usajobs-nav-secondary" role="navigation" data-object="nav-secondary" data-target="#usajobs-nav-secondary-menu--joa">
  <div class="usajobs-nav-secondary__body" id="usajobs-menu-joa">
    <ul class="usajobs-nav-secondary__menu">
      <li class="usajobs-nav-secondary__container">
        <a class="usajobs-nav-secondary__item" href="#summary" data-state="is-active" data-behavior="nav-secondary.drawer-open">
          Summary
        </a>
      </li>
      <li class="usajobs-nav-secondary__container">
        <a class="usajobs-nav-secondary__item" href="#requirements" data-state="is-inactive" data-behavior="nav-secondary.drawer-open">
          Requirements
        </a>
      </li>
      <li class="usajobs-nav-secondary__container">
        <a class="usajobs-nav-secondary__item" href="#howtoapply" data-state="is-inactive" data-behavior="nav-secondary.drawer-open">
          How to Apply
        </a>
      </li>
      <li class="usajobs-nav-secondary__container">
        <a class="usajobs-nav-secondary__item" href="#additional_info" data-state="is-inactive" data-behavior="nav-secondary.drawer-open">
          Additional Information
        </a>
      </li>
      <li class="usajobs-nav-secondary__container more is-hidden">
        <a class="usajobs-nav-secondary__more-toggle" href="#more" data-behavior="nav-secondary.toggle" data-target="#usajobs-nav-secondary-menu--joa"><i class="fa fa-plus"></i></a>
        <ul class="usajobs-nav-secondary__more-container" id="usajobs-nav-secondary-menu--joa" data-state="is-closed">
        </ul>
      </li>
    </ul>
  </div>
</nav>
