<div class="usajobs-event--card">
  <div class="usajobs-event--card__calendar">
    <div class="usajobs-event__calendar-container">
      <span class="usajobs-event--card__year">
        {{ event.startDate | date: "%Y" }}
      </span>
      <div class="usajobs-event--card__icon">
        <i class="fa fa-calendar"></i>
      </div>
    {% if event.duration <= 30 %}
      <div class="usajobs-event--card__date start" itemprop="startDate" content="{{ event.startDate }}">
        {{ event.startDate | date: "%b %-d" }}
      </div>
    {% else if event.duration > 30 %}
      <div class="usajobs-event__date start">
        <span itemprop="startDate" content="{{ event.startDate }}">
          {{ event.startDate | date: "%b" }}
        </span> -
        <span itemprop="endDate" content="{{ event.endDate }}">
          {{ event.endDate | date: "%b" }}
        </span>
      </div>
    {% else %}
      <div class="usajobs-event--card__date start" itemprop="startDate" content="{{ event.startDate }}">
        {{ event.startDate | date: "%b %-d" }}
      </div>
    {% endif %}
    </div>
  </div>
  <div class="usajobs-event--card__body">
    <h3 class="usajobs-event--card__item-title">
      {{ event.name }}
      <span class="usajobs-event--card__im">
      {% if event.multiLocation %}
        Multiple locations
      {% else %}
        {{ event.location.address.addressLocality }}, {{ event.location.address.addressRegion }}
      {% endif %}
      </span>
    </h3>
    <p class="usajobs-event--card__text">
      Hosted by <a href="{{ event.sponsor.url }}">{{ event.sponsor.name }}</a>
      <a class="usajobs-event--card__more-info" href="{{ site.baseurl }}/signed-out/home/events#event1">More information</a>
    </p>
  </div>
</div>
