<div class="usajobs-panel-box">
  <h3>Acceptable Formats</h3>
  <p>
    Uploaded resumes must be less than 3MB and in one of the following document formats: GIF, JPG, JPEG, PNG, RTF, PDF or Word (DOC or DOCX).
  </p>

  <h2>Please Note:</h2>
  <ul>
    <li>Certain agencies only accept resumes created through the USAJOBS Resume Builder.
    </li>
    <li>Please do not include photos of yourself or sensitive information in your resume as this can make your application unacceptable.</li>
  </ul>

  <h3>Helpful Link</h3>
  <a href="https://help.usajobs.gov/index.php/Sample_Resume" target="_blank">Sample Resume</a> <br>
  <a href="https://help.usajobs.gov/index.php/What_To_Include" target="_blank">What to Include</a>
</div>
