<div class="usajobs-accordion">
  <button class="usajobs-acceptable_formats__trigger usa-accordion-button" aria-expanded="true" aria-controls="collapsible-1">
    Acceptable Formats
  </button>
  <div id="collapsible-1" aria-hidden="false" class="usa-accordion-content">
    <p>
      Uploaded resumes must be less than 3MB and in one of the following document formats: GIF, JPG, JPEG, PNG, RTF, PDF or Word (DOC or DOCX).
    </p>

    <h4>Do Not Include in Resume</h4>
    <ul>
      <li>Classified information</li>
      <li>Social Security Number (SSN)</li>
      <li>Photos of yourself</li>
      <li>Personal or sensitive information</li>
      <li>Encrypted and digitally signed documents</li>
    </ul>

    <h4>Helpful Links</h4>
    <a href="https://help.usajobs.gov/index.php/Sample_Resume" target="_blank">Sample Resume</a> <br>
    <a href="https://help.usajobs.gov/index.php/What_To_Include" target="_blank">What to Include</a>
  </div>
</div>
