<h2>Instructions</h2>
<p>
  Select the resume that you want to submit as part of your application.  You cannot progress to the next step until you select a resume. You can only submit one resume.
</p>
<p>
  If the resume you want to submit is not displayed, select "Add Resume" to either upload a new resume or to create one using USAJOBS Resume Builder. Any resume you upload, create or delete will automatically be reflected in your account. USAJOBS stores up to five resumes, so you may need to delete an existing resume to upload or build a new one.
</p>

<h2>
  Your Resumes <span class="usajobs-required--section">(<i class="fa fa-asterisk"></i> Required)</span>
</h2>

<div class="usajobs-grid usajobs-app_guide-resumes_container">
  <div class="usajobs-app_guide-resumes">
    <div class="usajobs-app_guide-document_container">
      {% include components/document-placeholder.html %}
    </div>
    <div class="usajobs-app_guide-document_container">
      {% include components/document-thumbnail.html %}
  	</div>
    <div class="usajobs-app_guide-document_container">
  		<a href="#" class="thumbnail">
        <img src="{{ site.baseurl }}/img/sample_resume3.png" alt="...">
  		</a>
  	</div>
  </div>
</div>

