<fieldset class="usajobs-fieldset">
  <span class="usajobs-form__legend">All fields are required unless otherwise noted</span>

  <label for="PrimaryEmail">Primary Email</label>
  <input class="form-control" data-val="true" data-val-email="The Primary Email field is not a valid e-mail address." data-val-required="- Primary Email field is required." id="PrimaryEmail" name="PrimaryEmail" type="text" value="">
  <span class="field-validation-valid" data-valmsg-for="PrimaryEmail" data-valmsg-replace="true"></span>
  <p class="usajobs-form__help-brief">
    Only one account can be created for each email address. Do not share your account with anyone else.
  </p>

  <label class="control-label" for="ConfirmPrimaryEmail">Confirm Primary Email</label>
  <input class="form-control" data-val="true" data-val-equalto="- Primary Email and Confirm Primary Email do not match." data-val-equalto-other="*.PrimaryEmail" data-val-required="- Confirm Primary Email field is required." id="ConfirmPrimaryEmail" name="ConfirmPrimaryEmail" type="text" value="">
  <span class="field-validation-valid" data-valmsg-for="ConfirmPrimaryEmail" data-valmsg-replace="true"></span>

  <label class="control-label" for="Username">Username</label>
  <input class="form-control" data-val="true" data-val-length="- Username must be between 8 and 20 alphanumeric characters" data-val-length-max="20" data-val-length-min="8" id="Username" name="Username" type="text" value="" data-val-regex-pattern="^[a-zA-Z0-9\x5F\x2E\x26]*[a-zA-Z]+[a-zA-Z0-9\x5F\x2E\x26]*">
  <p class="usajobs-form__help-brief">
    Your Username must:
    <ul class="usajobs-form__help-details" id="username-validation-list">
      <li id="username_info_length" class="required username_info_invalid">
        Be 8 to 20 characters long
      </li>
      <li id="username_info_letter" class="required username_info_invalid">
        Have at least one letter
      </li>
      <li id="username_info_symbol" class="required username_info_invalid">
        Only contain the following special characters: underscore (_), ampersand (&amp;), and period (.)
      </li>
    </ul>
  </p>

  <div class="usajobs-button_bar--slim">
    <div class="usajobs-button_bar__body">
      <input type="submit" name="btn-agreecrtacct" value="Create account" title="Create account" class="btn btn-info">
    </div>
  </div>
</fieldset>
