<div class="usajobs-document usajobs-document--thumbnail" data-object="document" data-state="is-selectable">
  <div class="usajobs-document__figure" data-behavior="document.toggle" data-target="#toggle-document-2">
    <div class="usajobs-document__figure-overlay">
      <img src="{{ site.baseurl }}/img/document-thumbnails/resume-thumbnail-01-2x.png" class="img-2x" />
    </div>
  </div>
  <div class="usajobs-document__details">
    <p class="usajobs-document__title">
      Director-resume.pdf
    </p>
    <p class="usajobs-document__date">
      Uploaded 02/14/15
    </p>
    <ul class="usajobs-document__controls">
      <li class="ctrl">
        <a class="view" href="#view">View</a>
      </li>
      <li class="pipe">|</li>
      <li class="ctrl">
        <a class="delete" href="#delete">Delete</a>
      </li>
    </ul>
  </div>
  <div class="usajobs-document__toggle">
    <input id="select-document-2" type="checkbox" name="doc-2" value="doc-2" class="usajobs-document__input">
    <label id="toggle-document-2" for="select-document-2" class="usajobs-document__selector">
      <span class="usajobs-assistive-text">
        Select Document 2
      </span>
    </label>
  </div>
</div>
