<div class="usajobs-document usajobs-document--placeholder" data-object="document" data-state="is-selectable">
  <div class="usajobs-document__figure" data-behavior="document.toggle" data-target="#toggle-document-1">
    <span class="usajobs-document__placeholder fa fa-file"></span>
  </div>
  <div class="usajobs-document__details">
    <p class="usajobs-document__title">
      Animal-Handler-resume.pdf
    </p>
    <p class="usajobs-document__date">
      Uploaded 03/12/15
    </p>
    <ul class="usajobs-document__controls">
      <li class="ctrl">
        <a class="view" href="#view">View</a>
      </li>
      <li class="pipe">|</li>
      <li class="ctrl">
        <a class="delete" href="#delete">Delete</a>
      </li>
    </ul>
  </div>
  <div class="usajobs-document__toggle">
    <input id="select-document-1" type="radio" name="resume" value="doc-1" class="usajobs-document__input">
    <label id="toggle-document-1" for="select-document-1" class="usajobs-document__selector">
      <span class="usajobs-assistive-text">
        Select Document 1
      </span>
    </label>
  </div>
</div>
