<footer class="usa-footer usa-footer-big usajobs-footer--v2" role="contentinfo" aria-label="footer" data-object="footer">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#footer">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-one-whole">
        <ul class="usa-unstyled-list usa-footer-primary-content usajobs-footer--v2__job_applications">
          <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".home-menu">
            Job Applications
          </li>
          <li class="usajobs-footer--v2__menu-item home-menu is-hidden">
            <a href="/Applicant/Application/ListApplications">All</a>
          </li>
          <li class="usajobs-footer--v2__menu-item home-menu is-hidden">
            <a href="/Applicant/Application/ListApplications#advancing">Advancing</a>
          </li>
          <li class="usajobs-footer--v2__menu-item home-menu is-hidden">
            <a href="/Applicant/Application/ListApplications#paused">Paused</a>
          </li>
          <li class="usajobs-footer--v2__menu-item home-menu is-hidden">
            <a href="/Applicant/Application/ListApplications#stopped">Stopped</a>
          </li>
        </ul>
        <ul class="usa-unstyled-list usa-footer-primary-content usajobs-footer--v2__account">
          <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".account-menu">Account</li>
          <li class="usajobs-footer--v2__menu-item account-menu is-hidden">
            <a href="/Applicant/MyAccount/Home/">Home</a>
          </li>
          <li class="usajobs-footer--v2__menu-item account-menu is-hidden">
            <a href="/Applicant/Profile/">Profile</a>
          </li>
          <li class="usajobs-footer--v2__menu-item account-menu is-hidden">
            <a href="/Applicant/Document/ListDocuments">Documents</a>
          </li>
          <li class="usajobs-footer--v2__menu-item account-menu is-hidden">
            <a href="/Applicant/SavedJobs/ListSavedJobs">Saved Jobs</a>
          </li>
          <li class="usajobs-footer--v2__menu-item account-menu is-hidden">
            <a href="/Applicant/SavedSearches/ListSavedSearches">Saved Searches</a>
          </li>
          <li class="usajobs-footer--v2__menu-item account-menu is-hidden">
            <a href="/Applicant/Profile/PersonalInformation">Username &amp; Password</a>
          </li>
        </ul>
        <ul class="usa-unstyled-list usa-footer-primary-content usajobs-footer--v2__help">
          <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".help-menu">Help</li>
          <li class="usajobs-footer--v2__menu-item help-menu is-hidden">
            <a href="http://usajobs.github.io/help-center/">Help Center</a>
          </li>
          <li class="usajobs-footer--v2__menu-item help-menu is-hidden">
            <a href="http://usajobs.github.io/help-center/about/">About USAJOBS</a>
          </li>
          <li class="usajobs-footer--v2__menu-item help-menu is-hidden">
            <a href="http://usajobs.github.io/help-center/contact/">Contact Us</a>
          </li>
          <li class="usajobs-footer--v2__menu-item help-menu is-hidden">
            <a href="http://usajobs.github.io/help-center/faq/">FAQs</a>
          </li>
          <li class="usajobs-footer--v2__menu-item help-menu is-hidden">
            <a href="http://usajobs.github.io/help-center/get-started/">Get Started</a>
          </li>
          <li class="usajobs-footer--v2__menu-item help-menu is-hidden">
            <a href="http://usajobs.github.io/help-center/how-to/">How to&hellip;</a>
          </li>
          <li class="usajobs-footer--v2__menu-item help-menu is-hidden">
            <a href="http://usajobs.github.io/help-center/working-in-government/">
              Working in Government
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section usa-footer-big-secondary-section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        <span class="logo"></span>
        <p class="usajobs-footer--v1__note">
          USAJOBS is a <a href="https://www.opm.gov">United States Office of Personnel Management</a> website.
        </p>
      </div>

      <div class="usa-footer-contact-links usa-width-one-half">
        <div class="usa-social-links">
          <a href="https://plus.google.com/+usajobs" class="usajobs-social-link">
            <span class="fa fa-google-plus" aria-label="Google Plus"></span>
          </a>
          <a href="https://www.facebook.com/USAJOBS" class="usajobs-social-link">
            <span class="fa fa-facebook" aria-label="Facebook"></span>
          </a>
          <a href="https://www.linkedin.com/company/usajobs" class="usajobs-social-link">
            <span class="fa fa-linkedin" aria-label="LinkedIn"></span>
          </a>
          <a href="https://twitter.com/USAJOBS" class="usajobs-social-link">
            <span class="fa fa-twitter" aria-label="Twitter"></span>
          </a>
          <a href="https://www.youtube.com/user/usajobsapp" class="usajobs-social-link">
            <span class="fa fa-youtube" aria-label="You Tube"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-whole">
        <ul class="usa-unstyled-list usajobs-footer--v1__subsection-horizontal">
          <li><a href="https://www.opm.gov/about-us/budget-performance/">Budget and Performance</a></li>
          <li><a href="http://www.opm.gov/efoia/">FOIA</a></li>
          <li><a href="https://www.opm.gov/our-inspector-general/">Inspector General</a></li>
          <li><a href="https://www.opm.gov/information-management/no-fear-act/">No Fear Act Data</a></li>
          <li><a href="http://usajobs.github.io/help-center/privacy/">Privacy Policy</a></li>
          <li><a href="http://www.usa.gov/">USA.gov</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
