<footer class="usa-footer usa-footer-big usajobs-footer--joa" role="contentinfo" aria-label="footer" data-object="footer">
  <div class="usa-grid">
    <p class="usajobs-footer--joa__authenticity-note">
      This job originated on <a href="https://www.usajobs.gov">www.usajobs.gov</a>. For the full announcement and to apply, visit <a href="https://www.usajobs.gov/GetJob/ViewDetails/24979100">www.usajobs.gov/GetJob/ViewDetails/24979100</a>
    </p>
    <div class="usa-footer-return-to-top">
      <a href="#footer">Return to top</a>
    </div>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-one-whole">
        <div class="usajobs-footer--joa__content-container">
          <ul class="usa-unstyled-list usa-footer-primary-content">
            <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".home-menu">
              Job Applications
            </li>
            <li class="usajobs-footer--joa__menu-item home-menu is-hidden">
              <a href="/Applicant/Application/ListApplications">All</a>
            </li>
            <li class="usajobs-footer--joa__menu-item home-menu is-hidden">
              <a href="/Applicant/Application/ListApplications#advancing">Advancing</a>
            </li>
            <li class="usajobs-footer--joa__menu-item home-menu is-hidden">
              <a href="/Applicant/Application/ListApplications#paused">Paused</a>
            </li>
            <li class="usajobs-footer--joa__menu-item home-menu is-hidden">
              <a href="/Applicant/Application/ListApplications#stopped">Stopped</a>
            </li>
          </ul>
          <ul class="usa-unstyled-list usa-footer-primary-content usajobs-footer--joa__account">
            <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".account-menu">Account</li>
            <li class="usajobs-footer--joa__menu-item account-menu is-hidden">
              <a href="/Applicant/Profile/">Profile</a>
            </li>
            <li class="usajobs-footer--joa__menu-item account-menu is-hidden">
              <a href="/Applicant/Document/ListDocuments">Documents</a>
            </li>
            <li class="usajobs-footer--joa__menu-item account-menu is-hidden">
              <a href="/Applicant/SavedJobs/ListSavedJobs">Saved Jobs</a>
            </li>
            <li class="usajobs-footer--joa__menu-item account-menu is-hidden">
              <a href="/Applicant/SavedSearches/ListSavedSearches">Saved Searches</a>
            </li>
            <li class="usajobs-footer--joa__menu-item account-menu is-hidden">
              <a href="/Applicant/Profile/PersonalInformation">Username &amp; Password</a>
            </li>
            <li class="usajobs-footer--joa__menu-item account-menu is-hidden">
              <a href="/Account/LogOff">Sign Out</a>
            </li>
          </ul>
        </div>
        <div class="usajobs-footer--joa__content-container">
          <ul class="usa-unstyled-list usa-footer-primary-content">
            <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".help-menu">Help</li>
            <li class="usajobs-footer--joa__menu-item help-menu is-hidden">
              <a href="https://help.usajobs.gov/">Help Center</a>
            </li>
            <li class="usajobs-footer--joa__menu-item help-menu is-hidden">
              <a href="https://help.usajobs.gov/index.php/About_Us">About USAJOBS</a>
            </li>
            <li class="usajobs-footer--joa__menu-item help-menu is-hidden">
              <a href="https://help.usajobs/gov/Support#Miscellaneous-Other">Contact Us</a>
            </li>
            <li class="usajobs-footer--joa__menu-item help-menu is-hidden">
              <a href="https://help.usajobs.gov/index.php/FAQs">FAQs</a>
            </li>
            <li class="usajobs-footer--joa__menu-item help-menu is-hidden">
              <a href="https://help.usajobs.gov/index.php/Getting_Started">Get Started</a>
            </li>
            <li class="usajobs-footer--joa__menu-item help-menu is-hidden">
              <a href="https://help.usajobs.gov/index.php/How_To">How to&hellip;</a>
            </li>
            <li class="usajobs-footer--joa__menu-item help-menu is-hidden">
              <a href="#">Reference</a>
            </li>
          </ul>
          <ul class="usa-unstyled-list usa-footer-primary-content">
            <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".gov-menu">Working for the Government</li>
            <li class="usajobs-footer--joa__menu-item gov-menu is-hidden">
              <a href="https://help.usajobs.gov/index.php/Working_for_the_government">Overview</a>
            </li>
            <li class="usajobs-footer--joa__menu-item gov-menu is-hidden">
              <a href="https://help.usajobs.gov/index.php/Pay_and_Benefits">Benefits</a>
            </li>
            <li class="usajobs-footer--joa__menu-item gov-menu is-hidden">
              <a href="https://help.usajobs.gov/index.php/Pay_and_Benefits">Salary</a>
            </li>
            <li class="usajobs-footer--joa__menu-item gov-menu is-hidden">
              <a href="#unique-hiring-paths">Unique Hiring Paths</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section usa-footer-big-secondary-section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        <img class="usa-footer-logo-img" src="{{site.baseurl}}/img/logo/footer-white.png" alt="USAJOBS logo">
        <p class="usajobs-footer--joa__note">
          USAJOBS is a <a href="https://www.opm.gov">United States Office of Personnel Management</a> website.
        </p>
      </div>

      <div class="usa-footer-contact-links usa-width-one-half">
        <div class="usa-social-links">
          <a href="https://plus.google.com/+usajobs" class="usajobs-social-link">
            <span class="fa fa-google-plus" aria-label="Google Plus"></span>
          </a>
          <a href="https://www.facebook.com/USAJOBS" class="usajobs-social-link">
            <span class="fa fa-facebook" aria-label="Facebook"></span>
          </a>
          <a href="https://www.linkedin.com/company/usajobs" class="usajobs-social-link">
            <span class="fa fa-linkedin" aria-label="LinkedIn"></span>
          </a>
          <a href="https://twitter.com/USAJOBS" class="usajobs-social-link">
            <span class="fa fa-twitter" aria-label="Twitter"></span>
          </a>
          <a href="https://www.youtube.com/user/usajobsapp" class="usajobs-social-link">
            <span class="fa fa-youtube" aria-label="You Tube"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-whole">
        <ul class="usa-unstyled-list usajobs-footer--joa__subsection-horizontal">
          <li><a href="https://help.usajobs.gov/index.php/EEO_Policy_Statement" id="helpWikiEEOPolicyStatement" target="_blank">EEO Policy Statement</a></li>
          <li>
            <a href="https://help.usajobs.gov/index.php/Reasonable_Accommodation_Policy_Statement" id="helpWikiResonableAccommodation" target="_blank">Reasonable Accommodation Policy Statement</a>
          </li>
          <li>
            <a href="https://help.usajobs.gov/index.php/Veterans_Information" id="helpWikiVeteransInformation" target="_blank">Veterans Information</a>
          </li>
          <li>
            <a href="https://help.usajobs.gov/index.php/Legal_and_Regulatory_Guidance" id="helpWikiLegalAndRegulatory" target="_blank">Legal and Regulatory Guidance</a>
          </li>
        </ul>
        <ul class="usa-unstyled-list usajobs-footer--joa__subsection-horizontal">
          <li><a href="https://www.opm.gov/about-us/budget-performance/">Budget and Performance</a></li>
          <li><a href="http://www.opm.gov/efoia/">FOIA</a></li>
          <li><a href="https://www.opm.gov/our-inspector-general/">Inspector General</a></li>
          <li><a href="https://www.opm.gov/information-management/no-fear-act/">No Fear Act Data</a></li>
          <li><a href="https://help.usajobs.gov/index.php/USAJobsHelp:Privacy_policy">Privacy Policy</a></li>
          <li><a href="http://www.usa.gov/">USA.gov</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
