<div id="agencycontact" class="usajobs-joa-agency noUSAJobsCSS" itemprop="hiringOrganization">
  <img src="https://media.usajobs.gov/agencylogos/IN05.gif" alt="Bureau of Land Management logo" class="img-responsive" /><br />

  <h2 class="usajobs-joa-agency__department" itemprop="hiringOrganization">
    Department of the Interior
  </h2>
  <h3>
    <a class="usajobs-joa-agency__agency" href="https://www.sqa.usajobs.gov/GetJob/ViewDetails/24979100/agencycontact">
      Bureau of Land Management
    </a>
  </h3>

  <div class="usajobs-joa-agency__details">
    <h4>Contact</h4>
    <address>
      Ryan Wilkins<br />
      Phone: <a href="tel://1-202-912-7033">202-912-7033</a><br />
      Fax: 000-000-0000<br />
      Email: <a href="mailto:rwilkins@blm.gov">rwilkins@blm.gov</a>
    </address>
  </div>

  <div class="usajobs-joa-agency__address">
    <h4>Address</h4>
    <address>
      Bureau of Land Management<br />
      Washington Office<br />
      20 M Street, SouthEast<br />
      Attn: HR-712 (WO-DEU-2016-0006)<br />
      Washington, DC<br />
      20003-3503<br />
      US<br />
      Fax: 000-000-0000
    </address>
  </div>
</div>
