<button class="usa-button-unstyled usajobs-joa-accordion-trigger" aria-expanded="false" aria-controls="how_to_apply" data-behavior="joa_accordion.toggle">
  How to Apply
</button>
<div id="how_to_apply" aria-hidden="true" class="usa-accordion-content usajobs-joa-accordion-content">
  <h2 class="usajobs-joa-accordion-title">How to Apply</h2>

  <div class="noUSAJobsCSS">
    <div>
      To receive consideration for this position, you must provide a complete Application Package, which includes ALL of the following items:<br />
      1. Your responses to the Assessment Questionnaire;<br />
      2. Your resume, and;<br />
      3. Applicable supporting documents specified in the Required Documents section of this job announcement.<br />
      <br />
      Click on the button "Apply Online" and login to MY USAJOBS.<br />
      <br />
      If you haven't already registered with USAJOBS, the system will require you to create a user name and password, complete a questionnaire and upload, paste or type a resume into USAJOBS.<br />
      <br />
      If you have already registered with USAJOBS and forgot your login information, select the "Did you forget your username and/or password" link from the right side menu.<br />
      <br />
      Your application package must be submitted by <strong>11:59 PM Eastern Time</strong> by the closing date of this announcement.<br />
      <br />
      If you need assistance in applying on-line, please contact Ryan Wilkins by email at rwilkins@blm.gov, or by phone at (202) 912-7033. If applying on-line poses a hardship for you (i.e. you do not have access to the internet) you must contact us prior to the closing date of the announcement for an alternative method of applying.<br />
    </div>
  </div>

  <h3>How You Will Be Evaluated</h3>
  <p>Upon receipt of your complete application package, a review of your application will be made to ensure you meet the basic qualification requirements. Your rating will be based on your responses to the Job Specific Questionnaire and the information stated in your resume. If you meet the qualification requirements, you application will be placed in one of three categories: Best Qualified, Well Qualified, or Qualified. Within these categories, applicants eligible for veteran's preference will receive selection priority over non-veterans. In addition, interviews may be conducted for this position. The interviews may be conducted on a pass/fail basis or may be scored. The job specific questions relate to the following knowledge, skills and abilities required to do the work of this position.<br />
  <br />
  <strong>KSA 1</strong>: Ability to supervise and manage a staff of subordinate employees by applying human resources management policies, practices, and procedures, including those dealing with EEO, personnel procedures, and regulations, and alternative dispute resolution principles and techniques.<br />
  <br />
  <strong>KSA 2</strong>: Knowledge of laws, regulations and procedures of the operating programs that include solar and wind energy, rights-of-way, realty, petroleum engineering, geology, geothermal energy, planning and environmental issues, and other related programs.<br />
  <br />
  <strong>KSA 3</strong>: Knowledge of management policies, procedures, methods, and techniques used by the government such as the budget process and principles of budget planning and financial procedures, performance management system, etc.<br />
  <br />
  <strong>KSA 4</strong>: Knowledge to interpret and apply judicial, administrative and regulatory documentation related to minerals, lands and realty, and renewable resource programs.<br />
  <br />
  <strong>KSA 5</strong>: Knowledge in consensus building and group facilitation process, and a thorough understanding of group dynamics in order to work effectively with other agencies and groups whose policies and procedures often conflict with the direction and guidance provided by the government.<br />
  <b>To preview questions please <a href="https://jobs.mgsapps.monster.com/blm/vacancy/previewVacancyQuestions.hms?orgId=3&amp;jnum=113589" target="_new">click here</a>.</b></p>
</div>
