<button class="usa-button-unstyled usajobs-joa-accordion-trigger is-open-at-L" aria-expanded="false" aria-controls="required_documents">
  Required Documents
</button>
<div id="required_documents" aria-hidden="true" class="usa-accordion-content usajobs-joa-accordion-content is-open-at-L" data-object="joa-accordion">
  <h2 class="usajobs-joa-accordion-title">Required Documents</h2>
  <div>
    In addition to the online application (resume and responses to the questionnaire), you are required to submit the following forms:<br />
    <br />
    - Career Transition Assistance Program (CTAP) or Interagency Career Transition Assistance Program (ICTAP) eligibles: documentation verifying your CTAP/ICTAP eligibility - this includes a copy of the agency notice and your most recent SF-50 noting current position, grade level and duty location.<br />
    <br />
    Veterans' Preference: If you are entitled to veterans' preference, you should indicate the level of veterans' preference you are claiming on your resume. Your veterans' preference entitlement will be adjudicated (verified) by the employing agency using the documents you provide.<br />

    <ul>
      <li>For 0-point Sole survivorship veterans’ preference (SSP), please provide the documentation you received granting this preference.</li>

      <li>For 5-point veterans' preference, please provide your DD-214 (Certificate of Release or Discharge from Active Duty), official statement of service from your command if you are currently on active duty, or other official documentation (e.g., documentation of receipt of a campaign badge or expeditionary medal) that proves your military service was performed under honorable conditions.</li>

      <li>For 10-point veterans' preference, please submit the same documentation as 5-point veterans’ preference as well as a Standard Form (SF) 15, Application for 10-Point Veteran Preference.</li>
    </ul>For more information on which type of preference is applicable, please visit <a href="http://www.opm.gov/staffingPortal/Vetguide.asp#2Types">VetGuide</a>.<br />
    <br />
    You may submit your documents either via Auto-Requested Fax or by uploading your documents from your USAJOBS Profile.<br />
    <br />
    Auto-Requested Fax: allows you to submit required documentation that will be electronically displayed along with your resume. The opportunity to do this will be provided during the application process by a pop-up message option to generate an auto-requested fax cover sheet.<br />
    <br />
    UPLOADING DOCUMENTS: instead of faxing your documents you may use the uploading procedures thru Applicant Manager. Do not use both options.<br />
    <br />
    If uploading a resume, you must include the following: Job Title and Grade Level, if Federal employment, Duties and Accomplishments, Employer's Name and Address, Supervisor's Name and Telephone Number, Starting and Ending dates (month and year), Hours worked per week, and Salary.<br />
    <br />
    Hard copy paper supplemental documents, submitted without prior Human Resources approval, will be considered as an incomplete application.<br />
    <br />
    Required documentation must be submitted by <strong>11:59 p.m. Eastern Time</strong>, on the closing date of this announcement.<br />
  </div>
</div>
