<div class="usajobs-joa-summary-card">
  <h3 class="usajobs-joa-summary-card__agency">
    Bureau of Land Management
  </h3>
  <h4 class="usajobs-joa-summary-card__location" itemprop="addressLocality">
    <i class="fa fa-map-marker"></i> 1 vacancy - Washington DC, DC <a class="map" href="#map">View Map</a>
  </h4>
  <h5 class="usajobs-joa-summary-card__employment-type">
    Work Schedule is <span itemprop="employmentType">Full Time</span>. - This is a Detail/Temporary Promotion NTE 1 year (may be extended based on agency needs).
  </h5>
  <p class="usajobs-joa-summary-card__closing-date">
    <i class="fa fa-clock-o"></i> Closes Tuesday, December 1, 2015
  </p>
</div>
