<div id="agencycontact" class="usajobs-joa-agency noUSAJobsCSS">
  <h2 class="usajobs-joa-agency__title">Agency</h2>
  <img src="https://media.usajobs.gov/agencylogos/IN05.gif" alt=" " class="img-responsive" /><br />

  <div class="usajobs-joa-agency__details">
    <h4 itemprop="hiringOrganization">Department of the Interior</h4>
    <a class="usajobs-joa-agency__agency" href="https://www.sqa.usajobs.gov/GetJob/ViewDetails/24979100/agencycontact">
      Bureau of Land Management
    </a>

    <h5>Job Announcement Number</h5>
    <p class="usajobs-joa-agency__announcement-number">
      WO-DEU-2016-0006
    </p>
  </div>

  <div class="usajobs-joa-agency__contact">
    <h4>Contact</h4>
    <address>
      Ryan Wilkins<br />
      Phone: 202-912-7033<br />
      Fax: 000-000-0000<br />
      Email: rwilkins@blm.gov
    </address>

    <h4>Address</h4>
    <address>
      Bureau of Land Management<br />
      Washington Office<br />
      20 M Street, SouthEast<br />
      Attn: HR-712 (WO-DEU-2016-0006)<br />
      Washington, DC<br />
      20003-3503<br />
      US<br />
      Fax: 000-000-0000
    </address>
  </div>
</div>
