<div class="usajobs-joa-intro">
  <h1 class="usajobs-joa-intro__title" itemprop="title">
    Chief, Office of NREC (National Renewable Energy Coordination)
  </h1>
  <h3 class="usajobs-joa-intro__agency">
    Bureau of Land Management
  </h3>
  <a class="usajobs-joa-intro__agency-contact" href="#agencycontact">Agency contact information</a>
  <div class="usajobs-joa-intro__summary">
    <h4 class="usajobs-joa-intro__location" itemprop="addressLocality">
      <a href="#map"><i class="fa fa-map-marker"></i></a> 1 vacancy - Washington DC, DC
    </h4>
    <h5 class="usajobs-joa-intro__employment-type">
      Work Schedule is <span itemprop="employmentType">Full Time</span>. - This is a Detail/Temporary Promotion NTE 1 year (may be extended based on agency needs).
    </h5>
    <p class="usajobs-joa-intro__closing-date">
      <i class="fa fa-clock-o"></i> Closes Wednesday 12/01/2015
      <span class="usajobs-joa-intro__posting-duration">(2 days away; Posted 33 day ago)</span>
    </p>
  </div>
  <div class="usajobs-joa-intro__details-container">
    <ul class="usajobs-joa-intro__details">
      <li><h5 class="usajobs-joa-intro__label">Salary Range</h5> $107,325 to $158,700 / Per Year</li>
      <li><h5 class="usajobs-joa-intro__label">Series &amp; Grade</h5> GS-0301-14/15</li>
      <li><h5 class="usajobs-joa-intro__label">Promotion Potential</h5> 15</li>
      <li><h5 class="usajobs-joa-intro__label">Supervisory Status</h5> Yes</li>
    </ul>
    <ul class="usajobs-joa-intro__details">
      <li><h5 class="usajobs-joa-intro__label">Who May Apply</h5> All U.S. Citizens – No previous Federal Service is required.</li>
      <li><h5 class="usajobs-joa-intro__label">Control Number</h5> 24979100</li>
      <li><h5 class="usajobs-joa-intro__label">Job Announcement Number</h5> WO-DEU-2016-0006</li>
    </ul>
  </div>
</div>


