<button class="usa-button-unstyled usajobs-joa-accordion-trigger is-open-at-M" aria-expanded="true" aria-controls="summary" data-behavior="joa_accordion.toggle">
  Job Description
</button>
<div id="summary" aria-hidden="false" class="usa-accordion-content usajobs-joa-accordion-content is-open-at-M usajobs-joa-accordion-description">
  <h2 class="usajobs-joa-accordion-title">Job Description</h2>
  <h3>Job Summary</h3>
  <div class="noUSAJobsCSS" itemprop="description">
    <p><a target="_blank" style="padding-top:5px" href="https://jobs.mgsapps.monster.com/blm/vacancy/preview.hms?orgId=3&amp;jnum=113589">About the Agency</a></p>

    <p>Explore a new career with the BLM - where our people are our greatest natural resource.<br />
    <br />
    For additional information about the BLM, please visit <a href="http://www.blm.gov/wo/st/en/info/About_BLM.html">our website</a>.<br />
    <br />
    This position is located at the BLM National Headquarters Office, located in Washington, D.C. Information about the surrounding area may be found by <a href="http://dc.gov/">clicking here</a>.<br />
    <br />
    Physical Demands:<br />
    The work involves office activities, largely of a sedentary nature. Travel is required in connection with various work assignments. Rugged terrain in the West may involve strenuous hiking or climbing. The incumbent often works under very tight deadlines involving projects of national significance.<br />
    <br />
    Work Environment:<br />
    Most of the work is performed in an office setting where risks, generally associated with an office environment, are present.<br />
    <br />
    This is a key leadership position which requires the successful applicant to have broad managerial and leadership competencies including experiences gained at the national and field level.<br />
    <br />
    We expect to fill one vacancy at this time; however, more than one position may be filled from this announcement.</p>
  </div>

  <div id="duties" class="content">
    <h3>Duties</h3>

    <div class="noUSAJobsCSS">
      <p>- Serves as the Office Chief for the National Renewable Energy Coordination Office (RECO), within the Energy, Minerals and Realty Management Directorate of the BLM Headquarters Office.<br />
      <br />
      - Responsible for the day to day management of the National Renewable Energy Coordination Office’s Human, Fiscal and Material Resources.<br />
      <br />
      - Serves as the bureau-level senior advisor and expert with regard to national renewable energy issues.<br />
      <br />
      - Develops policies and procedures to ensure proper Federal implementation of the assigned program(s), balancing resource development, environmental protection, and resource protection needs as a public trustee, and with a consideration for maintaining healthy public land conditions.<br />
      <br />
      - Manages the development and updating of national policies, procedures and guidelines for areas of program responsibility.<br />
      <br />
      - Responsible for work process management by directing office workflow, assigning work projects and tasks to National RECO members, and assuring quality control of the products and staff work prepared by the office.</p>
    </div>
  </div>


  <div id="travelrequired" class="noUSAJobsCSS">
    <h3>Travel Required</h3>
    <ul>
      <li>Occasional Travel</li>
      <li>Travel is required to attend trainings, conferences, workshops, and field visits.</li>
    </ul>
  </div>

  <div id="relocationauthorized" class="noUSAJobsCSS">
    <h3>Relocation Authorized</h3>
    <ul>
      <li>No</li>
    </ul>
  </div>
</div>
