<button class="usa-button-unstyled" aria-expanded="false" aria-controls="howtoapply">
  How to Apply
</button>
<div id="howtoapply" aria-hidden="true" class="usa-accordion-content">
  <h4>HOW TO APPLY</h4>
  <div class="noUSAJobsCSS">
    <div>
      To receive consideration for this position, you must provide a complete Application Package, which includes ALL of the following items:<br />
      1. Your responses to the Assessment Questionnaire;<br />
      2. Your resume, and;<br />
      3. Applicable supporting documents specified in the Required Documents section of this job announcement.<br />
      <br />
      Click on the button "Apply Online" and login to MY USAJOBS.<br />
      <br />
      If you haven't already registered with USAJOBS, the system will require you to create a user name and password, complete a questionnaire and upload, paste or type a resume into USAJOBS.<br />
      <br />
      If you have already registered with USAJOBS and forgot your login information, select the "Did you forget your username and/or password" link from the right side menu.<br />
      <br />
      Your application package must be submitted by <strong>11:59 PM Eastern Time</strong> by the closing date of this announcement.<br />
      <br />
      If you need assistance in applying on-line, please contact Ryan Wilkins by email at rwilkins@blm.gov, or by phone at (202) 912-7033. If applying on-line poses a hardship for you (i.e. you do not have access to the internet) you must contact us prior to the closing date of the announcement for an alternative method of applying.<br />
    </div>
  </div>

  <h4>HOW YOU WILL BE EVALUATED:</h4>
  <p>Upon receipt of your complete application package, a review of your application will be made to ensure you meet the basic qualification requirements. Your rating will be based on your responses to the Job Specific Questionnaire and the information stated in your resume. If you meet the qualification requirements, you application will be placed in one of three categories: Best Qualified, Well Qualified, or Qualified. Within these categories, applicants eligible for veteran's preference will receive selection priority over non-veterans. In addition, interviews may be conducted for this position. The interviews may be conducted on a pass/fail basis or may be scored. The job specific questions relate to the following knowledge, skills and abilities required to do the work of this position.<br />
  <br />
  <strong>KSA 1</strong>: Ability to supervise and manage a staff of subordinate employees by applying human resources management policies, practices, and procedures, including those dealing with EEO, personnel procedures, and regulations, and alternative dispute resolution principles and techniques.<br />
  <br />
  <strong>KSA 2</strong>: Knowledge of laws, regulations and procedures of the operating programs that include solar and wind energy, rights-of-way, realty, petroleum engineering, geology, geothermal energy, planning and environmental issues, and other related programs.<br />
  <br />
  <strong>KSA 3</strong>: Knowledge of management policies, procedures, methods, and techniques used by the government such as the budget process and principles of budget planning and financial procedures, performance management system, etc.<br />
  <br />
  <strong>KSA 4</strong>: Knowledge to interpret and apply judicial, administrative and regulatory documentation related to minerals, lands and realty, and renewable resource programs.<br />
  <br />
  <strong>KSA 5</strong>: Knowledge in consensus building and group facilitation process, and a thorough understanding of group dynamics in order to work effectively with other agencies and groups whose policies and procedures often conflict with the direction and guidance provided by the government.<br />
  <b>To preview questions please <a href="https://jobs.mgsapps.monster.com/blm/vacancy/previewVacancyQuestions.hms?orgId=3&amp;jnum=113589" target="_new">click here</a>.</b></p>

  <div id="requireddocuments" class="noUSAJobsCSS">
    <h4>REQUIRED DOCUMENTS</h4>

    <div>
      In addition to the online application (resume and responses to the questionnaire), you are required to submit the following forms:<br />
      <br />
      - Career Transition Assistance Program (CTAP) or Interagency Career Transition Assistance Program (ICTAP) eligibles: documentation verifying your CTAP/ICTAP eligibility - this includes a copy of the agency notice and your most recent SF-50 noting current position, grade level and duty location.<br />
      <br />
      Veterans' Preference: If you are entitled to veterans' preference, you should indicate the level of veterans' preference you are claiming on your resume. Your veterans' preference entitlement will be adjudicated (verified) by the employing agency using the documents you provide.<br />

      <ul>
        <li>For 0-point Sole survivorship veterans’ preference (SSP), please provide the documentation you received granting this preference.</li>

        <li>For 5-point veterans' preference, please provide your DD-214 (Certificate of Release or Discharge from Active Duty), official statement of service from your command if you are currently on active duty, or other official documentation (e.g., documentation of receipt of a campaign badge or expeditionary medal) that proves your military service was performed under honorable conditions.</li>

        <li>For 10-point veterans' preference, please submit the same documentation as 5-point veterans’ preference as well as a Standard Form (SF) 15, Application for 10-Point Veteran Preference.</li>
      </ul>For more information on which type of preference is applicable, please visit <a href="http://www.opm.gov/staffingPortal/Vetguide.asp#2Types">VetGuide</a>.<br />
      <br />
      You may submit your documents either via Auto-Requested Fax or by uploading your documents from your USAJOBS Profile.<br />
      <br />
      Auto-Requested Fax: allows you to submit required documentation that will be electronically displayed along with your resume. The opportunity to do this will be provided during the application process by a pop-up message option to generate an auto-requested fax cover sheet.<br />
      <br />
      UPLOADING DOCUMENTS: instead of faxing your documents you may use the uploading procedures thru Applicant Manager. Do not use both options.<br />
      <br />
      If uploading a resume, you must include the following: Job Title and Grade Level, if Federal employment, Duties and Accomplishments, Employer's Name and Address, Supervisor's Name and Telephone Number, Starting and Ending dates (month and year), Hours worked per week, and Salary.<br />
      <br />
      Hard copy paper supplemental documents, submitted without prior Human Resources approval, will be considered as an incomplete application.<br />
      <br />
      Required documentation must be submitted by <strong>11:59 p.m. Eastern Time</strong>, on the closing date of this announcement.<br />
    </div>
  </div>
</div>
