<button class="usa-button-unstyled usajobs-joa-accordion-trigger is-open-at-M" aria-expanded="false" aria-controls="requirements">
  Job Requirements
</button>
<div id="requirements" aria-hidden="true" class="usa-accordion-content usajobs-joa-accordion-content is-open-at-M" data-object="joa-accordion">
  <h2 class="usajobs-joa-accordion-title">Job Requirements</h2>

  <div class="noUSAJobsCSS">
    <h3>Key Requirements</h3>
    <ul class="usajobs-list-bullets">
      <li>U.S. Citizenship is required.</li>
      <li>Be sure to read the "How to Apply" and "Required Documents" Sections</li>
      <li>You cannot hold an active real estate license; nor can you</li>
      <li>have an interest or hold stocks in firms with interest in Federal land.</li>
      <li>Direct deposit is required.</li>
      <li>Background Investigation Required</li>
    </ul>

    <div id="qualifications" class="content">
      <h3>Qualifications</h3>

      <div class="noUSAJobsCSS">
        <p><strong><span style="text-decoration: underline;">Specialized Experience Requirements:</span></strong><br />
        In order to be rated as qualified using specialized experience, we must be able to determine that you meet the definition(s) below; please be sure to include this information in your resume. To be creditable, this experience must have been equivalent in difficulty and complexity to the next lower grade (GS-13/GS-14) level of the position to be filled.<br />
        <br />
        <strong>For GS-14</strong>: One year (12 months) of specialized experience equivalent to the GS-13 grade level in the Federal service, or comparable experience not gained through Federal service. Specialized experience is defined as, but not limited to: demonstrated experience in directing and managing the development of regional and/or national policies, program budget, legislative proposals, procedures, and guidelines for numerous renewable energy, minerals, and lands and realty programs of an organization.<br />
        <br />
        <strong>For GS-15</strong>: One year (12 months) of specialized experience equivalent to the GS-14 grade level in the Federal service, or comparable experience not gained through Federal service. Specialized experience is defined as, but not limited to: demonstrated experience in directing and managing the development of regional and/or national policies, program budget, legislative proposal, procedures, and guidelines for numerous renewable energy, minerals, and lands and realty programs of an organization; and program oversight on renewable energy operations and onsite regulatory compliance for renewable energy resources.<br />
        <br />
        There is no substitution of education for experience at the GS-14 and above grade levels.<br />
        <br />
        Experience refers to paid and unpaid experience, including volunteer work done through National Service programs (e.g., Peace Corps, AmeriCorps) and other organizations (e.g., professional; philanthropic; religious; spiritual; community, student, social). Volunteer work helps build critical competencies, knowledge, and skills and can provide valuable training and experience that translates directly to paid employment. You will receive credit for all qualifying experience, including volunteer experience.<br />
        <br />
        You must meet all qualification requirements by the closing date of the announcement.</p><br />

        <p>This position falls under the Administrative and Management group coverage and IOR (Individual Occupational Requirement) standards.</p>

      </div>
    </div>

    <h3>Security Clearance</h3>
    <p>Top Secret</p>
  </div>
</div>
