<div class="usajobs-joa-summary-card">
  <h2 class="usajobs-joa-summary-card__title">
    Chief, Office of NREC (National Renewable Energy Coordination)
  </h2>
  <h3 class="usajobs-joa-summary-card__department">
    Department Of The Interior
  </h3>
  <h4 class="usajobs-joa-summary-card__location">
    1 vacancy in the following location: Washington DC, DC
  </h4>
  <h5 class="usajobs-joa-summary-card__position-info">
    Work Schedule is Full Time. - This is a permanent position.
  </h5>
  <p class="usajobs-joa-summary-card__closing-date">
    <i class="fa fa-clock"></i> Closes Tuesday, December 1, 2015
  </p>
</div>
