<div class="usajobs-joa-actions">
  <div class="usajobs-joa-actions__col-apply">
    <button class="usa-button-primary usa-button-big usajobs-joa-actions__apply">Apply</button>
  </div>
  <div class="usajobs-joa-actions__col-sub-actions">
    <a class="usajobs-joa-actions__print" href="#print">
      <i class="fa fa-print"></i> Print
    </a>
    <a class="usajobs-joa-actions__share" href="#share">
      <i class="fa fa-share-alt"></i> Share
    </a>
    <a class="usajobs-joa-actions__save" href="#save">
      Save
    </a>
  </div>
</div>
