<div class="usajobs-modal usajobs-modal--error" data-object="modal" data-state="is-closed" id="modal-delete-document" aria-hidden="true" role="dialog" aria-labelledby="usajobs-modal-heading" aria-describedby="usajobs-modal-description">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">
      <div id="usajobs-modal-description" class="usajobs-assistive-text">
        Beginning of a dialog window for delete document. It begins with a heading 2
        called "Delete Document Confirmation". Escape will cancel and close the window.
      </div>
      <div class="usajobs-modal__header">
        <div class="usa-alert usajobs-alert usajobs-alert--error">
          <div class="usajobs-alert__figure">
            <div class="usajobs-alert__icon">
            </div>
          </div>
          <div class="usajobs-alert__body">
            <h2 id="usajobs-modal-heading" class="usajobs-modal__title">
              Delete Document Confirmation
            </h2>
          </div>
        </div>
      </div>
      <div class="usajobs-modal__body">
        <p>
          If you delete this document, <strong>[Document Name]</strong>, you will delete it from your account. You won’t be able to use this document for future job applications, unless you upload or build it again.
        </p>
        <p>
          <strong>If you delete this document, you can’t get it back.</strong>
        </p>
        <h4>Want to keep the document, but not use it in your application?</h4>
        <ol>
          <li>Close this window.</li>
          <li>Click on the document to unselect it.</li>
          <li>Continue with your application.</li>
        </ol>
      </div>
      <div class="usajobs-modal__footer">
        <button class="usa-button usa-button-secondary" data-behavior="modal.close">
          Cancel
        </button>
        <button class="usa-button usajobs-button-destructive-action" data-behavior="modal.close">
          Delete Document
        </button>
      </div>
      <div class="usajobs-modal__actions">
        <button class="usajobs-modal__close" data-behavior="modal.close">
          <span class="usajobs-assistive-text">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
