<div class="usajobs-modal usajobs-modal--info" data-object="modal" data-state="is-closed" id="modal-info-demo" aria-hidden="true" role="dialog" aria-labelledby="usajobs-modal-heading" aria-describedby="usajobs-modal-description">
  <div id="usajobs-modal-description" class="usajobs-assistive-text">
    Beginning of a dialog window for the Incomplete Profile. It begins with a heading 2
    called &quot;Incomplete Profile&quot;. Escape will cancel and close the window.
  </div>
  <div class="usajobs-modal__header">
    <div class="usa-alert usajobs-alert usajobs-alert--info">
      <div class="usajobs-alert__figure">
        <div class="usajobs-alert__icon">
        </div>
      </div>
      <div class="usajobs-alert__body">
        <h2 id="usajobs-modal-heading" class="usajobs-modal__title">Incomplete Profile</h2>
      </div>
    </div>
  </div>
  <div class="usajobs-modal__body">
    You must complete the required sections of your profile before you can submit this application.
  </div>
  <div class="usajobs-modal__footer">
    <button class="usa-button-big usa-button-outline" data-behavior="modal.close">
      Back to Job Posting
    </button>
    <button class="usa-button-big usa-button-primary" data-behavior="modal.close">
      Continue to Profile
    </button>
  </div>
  <div class="usajobs-modal__actions">
    <button class="usajobs-modal__close" data-behavior="modal.close" >
      <span class="usajobs-assistive-text">Close</span>
    </button>
  </div>
</div>
