<div class="usajobs-modal usajobs-modal--error" data-object="modal" data-state="is-closed" id="modal-delete-account" aria-hidden="true" role="dialog" aria-labelledby="usajobs-modal-heading" aria-describedby="usajobs-modal-description">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">
      <div id="usajobs-modal-description" class="usajobs-assistive-text">
        Beginning of a dialog window for delete profile. It begins with a heading 2
        called "Delete profile confirmation". Escape will cancel and close the window.
      </div>
      <div class="usajobs-modal__header">
        <div class="usa-alert usajobs-alert usajobs-alert--error">
          <div class="usajobs-alert__figure">
            <div class="usajobs-alert__icon">
            </div>
          </div>
          <div class="usajobs-alert__body">
            <h2 id="usajobs-modal-heading" class="usajobs-modal__title">
              Delete profile confirmation
            </h2>
          </div>
        </div>
      </div>
      <div class="usajobs-modal__body">
        <p>
          Deleting your profile will delete everything in your USAJOBS profile, including your application history, resumes, saved searches, and all other documents. <strong>This action cannot be undone.</strong>
        </p>
        <p>
          Deleting your USAJOBS profile will not delete your login.gov account.
        </p>
      </div>
      <div class="usajobs-modal__footer">
        <button class="usa-button-big usa-button-outline" data-behavior="modal.close">
          Cancel
        </button>
        <button class="usa-button-big usa-button-secondary" data-behavior="modal.close">
          Delete profile
        </button>
      </div>
      <div class="usajobs-modal__actions">
        <button class="usajobs-modal__close" data-behavior="modal.close">
          <span class="usajobs-assistive-text">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
