<div class="usajobs-modal" data-object="modal" data-state="is-closed" id="modal-share-joa" aria-hidden="true" role="dialog" aria-labelledby="usajobs-modal-heading" aria-describedby="usajobs-modal-description">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">
      <div id="usajobs-modal-description" class="usajobs-assistive-text">
        Beginning of a dialog window name that allows for sharing a job announcement. It begins with a heading 2 called &quot;Share job annoucement&quot;. Escape will cancel and close the window.
      </div>
      <div class="usajobs-modal__header">
        <h2 id="usajobs-modal-heading" class="usajobs-modal__title">Share job annoucement</h2>
      </div>
      <div class="usajobs-modal__body">
        <ul class="usajobs-joa-actions__social-list">
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-envelope"></i>
              Email
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-twitter"></i>
              Twitter
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-linkedin"></i>
              LinkedIn
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-google-plus"></i>
              Google+
            </a>
          </li>
        </ul>
      </div>
      <div class="usajobs-modal__actions">
        <button class="usajobs-modal__close" data-behavior="modal.close" >
          <span class="usajobs-assistive-text">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
