<div class="usajobs-modal usajobs-modal--error" data-object="modal" data-state="is-closed" id="modal-delete-document" aria-hidden="true" role="dialog" aria-labelledby="usajobs-modal-heading" aria-describedby="usajobs-modal-description">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">
      <div id="usajobs-modal-description" class="usajobs-assistive-text">
        Beginning of a dialog window for delete document. It begins with a heading 2
        called "Delete Document Confirmation". Escape will cancel and close the window.
      </div>
      <div class="usajobs-modal__header">
        <div class="usa-alert usajobs-alert usajobs-alert--error">
          <div class="usajobs-alert__figure">
            <div class="usajobs-alert__icon">
            </div>
          </div>
          <div class="usajobs-alert__body">
            <h2 id="usajobs-modal-heading" class="usajobs-modal__title">
              Delete Document Confirmation
            </h2>
          </div>
        </div>
      </div>
      <div class="usajobs-modal__body">
        Deleting this document, <strong>[document name]</strong>, will also delete it from your profile. You will be unable to use it for future applications unless you upload or build the document again. <strong>This operation cannot be undone.</strong>

        <p>
          If only you want to exclude this document from your application package then close this window and click on the document to unselect it.
        </p>
      </div>
      <div class="usajobs-modal__footer">
        <button class="usa-button-big usa-button-outline" data-behavior="modal.close">
          Cancel
        </button>
        <button class="usa-button-big usa-button-secondary" data-behavior="modal.close">
          Delete Document
        </button>
      </div>
      <div class="usajobs-modal__actions">
        <button class="usajobs-modal__close" data-behavior="modal.close">
          <span class="usajobs-assistive-text">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
