<header class="usajobs-site-header" role="banner" aria-label="header">
  <div class="usa-disclaimer">
    <div class="usa-grid usajobs-disclaimer-official">
      <img class="usa-flag_icon" alt="U.S. flag signifying that this is a United States federal government website" src="{{ site.baseurl }}/img/us_flag_small.png">
      An official website of the United States Government
    </div>
  </div>
  <nav class="usajobs-nav" role="navigation" aria-label="main navigation" data-object="nav">
    <div class="usajobs-nav__body">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header">
          <div class="usajobs-nav__brand-container">
            <a class="usajobs-nav__brand" href="/">
              <span class="logo" title="USAJOBS logo"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
