<div class="usajobs-notification usajobs-notification--success" role="alert" data-object="notification" data-state="is-closed" id="notification-demo">
  <div class="usajobs-notification__figure">
    <div class="usajobs-notification__icon">
    </div>
  </div>
  <div class="usajobs-notification__body">
    <h3 class="usa-notification-heading">
      Application Progress Saved
    </h3>
    <p class="usa-notification-text">
      Animal-Handling-Resume.pdf has been attached to your application.
    </p>
  </div>
  <button class="usajobs-notification__close" data-behavior="notification.close" >
    <span class="usajobs-assistive-text">Close</span>
  </button>
</div>
