<div class="usajobs-progress_indicator" role="navigation" aria-label="Secondary">
	<div class="usajobs-progress_indicator__body">
		<a href="#step-1" class="usajobs-progress_indicator__step is-current" title="Select Resume">
			<div class="usajobs-progress_indicator__number">
				<span class="circle">1</span>
			</div>
			<div class="usajobs-progress_indicator__step-desc">
				<h5>
					<span class="long-desc">Select Resume</span><span class="short-desc">Resume</span>
				</h5>
			</div>
		</a>

		<a href="#step-2" class="usajobs-progress_indicator__step" title="Select Documents">
			<div class="usajobs-progress_indicator__number">
				<span class="circle">2</span>
			</div>
			<div class="usajobs-progress_indicator__step-desc">
				<h5>
					<span class="long-desc">Select Documents</span><span class="short-desc">Docs</span>
				</h5>
			</div>
		</a>

		<a href="#step-3" class="usajobs-progress_indicator__step" title="Review Package">
			<div class="usajobs-progress_indicator__number">
				<span class="circle">3</span>
			</div>
			<div class="usajobs-progress_indicator__step-desc">
				<h5>
					<span class="long-desc">Review Package</span><span class="short-desc">Review</span>
				</h5>
			</div>
		</a>

		<a href="#step-4" class="usajobs-progress_indicator__step" title="Include Personal Info">
			<div class="usajobs-progress_indicator__number">
				<span class="circle">4</span>
			</div>
			<div class="usajobs-progress_indicator__step-desc">
				<h5>
					<span class="long-desc">Include Personal Info</span><span class="short-desc">Info</span>
				</h5>
			</div>
		</a>

		<a href="#step-5" class="usajobs-progress_indicator__step" title="Complete Application with Agency">
			<div class="usajobs-progress_indicator__number">
				<span class="circle">5</span>
			</div>
			<div class="usajobs-progress_indicator__step-desc">
				<h5>
					<span class="long-desc">Complete Application with Agency</span><span class="short-desc">Complete</span>
				</h5>
			</div>
		</a>
	</div>
</div>
