<div class="usajobs-progress_indicator v1">
	<div class="usajobs-progress_indicator-body">
		
		<div class="col-lg-8 col-md-9 col-sm-6 progress-container">
			<div class="row">
				<div class="col-xs-offset-1 col-sm-offset-0 col-md-offset-1 col-xs-2 col-sm-12 col-md-2">
					<div class="row">
						<div class="col-md-6 col-sm-2 col-sm-offset-1 col-md-offset-0 progress-step">
							<span class="circle">1</span>
						</div>
						<div class="col-xs-6 hidden-xs hidden-sm horizontal-line">
							&nbsp;
						</div>
						<div class="col-sm-9 visible-sm progress-small-text">
							<h4>Select Resume</h4>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-sm-12 col-md-2">
					<div class="row">
						<div class="col-md-6 col-sm-2 col-sm-offset-1 col-md-offset-0 progress-step">
							<span class="circle-outline">2</span>
						</div>
						<div class="col-xs-6 hidden-xs hidden-sm horizontal-line">
							&nbsp;
						</div>
						<div class="col-sm-9 visible-sm progress-small-text">
							<h4>Select Document</h4>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-sm-12 col-md-2">
					<div class="row">
						<div class="col-md-6 col-sm-2 col-sm-offset-1 col-md-offset-0 progress-step">
							<span class="circle-outline">3</span>
						</div>
						<div class="col-xs-6 hidden-xs hidden-sm horizontal-line">
							&nbsp;
						</div>
						<div class="col-sm-9 visible-sm progress-small-text">
							<h4>Review Package</h4>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-sm-12 col-md-2">
					<div class="row">
						<div class="col-md-6 col-sm-2 col-sm-offset-1 col-md-offset-0 progress-step">
							<span class="circle-outline">4</span>
						</div>
						<div class="col-xs-6 hidden-xs hidden-sm horizontal-line">
							&nbsp;
						</div>
						<div class="col-sm-9 visible-sm progress-small-text">
							<h4>Provide Personal Info</h4>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-sm-12 col-md-2">
					<div class="row">
						<div class="col-md-6 col-sm-2 col-sm-offset-1 col-md-offset-0 progress-step">
							<span class="circle-outline">5</span>
						</div>
						<div class="col-xs-6 hidden-xs hidden-sm">
							&nbsp;
						</div>
						<div class="col-sm-9 visible-sm progress-small-text">
							<h4>Complete Application with Agency</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="row visible-lg visible-md">
				<div class="col-xs-2 col-md-offset-1 progress-text">
					<h5>Select<br /> Resume</h5>
				</div>
				<div class="col-xs-2 progress-text">
					<h5>Select<br /> Documents</h5>
				</div>
				<div class="col-xs-2 progress-text">
					<h5>Review<br /> Package</h5>
				</div>
				<div class="col-xs-2 progress-text">
					<h5>Include<br /> Personal Info</h5>
				</div>
				<div class="col-xs-3 progress-text">
					<h5>Complete Application<br /> with Agency</h5>
				</div>
			</div>
		</div>
	</div>
</div>


</div>
</div>


