<!-- Required Documents component start -->
<div class="usajobs-accordion usajobs-required_documents">
  <button class="usajobs-required_documents__trigger usa-accordion-button" aria-expanded="false" aria-controls="collapsible-0">
    View Required Documents
  </button>
  <div id="collapsible-0" aria-hidden="true" class="usa-accordion-content">
    <h2>Required Documents</h2>

    <!-- div class="usajobs-required_documents__actions">
      <button class="usajobs-required_documents__close" data-behavior="panel.close" >
        <span class="usajobs-assistive-text">Close</span>
      </button>
    </div -->

    <p>The following required document details have been sourced from the job posting.</p>
    <hr />
    <h3>The following documents are required if you are applying to this announcement:</h3>
    <ul>
      <li>Current Resume</li>
      <li>Unofficial transcripts (if selected official transcripts are required). Your transcript(s) must    document the educational requirements for this position.</li>
      <li>Veteran's Preference documentation: DD-214 (Certificate of Release or Discharge from Active Duty) indicating character of service, and VA letter, if applicable.</li>
    </ul>

    <h3>How do I submit my documents:</h3>
    <p>You may submit required and/or supplemental documents through any ONE of the following methods:</p>
    <ul>
      <li>Upload your file(s)</li>
    </ul>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </div>
</div>
<!-- Required Documents component end-->
