<div class="usajobs-joa-section usajobs-joa-fair-and-transparent">
  <h2 class="usajobs-joa-section__header">Fair &amp; transparent</h2>
  <p>
    The Federal hiring process is setup to be fair and transparent. Please read the following guidance.
  </p>
  <h3>Equal Employment Opportunity Policy</h3>
  <div class="usajobs-read-more usajobs-joa__read-more-content" data-object="reveal-more" data-behavior="joa-read-more">
    <p>
      The United States Government does not discriminate in employment on the basis of race, color, religion, sex (including pregnancy and gender identity), national origin, political affiliation, sexual orientation, marital status, disability, genetic information, age, membership in an employee organization, retaliation, parental status, military service, or other non-merit factor.
    </p>
    <p>
      <a href="https://www.eeoc.gov/federal/fed_employees/index.cfm">
        Equal Employment Opportunity (EEO) for Federal employees &amp; job applicants
      </a>
    </p>
  </div>
  <h3>Reasonable Accommodation Policy</h3>
  <div class="usajobs-read-more usajobs-joa__read-more-content" data-object="reveal-more" data-behavior="joa-read-more">
    <p>
      Federal agencies must provide reasonable accommodation to applicants with disabilities where appropriate. Applicants requiring reasonable accommodation for any part of the application and hiring process should contact the hiring agency directly. Determinations on requests for reasonable accommodation will be made on a case-by-case basis.
    </p>
    <p>
      A reasonable accommodation is any change to a job, the work environment, or the way things are usually done that enables an individual with a disability to apply for a job, perform job duties or receive equal access to job benefits.
    </p>
    <p>
      Under the Rehabilitation Act of 1973, federal agencies must provide reasonable accommodations when:
      <ul>
        <li>
          An applicant with a disability needs an accommodation to have an equal opportunity to apply for a job.
        </li>
        <li>
          An employee with a disability needs an accommodation to perform the essential job duties or to gain access to the workplace.
        </li>
        <li>
          An employee with a disability needs an accommodation to receive equal access to benefits, such as details, training, and office-sponsored events.
        </li>
      </ul>
    </p>
    <p>
      You can request a reasonable accommodation at any time during the application or hiring process or while on the job. Requests are considered on a case-by-case basis.
    </p>
    <p>
      Learn more about <a href="https://www.opm.gov/policy-data-oversight/disability-employment/reasonable-accommodations/">
          disability employment and reasonable accommodations</a> or <a href="https://www.usajobs.gov/Help/how-to/application/agency/contact/">
          how to contact an agency</a>.
    </p>
  </div>

  <h4>Legal and regulatory guidance</h4>
  <ul class="usajobs-joa-fair-and-transparent__list">
    <li class="usajobs-joa-fair-and-transparent__item">
      <a class="usajobs-joa-fair-and-transparent__link" href="https://usajobs.github.io/Help/working-in-government/fair-and-transparent/financial-suitability/" target="_blank">Financial suitability</a>
    </li>
    <li class="usajobs-joa-fair-and-transparent__item">
      <a class="usajobs-joa-fair-and-transparent__link" href="https://usajobs.github.io/Help/working-in-government/fair-and-transparent/social-security-number/" target="_blank">
        Social security number request
      </a>
    </li>
    <li class="usajobs-joa-fair-and-transparent__item">
      <a class="usajobs-joa-fair-and-transparent__link" href="https://usajobs.github.io/Help/working-in-government/fair-and-transparent/privacy-act/" target="_blank">
        Privacy Act
      </a>
    </li>
    <li class="usajobs-joa-fair-and-transparent__item">
      <a class="usajobs-joa-fair-and-transparent__link" href="https://usajobs.github.io/Help/working-in-government/fair-and-transparent/signature-false-statements/" target="_blank">
        Signature &amp; false statements
      </a>
    </li>
    <li class="usajobs-joa-fair-and-transparent__item">
      <a class="usajobs-joa-fair-and-transparent__link" href="https://usajobs.github.io/Help/working-in-government/fair-and-transparent/selective-service/" target="_blank">
        Selective Service
      </a>
    </li>
    <li class="usajobs-joa-fair-and-transparent__item">
      <a class="usajobs-joa-fair-and-transparent__link" href="https://usajobs.github.io/Help/working-in-government/fair-and-transparent/probationary-period/" target="_blank">
        New employee probationary period
      </a>
    </li>
  </ul>
</div>
