<div class="usajobs-joa-intro usajobs-joa-intro--v1-7">
  <div class="usajobs-joa-intro--v1-7__container">
    <div class="usajobs-joa-overview">
      <a href="http://usajobs.github.io/Help/how-to/job-announcement/overview/" class="usajobs-joa-section__help" target="_blank">
        <span class="fa fa-question-circle"></span> Help
      </a>
      <h2 id="overview" class="usajobs-joa-overview__header">Overview</h2>
      <ul class="usajobs-joa-summary__list">
        <li class="usajobs-joa-summary__item">
          <h5 class="usajobs-joa-summary__label">
            <span rel="tooltip" title="The open date is when the job was posted and the closing date is when the job will close.">
              Open &amp; closing dates
            </span>
          </h5>
          <p class="usajobs-joa-summary__value">
            <i class="fa fa-clock-o usajobs-joa-summary__closing-clock--is-warning"></i>
            <span itemprop="datePosted">{{ job.PublicationStartDate }}</span> to <span itemprop="validThrough">{{ job.ApplicationCloseDate }}</span>
          </p>
          {% if job.ApplicationClosingType == 'application-cut-off' %}
          <div class="usajobs-joa-closing-types usajobs-joa-closing-types--cut-off">
            This job will close when we have received <strong>{{ job.ApplicationCutOff }} applications</strong> which may be sooner than the closing date. <a href="http://usajobs.github.io/Help/how-to/job-announcement/closing-types/#applicant-cut-off" target="_blank">Learn more</a>
          </div>
          {% endif %}
        </li>
        <li class="usajobs-joa-summary__item">
          <h5 class="usajobs-joa-summary__label">
            <span rel="tooltip" title="The Federal Government has three services that determine how you are hired: Competitive, Excepted, and Senior Executive.">
              Service
            </span>
          </h5>
          <p class="usajobs-joa-summary__value">
            Competitive
          </p>
        </li>
        <li class="usajobs-joa-summary__item">
          <h5 class="usajobs-joa-summary__label">
            <span rel="tooltip" title="A grade refers to the pay scale which sets the pay level and qualifications for the job.">
              Pay scale &amp; grade
            </span>
          </h5>
          <p class="usajobs-joa-summary__grades">
            {{ job.JobGrade.first.Code }}
            {% if job.UserArea.Details.LowGrade == job.UserArea.Details.HighGrade %}
              {{ job.UserArea.Details.LowGrade }}
            {% else %}
            {{ job.UserArea.Details.LowGrade }} - {{ job.UserArea.Details.HighGrade }}
            {% endif %}
          </p>
        </li>
        <li class="usajobs-joa-summary__item">
          <h5 class="usajobs-joa-summary__label">
            <span rel="tooltip" title="The salary range for the job.">
              Salary
            </span>
          </h5>
          <p class="usajobs-joa-summary__salary">
            <span itemprop="baseSalary">${{ job.PositionRemuneration.first.MinimumRange }}</span> -
            ${{ job.PositionRemuneration.first.MaximumRange}} {{job.PositionRemuneration.first.RateIntervalCode }}
          </p>
        </li>
        <li class="usajobs-joa-summary__item">
          <h5 class="usajobs-joa-summary__label">
            <span rel="tooltip" title="The way that the Federal Government classifies the duration of certain jobs.">
              Appointment type
            </span>
          </h5>
          <p class="usajobs-joa-summary__value">
            {{ job.PositionOfferingType.first.Name }}
          {% if job.PositionOfferingType.first.OverrideText %}
            - {{ job.PositionOfferingType.first.OverrideText }}
          {% endif %}
          </p>
        </li>
        <li class="usajobs-joa-summary__item">
          <h5 class="usajobs-joa-summary__label">
            <span rel="tooltip" title="Determines the number of hours that you will work during the week.">
              Work schedule
            </span>
          </h5>
          <p class="usajobs-joa-summary__value" itemprop="employmentType">
            {{ job.PositionSchedule.first.Name }}
          </p>
        </li>
      </ul>
    </div>
    {% include components/joa/v1.5/locations.html %}
  </div>

  <aside class="usajobs-joa-aside">
    <div id="hiring-paths" class="usajobs-joa-intro-hiring-paths usajobs-joa--v1-7__intro-hiring-paths">
      <a href="http://usajobs.github.io/Help/how-to/job-announcement/this-job-is-open-to/" class="usajobs-joa-section__help">
        <span class="fa fa-question-circle"></span> Help
      </a>
      <h3 class="usajobs-joa-intro-hiring-paths__section-title">This job is open to</h3>
      <ul class="usajobs-joa-intro-hiring-paths__list">
        {% for hiring_path in job.UserArea.Details.HiringPath %}
          {% if hiring_path == 'public' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/public/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <div class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#public"></use>
                  </svg>
                </div>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  The public
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  U.S. citizens, nationals or those who owe allegiance to the U.S.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'fed-competitive' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/federal-employees/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#federal-employees-competitive"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Federal employees - Competitive service
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Current or former competitive service federal employees.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'fed-excepted' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/federal-employees/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#federal-employees-excepted"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Federal employees - Excepted service
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Current or former excepted service federal employees.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'fed-internal' %}
          <li class="usajobs-joa-intro-hiring-paths__item usajobs-joa-intro-hiring_paths--subitem">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/federal-employees/#internal" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#internal-to-an-agency"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Internal to an agency
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Current federal employees of this agency.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'fed-transition' %}
          <li class="usajobs-joa-intro-hiring-paths__item usajobs-joa-intro-hiring_paths--subitem">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/federal-employees/#transition" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#federal-employees-transition"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Career transition (CTAP, ICTAP, RPL)
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Federal employees who meet the definition of a “surplus” or “displaced” employee.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'fed-land-mgmt' %}
          <li class="usajobs-joa-intro-hiring-paths__item usajobs-joa-intro-hiring_paths--subitem">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/federal-employees/land-management/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#federal-employees-land-mgmt"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Land &amp; base management
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Certain current or former term or temporary federal employees of a land or base management agency.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'se-other' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/senior-executives/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#se-other"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Senior Executives - Other
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Those looking for an executive job.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'ses' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/senior-executives/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#ses"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Senior Executives - SES only
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Those who meet the five Executive Core Qualifications (ECQs).
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'vet' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/veterans/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#veterans"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Veterans
                </h4>
                <!-- p class="usajobs-joa-intro-hiring-paths__detail">
                  Includes VRA, VEOA, and 30% disabled.
                </p -->
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'mspouse' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/military-spouses/" class="usajobs-joa-intro-hiring-paths__link">
              <div class="usajobs-joa-intro-hiring-paths__figure" target="_blank">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#military-spouses"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Military spouses
                </h4>
                <!-- p class="usajobs-joa-intro-hiring-paths__detail">
                  Military spouses relocating under PCS orders, or whose spouse is 100% disabled or died while on active duty.
                </p -->
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'nguard' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/national-guard/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#national-guard"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  National Guard &amp; Reserves
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Current members, those who want to join, or transitioning military members.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'student' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/students/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#students"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Students
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Current students enrolled in accredited educational institutions from high school to graduate level. Includes internships, pathways and other student programs.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'graduates' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/students/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#graduates"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Recent graduates
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Individuals who have graduated from an accredited educational institute or certificate program within the last 2 years or 6 years for Veterans.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'disability' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/individuals-with-disabilities/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#individuals-with-disabilities"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Individuals with disabilities
                </h4>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'overseas' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/family-of-overseas-employees/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#family-of-overseas-employees"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Family of overseas employee
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Family members of a federal employee or uniformed service member who is, or was, working overseas.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'native' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/native-americans/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#native-americans"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Native Americans
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Native Americans or Alaskan Natives with a tribal affiliation.
                </p>
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'peace' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/peace-corps/" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#peace-corps"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Peace Corps &amp; AmeriCorps Vista
                </h4>
                <!-- p class="usajobs-joa-intro-hiring-paths__detail">
                  Individuals who’ve served at least 2 years with the Peace Corps or 1 year with AmeriCorps VISTA.
                </p -->
              </div>
            </a>
          </li>
          {% elsif hiring_path == 'special-authorities' %}
          <li class="usajobs-joa-intro-hiring-paths__item">
            <a href="http://usajobs.github.io/Help/working-in-government/unique-hiring-paths/special-authorities" class="usajobs-joa-intro-hiring-paths__link" target="_blank">
              <div class="usajobs-joa-intro-hiring-paths__figure">
                <span class="usajobs-joa-intro-hiring-paths__icon">
                  <svg class="usajobs-icon--hiring-path">
                    <use xlink:href="#special-authorities"></use>
                  </svg>
                </span>
              </div>
              <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
                <h4 class="usajobs-joa-intro-hiring-paths__title">
                  Special authorities
                </h4>
                <p class="usajobs-joa-intro-hiring-paths__detail">
                  Individuals eligible under a special authority not listed above, but defined in the federal hiring regulations.
                </p>
              </div>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="usajobs-joa-intro-hiring-paths__explanation">
        <h4>Clarification from the agency</h4>
        <p class="usajobs-joa-intro-hiring-paths__explanation-text">
          Also includes, but is not limited to, permanent Farm Service Agency county employees.
        </p>
      </div>
    </div>
    {% if job.ApplyURI.size > 1 %}
    <!-- In production we'd need to look up the eligibility of the second announcement.
         For the prototype I'm just hardcoding this to open to the public -->
    <div class="usajobs-joa-intro-second-announcement">
      <a href="http://usajobs.github.io/Help/how-to/job-announcement/second-announcement/" class="usajobs-joa-section__help">
        <span class="fa fa-question-circle"></span> Help
      </a>
      <a href="{{ job.ApplyURI[1] }}" class="usajobs-joa-intro-second-announcement__link" target="_blank">
        This job is also open in another announcement to:
        <ul class="usajobs-joa-intro-hiring-paths__list">
          <li class="usajobs-joa-intro-hiring-paths__item usajobs-joa-intro-second-announcement__item">
            <div class="usajobs-joa-intro-hiring-paths__figure">
              <span class="usajobs-joa-intro-hiring-paths__icon">
                <svg class="usajobs-icon--hiring-path">
                  <use xlink:href="#public"></use>
                </svg>
              </span>
            </div>
            <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
              The Public
            </div>
          </li>
          <li class="usajobs-joa-intro-hiring-paths__item usajobs-joa-intro-second-announcement__item">
            <div class="usajobs-joa-intro-hiring-paths__figure">
              <span class="usajobs-joa-intro-hiring-paths__icon">
                <svg class="usajobs-icon--hiring-path">
                  <use xlink:href="#ses"></use>
                </svg>
              </span>
            </div>
            <div class="usajobs-joa--v1-7-intro-hiring-paths__body">
              Senior Executives
            </div>
          </li>
        </ul>
      </a>
    </div>
    {% endif %}

    {% include components/joa/v1.5/actions.html %}
  </aside>
</div>
