// Alerts

@import 'media-object';

@mixin alert($color, $icon) {
  background-color: $color;
  border-color: $color;

  .usajobs-alert__icon::after {
    content: $icon;
    color: $color;
  }
}

.usajobs-alert {
  @include mediaObject();

  .usa-alert-text {
    max-width: inherit;
  }
}

.usajobs-alert--success {
  @include alert($color-green-dark, $fa-var-check);

  .usajobs-alert__icon::after {
    margin-left: -#{$size-default};
  }
}

.usajobs-alert--info {
  @include alert($color-primary-darker, $fa-var-info);
}

.usajobs-alert--warning {
  @include alert($color-gold, $fa-var-exclamation);
}

.usajobs-alert--error {
  @include alert($color-secondary-dark, $fa-var-exclamation);
}

.usajobs-alert--tip {
  @include alert($color-primary-alt-dark, $fa-var-lightbulb-o);

  &__icon::after {
    margin-left: -0.8rem;
  }

  &__count {
    margin: 0;
    font-size: $small-font-size;
  }
}
