// Alerts

$icon-width: rem(40px);
$icon-padding: $size-default;
$body-padding: $size-M;

@include animateFade();

@mixin alert($color, $icon) {
  background-color: $color;
  border-color: $color;

  .usajobs-alert__icon:after {
    content: $icon;
    color: $color;
  }
}

.usajobs-alert {
  position: relative;
  margin-bottom: $size-M;
  padding: 0;
  background-color: $color-white;
  border: 1px solid;
  border-radius: rem(3px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &[aria-hidden=false] {
    @include animation(fadeIn $duration-slow);
  }

  &__figure {
    padding: $size-default $size-M;
  }

  &__body {
    min-height: rem(77px);
    padding: $size-default $body-padding;
    background-color: $color-white;
  }

  &__icon {
    position: relative;
    @include makeCircle($icon-width);
    background-color: $color-white;
    width: $icon-width;
    height: $icon-width;

    &:after {
      position: absolute;
      top: 15%;
      left: 50%;
      margin-left: rem(-5px);
      @include fa-icon();
      font-size: rem(30px);
    }
  }

  &__footer {
    margin-top: $size-default;
    text-align: right;
  }

  .usa-alert-text {
    max-width: inherit;
  }

  &__close {
    @include makeCloseButton(30px);
  }
}

.no-flexbox .usajobs-alert {
  @include clearfix();
  display: table;

  &__figure,
  &__body {
    display: table-cell;
  }

  &__body {
    @include calc(width, "100% - " ($icon-width + $icon-padding + $body-padding));

    .lt-ie9 & {
      width: 75%;
    }
  }
}

.flexbox .usajobs-alert {
  @include display(flex);
  @include align-items(center);

  &__figure {
    @include flex-shrink(0);
  }

  &__body {
    @include flex(1);
    min-width: 0;
  }
}

.usajobs-alert--success {
  @include alert($color-green-dark, $fa-var-check);

  .usajobs-alert__icon:after {
    margin-left: -#{$size-default)};
  }
}

.usajobs-alert--info {
  @include alert($color-primary-darker, $fa-var-info);
}

.usajobs-alert--warning {
  @include alert($color-gold, $fa-var-exclamation);
}

.usajobs-alert--error {
  @include alert($color-secondary-dark, $fa-var-exclamation);
}
