// Form

.usajobs-form {
  max-width: inherit;

  &__legend {
    display: block;
    font-style: italic;
    font-size: $base-font-size;
    font-weight: normal;
    color: $color-base;
    line-height: $base-line-height;
    margin-bottom: $size-S;
    margin-top: $size-S;

    @include media($M) {
      display: inline-block;
      float: right;
    }
  }

  &__help-brief {
    margin-top: $size-base;
    font-size: $small-font-size;
  }

  &__help-detailed {
    margin-top: $size-default;
    max-width: $input-max-width;

    .usajobs-form__help-detailed-trigger {
      background-color: $color-primary-alt;

      &:hover {
        background-color: $color-primary-alt-dark;
      }
    }
  }
}
