// Profile Status

@import 'base-shared';

@import '../home-variables';

@mixin profileStatus() {
  &__profile-container {
    background-color: $color-green;

    @include media($home-switch-to-tabs) {
      width: $home-sidenav-width-small;
    }

    @include media($L) {
      width: $home-sidenav-width-large;
    }
  }

  &__profile-container.incomplete,
  &__msg-profile.incomplete {
    background-color: $color-secondary;

    a,
    a:visited {
      color: $color-white;
    }

    a:hover {
      color: $color-gray-lightest;
    }
  }

  &__profile-status {
    margin: 0;
    padding: $size-default;
    font-weight: normal;
    font-style: italic;
    color: $color-white;

    @include media($home-switch-to-tabs) {
      padding: $size-L $size-default;
      text-align: center;
    }

    @include media($L) {
      padding: $size-L;
    }
  }
}
