// Button Bar

@import '../base-shared';

.usajobs-button_bar {
  @include outer-container();
  max-width: none;
  margin: $size-XL 0 $size-XXL;
  background-color: $color-gray-lighter;

  &__body {
    @include clearfix();
    max-width: $site-max-width;
    margin: 0 auto;
    padding: $size-M;
  }

  &__save {
    float: right;
    margin: 0;
  }
}

.usajobs-button_bar--slim {
  margin: $size-M 0 $size-XL;
  background-color: inherit;
  border-top: 1px solid $color-gray-lighter;

  .usajobs-button_bar__body {
    padding: $size-M 0;
    text-align: right;

    .usa-button,
    .usa-button-big {
      margin: 0;
    }
  }

  .usajobs-button_bar__save {
    display: inline-block;
    float: none;
  }
}
