// Button Bar

@import '../../base-shared';

@mixin buttonBar () {
  @include outer-container();

  &__body {
    @include clearfix();
    max-width: $site-max-width;
    margin: 0 auto;
    padding: $size-M;

    .usa-button,
    .usa-button-big {
      margin: 0;
    }
  }

  &__save {
    float: right;
    margin: 0;
  }
}

// It should have been named button-bar and not button_bar but, I goofed so
// I added the correct one and kept the underscore version to be backward compatible
.usajobs-button_bar,
.usajobs-button-bar {
  @include buttonBar();
  max-width: none;
  margin: $size-XL 0 $size-XXL;
  background-color: $color-gray-lighter;

  &__instructions {
    font-style: italic;
  }
}

.usajobs-button_bar--slim,
.usajobs-button-bar--slim {
  @include buttonBar();
  margin: $size-M 0 $size-XL;
  border-top: 1px solid $color-gray-lighter;

  .usajobs-button_bar__body,
  .usajobs-button-bar__body {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
  }

  .usajobs-button_bar__save,
  .usajobs-button-bar__save {
    display: inline-block;
    float: none;
  }
}
