// Event

@import '../base-shared';
@import 'card/card';
@import 'actions';

.usajobs-event,
.usajobs-event--card {
  &__date {
    @include h3();
    display: block;
    margin: 0;
    padding: $size-S $size-S $size-S 0;
  }

  &__time {
    font-size: $h4-font-size;
    font-weight: normal;
    margin: 0;
  }

  &__im {
    display: block;
    color: $color-secondary-dark;
    font-size: $h4-font-size;
  }
}

// Card variation for the landing page
.usajobs-event--card {
  @include row();

  &__calendar {
    display: block;
    float: left;
    width: 15%;
    margin-right: 3%;
    text-align: center;
  }

  &__body {
    display: block;
    float: left;
    width: 82%;
  }

  &__year {
    font-size: $h4-font-size;
  }

  &__icon,
  &__date {
    font-size: $h3-font-size;
    padding: 0;
  }

  &__more-info {
    @include permaLink();
    display: block;
    padding: $size-base 0;
    font-weight: bold;
    text-decoration: underline;
  }

  &__item-title {
    margin-top: 0;
    color: $color-primary-darkest;
  }

  &__text {
    display: block;
    width: 100%;
    margin: 0;
    color: $color-base;
  }
}
