// Footer

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import "font-awesome/font-awesome";
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-footer--v1,
.usajobs-footer--v2,
.usajobs-footer--v3 {
  a {
    text-decoration: none;

    &:visited {
      color: $color-primary;
    }
  }

  &__note {
    font-size: $small-font-size;
  }

  &__subsection-title {
    margin-top: $size-S;
  }

  &__subsection {
    font-size: $small-font-size;
    margin-bottom: 0;

    @include media($M) {
      margin-bottom: $size-default;
    }
  }
}

.usajobs-footer--v2,
.usajobs-footer--v3 {
  // Correcting for oddball borders
  ul:last-child {
    border-bottom: 0;
  }

  .usa-footer-secondary_section {
    border-top: 1px solid $color-base;
  }

  &__content-container {
    @include media($M) {
      @include span-columns(3);
    }

    @include media($MLL) {
      float: none;
      width: auto;
      margin: 0;
    }
  }

  .usa-footer-primary-content {
    @include media($MLL) {
      @include span-columns(3, 12);
    }
  }

  .usa-footer-primary-content:last-child.usajobs-footer--v2__account,
  .usa-footer-primary-content:last-child.usajobs-footer--v3__account {
    @include media($MLL) {
      // grrr, the Neat grid automatically sets the last child to margin-right: 0
      // given the way we have split the grid into 2 then 4 columns the work around
      // is to hard code the margin-right
      margin-right: 2.3576515979%;
    }
  }

  .usajobs-social-links {
    vertical-align: top;
  }

  .usajobs-social-link,
  .usajobs-social-link:visited {
    padding: $size-base $size-base $size-S;
    color: $color-base;
    text-decoration: none;
  }
}

.usajobs-footer--v3 {
  ul.usajobs-footer--v3__subsection-horizontal {
    margin-top: $size-S;
    margin-bottom: 0;
    padding-bottom: 0;

    @include media($M) {
      margin-bottom: $size-default;
    }

    li {
      @include media($M) {
        display: inline-block;
      }
      line-height: 1;
    }

    li a {
      display: block;
      padding: $size-S $size-S $size-S 0;
      font-size: $xsmall-font-size;

      @include media($M) {
        padding-left: $size-S;
      }
    }

    li:first-child a {
      @include media($M) {
        padding-left: 0;
      }
    }
  }
}
