// Footer

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import "font-awesome/font-awesome";
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-footer--v1,
.usajobs-footer--v2 {
  a {
    text-decoration: none;

    &:visited {
      color: $color-primary;
    }
  }

  &__note {
    font-size: $small-font-size;
  }

  &__subsection-title {
    margin-top: $size-S;
  }

  &__subsection {
    font-size: $small-font-size;
    margin-bottom: $size-default;
  }
}

.usajobs-footer--v2 {
  /*
  .usa-grid-full,
  .usa-footer-primary-section {
    background-color: $color-gray-light;
  }

  .usa-footer-secondary_section {
    background-color: $color-primary-darkest;
  }

  a,
  a:visited {
    text-decoration: none;
    color: $color-primary;
  }
  */

  .usajobs-social-links {
    vertical-align: top;
  }

  .usajobs-social-link,
  .usajobs-social-link:visited {
    padding: $size-base $size-base $size-S;
    color: $color-base;
    text-decoration: none;
  }

  /*

  &__note {
    font-size: $small-font-size;

    a,
    a:visited {
      color: $color-white;
    }
  }

  .usa-footer-primary-link {
    // color: $color-white;
  }

  &__subsection-title {
    // color: $color-white;
    margin-top: $size-S;
  }

  &__subsection {
    font-size: $small-font-size;
    margin-bottom: $size-default;
  }
  */
}
