// Help Tip

@import 'media-object';

.usajobs-help-tip {
  @include mediaObject();
  background-color: $color-primary-alt-dark;
  border-color: $color-primary-alt-dark;

  &__icon::after {
    content: $fa-var-lightbulb-o;
    color: $color-primary-alt-dark;
    margin-left: -0.8rem;
  }

  &__count {
    margin: 0;
    font-size: $small-font-size;
  }
}
