// JOA - Actions (Apply, print, share, save)

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import "font-awesome/font-awesome";
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-joa-actions {
  @include clearfix();
  margin-bottom: $size-M;
  padding: $size-default;
  text-align: center;
  background-color: $color-gray-lightest;

  @include media($M) {
    text-align: left;
  }

  &__apply {
    @include media($SM) {
      width: 80%;
    }
  }

  &__col {
    @include media($M) {
      @include span-columns(3, 6);
    }
  }

  &__col &__print,
  &__col &__share,
  &__col &__save {
    @include span-columns(4, 12);
    text-align: center;
    color: $color-base;

    @include media($M) {
      margin-top: $size-default;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__save:before {
    @include fa-icon();
    content: $fa-var-star-o;
    color: $color-gold;
    font-size: $h3-font-size;
    vertical-align: middle;
  }

  &__save.is-saved:before {
    content: $fa-var-star;
  }
}
