// JOA - Intro (Summary and Details)

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import "font-awesome/font-awesome";
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-joa-intro {
  @include clearfix();
  padding: $size-default;
  background-color: $color-gray-cool-light;

  @include media($L) {
    padding-left: 0;
    padding-right: 0;
    background-color: $color-white;
  }

  &__agency {
    margin-top: 0;
    text-transform: uppercase;
  }

  &__location {
    @include default-text();

    .fa {
      color: $color-primary-alt;
    }

    .map {
      color: $color-primary-alt-darkest;
    }
  }

  &__employment-type {
    @include default-text();
  }

  &__closing-date {
    color: $color-secondary-darkest;
  }

  &__summary {
    @include media($M) {
      @include span-columns(3, 6);
    }
    @include media($L) {
      @include span-columns(4, 12);
    }
  }

  &__details {
    @include unstyledList();

    @include media($M) {
      @include span-columns(3, 6);
    }
    @include media($L) {
      @include span-columns(4, 12);
    }
  }

  &__details:last-child {
    @include media($M) {
      float: right;
      @include omega();
    }

    @include media($L) {
    }
  }

  &__label {
    padding-right: $size-base;
  }
}
