// JOA Header

@import '../base-shared';

.usajobs-joa-header {
  padding-top: $size-default;
  padding-bottom: $size-default;

  &__back {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
