// JOA - Actions (Apply, print, share, save)

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import "font-awesome/font-awesome";
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-joa-actions {
  @include clearfix();
  margin-bottom: $size-M;
  padding: $size-default $size-default 0;
  text-align: center;
  background-color: $color-gray-lightest;

  @include media($M) {
    padding-bottom: $size-default;
    text-align: left;
  }

  &__apply {
    @include media($SM) {
      width: 80%;
    }
    @include media($L) {
      width: 100%;
    }
  }

  &__col-apply,
  &__col-sub-actions {
    @include media($M) {
      @include span-columns(3, 6);
    }

    @include media($L) {
      @include span-columns(4, 12);
    }
  }

  &__col-apply {
    @include media($M) {
      float: right;
      @include omega();
    }
  }

  &__col-sub-actions:last-child {
    @include media($M) {
      margin-right: 4.8291579146%;
    }
  }

  &__col-sub-actions &__print,
  &__col-sub-actions &__share,
  &__col-sub-actions &__save {
    @include span-columns(4, 12);
    padding: $size-S 0;
    text-align: center;
    color: $color-base;

    @include media($M) {
      margin-top: $size-default;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__save:before {
    @include fa-icon();
    content: $fa-var-star-o;
    color: $color-gold;
    font-size: $h3-font-size;
    vertical-align: middle;
  }

  &__save.is-saved:before {
    content: $fa-var-star;
  }
}
