// JOA - Intro (Summary and Details)

@import '../base-shared';

.usajobs-joa-intro {
  @include clearfix();
  padding: $size-default;
  background-color: $color-gray-cool-light;

  @include media($L) {
    padding-left: 0;
    padding-right: 0;
    background-color: $color-white;
  }

  &__title {
    @include h2();

    @include media($ML) {
      @include h1();
    }
  }

  &__agency {
    margin-top: 0;
    text-transform: uppercase;
  }

  &__agency-contact {
    display: block;
    font-size: $base-font-size;
    font-weight: normal;
    text-transform: capitalize;
    color: $color-primary-alt-darkest;

    @include media($L) {
      color: $color-primary;
    }

    &:visited {
      color: $color-primary-alt-darkest;

      @include media($L) {
        color: $color-primary;
      }
    }
  }

  &__location {
    @include default-text();

    .fa {
      color: $color-primary-alt;
    }
  }

  &__employment-type {
    @include default-text();
  }

  &__opening-date,
  &__closing-date {
    color: $color-gray-dark;
  }

  &__posting-duration {
    display: block;
    font-size: $small-font-size;
  }

  &__summary {
    @include media($M) {
      @include span-columns(3, 6);
    }

    @include media($L) {
      @include span-columns(4, 12);
    }
  }

  &__details-container {
    @include media($M) {
      @include span-columns(3, 6);
    }

    @include media($L) {
      @include span-columns(8, 12);
    }
  }

  &__details {
    @include unstyledList();

    @include media($L) {
      @include span-columns(6, 12);
    }
  }

  &__label {
    padding-right: $size-base;
  }
}
