// JOA - Summary Card

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import "font-awesome/font-awesome";
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-joa-summary-card {
  padding: $size-default;
  background-color: $color-gray-cool-light;

  &__agency {
    margin-top: 0;
    text-transform: uppercase;
  }

  &__location {
    @include default-text();

    .fa {
      color: $color-primary-alt;
    }

    .map {
      color: $color-primary-alt-darkest;
    }
  }

  &__employment-type {
    @include default-text();
  }

  &__closing-date {
    color: $color-secondary-darkest;
  }

  &__apply {
    margin-bottom: $size-default;
  }
}
