// JOA Summary

@import '../base-shared';

.usajobs-joa_summary {
  background-color: $color-primary-darker;
  color: $color-white;
}

.usajobs-joa_summary-body {
  padding: $size-M $size-default;

  @include media($ML) {
    padding: $size-M $size-S $size-M $size-M;
  }

  .intro {
    margin: 0;
  }

  .detail {
    list-style-type: none;
    margin: 0 0 $size-S 0;
    padding-left: 0;

    li {
      margin-bottom: 0;
    }

    li::before {
      content: '';
      padding-right: 0;
    }

    li::after {
      margin-bottom: 2px;
    }

  }
}

.usajobs-joa_summary.v1 .usajobs-joa_summary-body {
  padding-bottom: 1.5em;

  .intro {
    font-size: $small-font-size;
  }

  .job_title a {
    font-size: $lead-font-size;
    color: $color-white;
    text-decoration: underline;
  }

  .joa-anchor {
    color: $color-gray-lighter;
    text-decoration: underline;
  }
}
