// Modal

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/accessibility';
@import 'base/breakpoints';
@import "font-awesome/font-awesome";

.usajobs-modal {
  position: fixed;
  top: $size-default;
  right: 0;
  left: 0;
  bottom: $size-default;
  margin: $size-default;
  width: auto;
  min-height: 200px;
  z-index: 400;
  background-color: $color-white;
  background-clip: padding-box;
  border: 1px solid rgba(70,70,70, .14);
  border-radius: $size-base;
  box-shadow: 0 3px 6px rgba(0,0,0, 0.29);
  opacity: 0;
  transition: 0.4s opacity ease-in-out;

  @include media($ML) {
    top: $size-XL;
    bottom: $size-XL;
    margin: $size-M;
  }

  @include media($MLL) {
    left: 50%;
    bottom: auto;
    width: rem(700px);
    margin-left: rem(-350px);
  }

  &[data-state="is-open"] {
    opacity: 1;
  }

  &__canvas-blackout[aria-hidden="true"] {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 150;
    background-color: rgba(0,0,0, 0.38); // this acts as the backdrop
    animation: fadeIn 0.3s ease-out;
  }


  &__body {
    min-height: rem(480px);
    overflow: auto;
    padding: $size-default;

    @include media($ML) {
      padding: $size-M;
    }

    @include media($MLL) {
      min-height: auto;
    }
  }

  &__header {
    padding: $size-L $size-default $size-M;
    background-color: $color-gray-lightest;
    border-bottom: 1px solid $color-gray-light;
    border-top-left-radius: $size-base;
    border-top-right-radius: $size-base;

    @include media($ML) {
      padding: $size-L $size-M $size-M;
    }
  }

  &__footer {
    margin-top: $size-L;
    padding: $size-M $size-default;
    border-top: 1px solid $color-gray-light;
    text-align: right;

    @include media($ML) {
      padding: $size-M;
    }
  }

  &__title {
    margin: 0;
  }

  &__close {
    @include makeCloseButton();
  }
}

.is-open-modal {
  overflow: hidden; // Keeps the background from being scrollable
}
