// Modal

@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/accessibility';
@import 'base/breakpoints';
@import "font-awesome/font-awesome";

.usajobs-modal {
  position: fixed;
  top: -9999em;
  left: auto;
  right: auto;
  bottom: 0;
  height: 100%;
  z-index: 0;
  background-color: rgba(0,0,0, 0.38); // this acts as the backdrop

  &[data-state="is-open"] {
    z-index: 1000000001;
    top: 0;
    right: 0;
    left: 0;
    animation: fadeIn 0.3s ease-out;
  }

  &__frame {
    position: absolute;
    top: $size-default;
    right: 0;
    left: 0;
    bottom: $size-default;
    margin: $size-default;
    width: auto;
    min-height: 200px;
    z-index: 999;
    overflow: auto;
    background-color: $color-white;
    background-clip: padding-box;
    border: 1px solid rgba(70,70,70,.14);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.29);

    @include breakpoint(M) {
      top: $size-XL;
      bottom: $size-XL;
    }
    @include breakpoint(L) {
      left: 50%;
      bottom: auto;
      width: 700px;
      margin-left: -350px;
    }
  }

  &[data-state="is-open"] &__frame {
    animation: fadeInUp 0.3s ease-out;
  }

  &__body {
    min-height: 500px;
    overflow: auto;
    padding: $size-default;

    @include breakpoint(L) {
      min-height: auto;
    }
  }

  &__header {
    padding: $size-L $size-M $size-M;
    background-color: $color-gray-lightest;
    border-bottom: 1px solid $color-gray;
  }

  &__footer {
    margin-top: $size-L;
    padding: $size-M;
    border-top: 1px solid $color-gray;
  }

  &__title {
    margin: 0;
  }

  &__close {
    position: absolute;
    top: $size-default;
    right: $size-default;
    height: 36px;
    width: 36px;
    background: $color-gray-light;
    text-decoration: none;
    border-radius: 50%;

    &:after {
      position: absolute;
      top: 10px;
      left: 14px;
      width: 10px;
      height: 10px;
      @include fa-icon();
      content: $fa-var-times;
      color: $color-white;
    }
  }
}

.is-open-modal {
  overflow: hidden; // Keeps the background from being scrollable
}
