// Notification

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/accessibility';
@import 'base/breakpoints';
@import "font-awesome/font-awesome";

$icon-width: rem(40px);
$icon-padding: $size-default;
$body-padding: $size-default;

@mixin notification($color, $icon) {
  background-color: $color;
  border-color: $color;

  .usajobs-notification__icon:after {
    content: $icon;
    color: $color;
  }
}

@keyframes fadeInLeft {
  from {
    left: -20%;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    left: -#{$size-default};
    opacity: 1;
    transform: none;
  }
}

.usajobs-notification {
  position: absolute;
  bottom: 20%;
  width: auto;
  z-index: 400;
  background-clip: padding-box;
  padding: 0;
  border: 1px solid;
  opacity: 0;
  -webkit-animation-duration: $duration-slow;
  animation-duration: $duration-slow;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;

  &[data-state="is-closed"] {
    transition: $duration-fast opacity ease-in;
  }

  &[data-state="is-open"] {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  &__figure {
    padding: $size-default;
  }

  &__body {
    padding: $size-S $body-padding;
    color: $color-white;
  }

  &__icon {
    position: relative;
    @include makeCircle($icon-width);
    background-color: $color-white;
    width: $icon-width;
    height: $icon-width;

    &:after {
      position: absolute;
      top: 15%;
      left: 50%;
      margin-left: rem(-5px);
      @include fa-icon();
      font-size: rem(30px);
    }
  }

  &__close {
    @include makeCloseButton(30px);
  }
}

.no-flexbox .usajobs-notification {
  @include clearfix();
  display: table;

  &__figure,
  &__body {
    display: table-cell;
  }

  &__body {
    @include calc(width, "100% - " ($icon-width + $icon-padding + $body-padding));
  }
}

.flexbox .usajobs-notification {
  @include display(flex);
  @include align-items(center);

  &__figure {
    @include flex-shrink(0);
  }

  &__body {
    @include flex(1);
    min-width: 0;
  }
}

.usajobs-notification--success {
  @include notification($color-green-dark, $fa-var-check);

  .usajobs-notification__icon:after {
    margin-left: -#{$size-default)};
  }
}

.usajobs-notification--info {
  @include notification($color-primary-darker, $fa-var-info);
}

.usajobs-notification--warning {
  @include notification($color-gold, $fa-var-exclamation);
}

.usajobs-notification--error {
  @include notification($color-secondary-dark, $fa-var-exclamation);
}
