// Profile - Side navigation

@import '../base-shared';

@import 'sidenav';
@import 'profile-status';

.usajobs-profile-sidenav {
  @include sidenav();
  @include profileStatus();

  a.usajobs-profile-sidenav__link,
  a.usajobs-profile-sidenav__sub-link {
    // Defeating annoying global styles
    text-decoration: none;
  }

  &.has-secondary-nav {
    @include sidenavSecondary();
  }
}
