// Required Documents

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/accessibility';
@import 'base/breakpoints';


.usajobs-required_documents {
  margin-bottom: $size-L;

  @include media($MLL) {
    max-height: 800px;
    overflow-y: auto;
  }

  &__trigger {
    @include media($MLL) {
      max-width: rem(385px);
      margin-top: 0;
    }
  }

  .usa-accordion-content {
    background-color: $color-white;
  }
}

.usa-accordion-bordered .usajobs-accordion button.usajobs-required_documents__trigger {
    width: 100%;

    @include media($MLL) {
      border-radius: inherit;
      background-color: $color-primary-alt;
    }
  }
