// Home - Reveal - Show all, more, next

@import '../base-shared';
@import 'font-awesome/font-awesome';
@import '../home-variables';

.usajobs-show-more,
.usajobs-show-next {
  &__trigger {
    display: block;
    margin: $size-default $size-default 0;
    padding: $size-S;
    font-weight: bold;
    text-align: center;
    color: $color-base;
    background-color: $color-gray-lighter;

    &:visited {
      color: $color-base;
    }

    &::after {
      @include fa-icon();
      font-weight: bold;
    }

    &[aria-expanded=false] {
      &::after {
        content: $fa-var-angle-down;
      }
    }

    &[aria-expanded=true] {
      &::after {
        content: $fa-var-angle-up;
      }
    }
  }
}

.usajobs-show-all {
  margin: $size-base $size-default;

  @include media($M) {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  &__trigger {
    display: block;
    width: 100%;
    margin: 0;
  }
}
