// Home - Applications -- Show All

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';
@import '../home-variables';

.usajobs-show-all {
  margin: $size-base $size-default;

  @include media($M) {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  &__trigger {
    display: block;
    width: 100%;
    margin: 0;
  }
}
