<div class="usajobs-joa-intro usajobs-joa-intro--pilot">
  <div class="usajobs-joa-intro__container usajobs-joa-intro--pilot__container">
    {% include components/joa/usds/doi/summary-b.html %}
  </div>
</div>
<aside class="usajobs-joa-pilot__aside">
  {% include components/joa/usds/doi/actions.html variation="narrow" %}
  {% include components/joa/usds/doi/overview.html %}
  {% include components/joa/usds/doi/locations.html %}
  {% include components/joa/usds/doi/help.html %}
  {% include components/joa/usds/doi/numbers.html variation="narrow" %}
</aside>