<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  <head>
    {% include head.html %}
  </head>

  <body class="{{ page.title | slugify }}">
    <section class="usajobs-shell">
      <div class="usajobs-canvas">
      	{% include navbar.html %}

      	{% include sidenav.html %}

        <div class="main-content l-doc" id="main-content">
          <div class="styleguide-content usa-content">
            <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
            <p class="usa-font-lead">{{ page.lead }}</p>
            {{ content }}
            {% include components/notification.html %}
          </div>

          <footer class="usa-styleguide-footer">
            {% include footer.html %}
          </footer>
        </div>
      </div>
    </section>
    {% include scripts.html %}
  </body>
</html>
