<button class="usa-accordion-button usa-button-unstyled usajobs-joa-accordion-trigger" aria-expanded="false" aria-controls="additional_information" data-behaivor="joa_accordion.toggle">
  Additional Information
</button>
<div id="additional_information" aria-hidden="true" class="usa-accordion-content usajobs-joa-accordion-content">
  <h2 class="usajobs-joa-accordion-title">Additional Information</h2>

  <div id="benefits" itemprop="jobBenefits">
    <h3>Benefits</h3>
      <p><strong>The Department of Defense offers an excellent benefits program. </strong>In addition to your take-home pay, your comprehensive compensation/benefits package will include most of the benefits described in <a href="https://www.usajobs.gov/Help/working-in-government/benefits/">the USAJOBS Help Center.</a> </p>
  </div>

  <div id="whattoexpectnext">
    <h3>What to Expect Next</h3>
    <ul>
      <li>If you provided an email address, you will receive an&nbsp;email message acknowledging receipt of your&nbsp;application.&nbsp; Your application package will&nbsp;be used to determine your eligibility, qualifications, and quality ranking for this position.&nbsp;</li>
      <li>If&nbsp;you are determined to be ineligible or&nbsp;not qualified, your application will receive no further consideration.</li>
      <li>The documents you submit must support your responses to the&nbsp;online questionnaire. &nbsp;If your application&nbsp;contradicts or does not support your questionnaire responses, you will receive a rating of "not qualified" or "incomplete application" and you will not receive further consideration for this job.</li>
    </ul>

    <h3>Other Information</h3>
    <div>
      <ul>
        <li>Selection is subject to restrictions resulting from Department of Defense referral system for displaced employees.</li>
        <li>If you have retired from federal service and you are interested in employment as a reemployed annuitant, see the information in the <a href="http://www.armycivilianservice.com/JOA/retiree.pdf">Reemployed Annuitant </a>information sheet.</li>
        <li>It is the policy of the government not to deny employment simply because an individual has been unemployed or has had financial difficulties that have arisen through no fault of the individual.  Information about an individual's employment experience will be used only to determine the person's qualifications and to assess his or her relative level of knowledge, skills and abilities. Although an individual's personal conduct may be relevant in any employment decision, including conduct during periods of unemployment or evidence of dishonesty in handling financial matters, financial difficulty that has arisen through no fault of the individual will generally not itself be the basis of an unfavorable suitability or fitness determination. Please click <a href="https://help.usajobs.gov/index.php/Legal_and_Regulatory_Guidance">here</a> for more information regarding financial suitability.</li>
        <li>Multiple positions may be filled from this announcement.</li>
      </ul>
    </div>
  </div>

  <p class="usajobs-joa__authenticity-note">
    This job originated on <a href="https://www.usajobs.gov/">www.usajobs.gov</a>. For the full announcement and to apply, visit <a href="https://www.usajobs.gov/GetJob/ViewDetails/469480700">www.usajobs.gov/GetJob/ViewDetails/469480700</a>. Only resumes submitted according to the instructions on the job announcement listed at <a href="https://www.usajobs.gov/">www.usajobs.gov</a> will be considered.
  </p>
</div>
