<button class="usa-accordion-button usajobs-joa-accordion-trigger is-open-at-M" aria-expanded="true" aria-controls="summary" data-behavior="joa_accordion.toggle">
  Job Overview
</button>
<div id="summary" aria-hidden="false" class="usa-accordion-content usajobs-joa-accordion-content is-open-at-M usajobs-joa-accordion-overview">
  <h2 class="usajobs-joa-accordion-title">Job Overview</h2>
  <h3>Summary</h3>
  <div itemprop="description">
    <p>Civilian employees serve a vital role in supporting the Army mission. They provide the skills that are not readily available in the military, but crucial to support military operations. The Army integrates the talents and skills of its military and civilian members to form a Total Army.</p>
    <h4>About the Position</h4>
    <p>
      This position serves as Education Services Specialist for the&nbsp;Military Correctional Complex (MCC).&nbsp; You will assist with providing, planning, creating and implementing a comprehensive inmate program, which includes basic education and life skills training; advanced education; post-secondary education; and distance learning education.
    </p>
    <ul><li>Moving expenses are NOT authorized, based on a determination that a move is not in the Government's interest.</li><li>Recruitment relocation and/or retention incentives MAY be offered for this position.</li><li>This position has been designated as a primary/rigorous and is eligible for Law Enforcement (LEO) retirement coverage under the provisions of title 5 USC 8336(c) and 8412(d) by DoD memorandum dated 19 August 2010. The maximum entry age for positions covered under this retirement is 37 years old. Retirement from this position is mandatory at age 57 with 20 years of LEO service. The maximum entry age may be waived under certain circumstances. Individuals who are past the maximum entry age limit, but previously served in a primary position, MAY be reinstated.</li></ul>
  </div>

  <div id="duties" class="content">
    <h3>Duties</h3>
    <div>
      <p>As an Education Services Specialist, you will perform the following duties:</p><ul><li>Assess inmate records to establish educational level.</li><li>Administer diagnostic interest, surveys, and/or tests to establish education and vocational goals.</li><li>Assist in developing valid educational plans and realistic career goals for re-entry into society.</li><li>Develop program goals based on the needs of the inmate population.</li><li>Assess the quality of the educational services provided in order to make recommendations on process improvement.</li><li>Develop curriculum to meet educational needs.</li><li>Compose lesson plans for use in educational courses.</li><li>Prepare reports on inmate progress in support of pre-release efforts.</li><li>Enroll inmates in appropriate courses based on individual assessment results.</li></ul>
    </div>
  </div>

  <div id="supervisory-status">
    <h3>Supervisory Status</h3>
    <p>
      {% if jobs.SupervisoryStatus %}
        {{ job.SupervisoryStatus }}
      {% else %}
      No
      {% endif %}
    </p>
  </div>

  <div id="promotion-potential">
    <h3>Promotion Potential</h3>
    <p>
      The selectee may be promoted to the full performance level without further competition when all regulatory, qualification, and performance requirements are met. Selection at a lower grade level does not guarantee promotion to the full performance level.
    </p>
  </div>

  <div id="travelrequired">
    <h3>Travel Required</h3>
    <ul>
      <li>Occasional travel.</li>
      <li>Expected temporary duty travel is 5% or less.</li>
    </ul>
  </div>

  <div id="relocationauthorized">
    <h3>
      Relocation Authorized
    </h3>
    <p>
      {% if job.UserArea.Details.Relocation %}
      Yes
      {% else %}
      No
      {% endif %}
    </p>
  </div>

  <div id="whomayapply" class="usajobs-joa-who-may-apply">
    <h3>Who May Apply</h3>
    <h4>This job is open to&hellip;</h4>
    {{ job.UserArea.Details.WhoMayApply.Name }}
    <p>
      <a href="#hiring-paths">
        Questions? This job is open to {{ job.UserArea.Details.HiringPath.size }} groups.
      </a>
    </p>
  </div>
</div>
