---
permalink: agency-talent-portal/auth/forgot-password/
layout: atp-auth
title: Forgot password
---

<main class="usajobs-content-well usajobs-auth__content-well" id="main-content" role="main" aria-label="Forgot password">
  <h1>Forgot your password?</h1>
  <p>
    Don't know your password? Reset it after confirming your email address.
  </p>
  <form class="usajobs-form usajobs-form--narrow" action="/account/signin" method="post" novalidate="novalidate">
    <fieldset class="usajobs-fieldset">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" value="">
      <div class="usajobs-button_bar--slim-left">
        <div class="usajobs-button_bar__body">
          <a href="{{ site.baseurl }}/agency-talent-portal/auth/check-email/" class="usa-button usa-button-primary usajobs-button_bar__save">
            Continue
          </a>
        </div>
      </div>
      <a href="#return-to-home" class="usajobs-auth__return-home">Cancel and return home</a>
    </fieldset>
  </form>
</main>

<!-- aside class="usajobs-rightrail usajobs-auth__terms">
  {% include components/auth/login-terms.html %}
  {% include components/auth/security-tips.html %}
</aside -->
