---
permalink: agency-talent-portal/auth/reset-password/
layout: atp-auth
title: Reset password
---

<main class="usajobs-content-well usajobs-auth__content-well" id="main-content" role="main" aria-label="Forgot password">
  <div class="usajobs-grid">
    <h1>Change your password</h1>
    <form class="usajobs-form usajobs-form--narrow" action="#new-password" method="post" novalidate="novalidate">
      <fieldset class="usajobs-fieldset">
        <label for="password">New password</label>
        <input required="required" aria-required="true" type="password" name="password" id="password" aria-describedby="password-validation-list">
        <div class="usajobs-button_bar--slim-left">
          <div class="usajobs-button_bar__body">
            <a href="{{ site.baseurl }}/agency-talent-portal/auth/sign-in-with-success/" class="usa-button usa-button-primary usajobs-button_bar__save">
              Change password
            </a>
          </div>
        </div>
        <div id="password-requirements" class="usajobs-form__help-extended">
          <h5>Password requirements</h5>
          <div id="pswd_info">
            <p class="usajobs-form__help-brief">Your password must:</p>
            <ul class="usajobs-form__help-details" id="password-validation-list">
              <li id="pswd_info_username" class="required pswd_info_valid">Not match your username</li>
              <li id="pswd_info_recent" class="required pswd_info_valid">Not to be a recently used password</li>
              <li id="pswd_info_length" class="required pswd_info_invalid">Be 8 to 20 characters long</li>
              <li id="pswd_info_capital" class="required pswd_info_invalid">Have at least one upper case letter</li>
              <li id="pswd_info_lower" class="required pswd_info_invalid">Have at least one lower case letter</li>
              <li id="pswd_info_number" class="required pswd_info_invalid">Have at least one number</li>
              <li id="pswd_info_symbol" class="required pswd_info_invalid">Have at least one of the following: ! @ # $ % ^ &amp; * ( )
              <li>Note: No other symbols are allowed.</li>
            </ul>
            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</main>

<!-- aside class="usajobs-rightrail usajobs-auth__terms">
  {% include components/auth/login-terms.html %}
  {% include components/auth/security-tips.html %}
</aside -->
