---
permalink: agency-talent-portal/auth/sign-in/
layout: atp-auth
title: Sign in
---

<main class="usajobs-content-well usajobs-auth__content-well" id="main-content" role="main" aria-label="Forgot password">
  <div class="usajobs-grid">
    <h1>Sign in</h1>
    <p>Choose a system to use to sign in.</p>
    <form class="usajobs-form usajobs-form" action="/account/signin" method="post" novalidate="novalidate">
      <fieldset class="usajobs-fieldset">
        <ul class="usajobs-card-buttons">
          <li class="usajobs-card-button--slim">
           <input type="radio" value="0" name="signin_paths[]" id="signin_paths_ids_0">
           <label for="signin_paths_ids_0">
             <div class="usajobs-grid-full">
               <div class="usa-width-one-sixth">
                 <img src="{{ site.baseurl }}/img/logo/png/red-square-100x100.png" title="Use my USAJOBS account" alt="Use my USAJOBS account" />
               </div>
               <div class="usa-width-five-sixths">
                 Use my USAJOBS account
                 <span class="usajobs-card-button__sub-text">
                  For existing USAJOBS users. Sign in using your USAJOBS email and password or PIV card.
                 </span>
               </div>
             </div>
           </label>
         </li>
         <li class="usajobs-card-button--slim">
          <input type="radio" value="1" name="signin_paths[]" id="signin_paths_ids_1">
          <label for="signin_paths_ids_1">
            <div class="usajobs-grid-full">
              <div class="usa-width-one-sixth">
              <img src="{{ site.baseurl }}/img/logo/png/usas-square-100x100.png" title="Use my USA Staffing account" alt="Use my USA Staffing account" />
              </div>
              <div class="usa-width-five-sixth">
                Use my USA Staffing account
                <span class="usajobs-card-button__sub-text">
                  For HR Specialists and Hiring Managers. Sign in using your USA Staffing username and password or CAC card.
                </span>
          </label>
        </li>
       </ul>
        <div class="usajobs-button_bar--slim-left">
          <div class="usajobs-button_bar__body">
            <a href="{{ site.baseurl }}/agency-talent-portal/auth/sign-in-usajobs/" class="usa-button usa-button-primary usajobs-button_bar__save">
              Continue
            </a>
          </div>
        </div>
      </fieldset>
    </form>
    <p class="usajobs-landing--login-transition-terms">
     By clicking "Continue" you agree to our <a href="https://www.usajobs.gov/Help/terms-and-conditions/" target="_blank">terms and conditions</a>.
   </p>
 </div>
</main>

<!-- aside class="usajobs-rightrail usajobs-auth__terms">
  {% include components/auth/login-terms.html %}
  {% include components/auth/security-tips.html %}
</aside -->
