<div class="usajobs-joa-intro usajobs-joa-intro--pilot">
  <div class="usajobs-joa-intro__container usajobs-joa-intro--pilot__container">
    {% include components/joa/usds/hhs/summary.html %}
  </div>
</div>
<aside class="usajobs-joa-pilot__aside">
  {% include components/joa/usds/hhs/actions.html variation="narrow" %}
  {% include components/joa/usds/hhs/overview.html %}
  {% include components/joa/usds/hhs/locations.html %}
  {% include components/joa/usds/hhs/help.html %}
  {% include components/joa/usds/hhs/numbers.html variation="narrow" %}
</aside>