---
permalink: agency-talent-portal/auth/v2/sign-in-piv-with-error/
layout: atp-auth
title: Sign in USAJOBS - v2
---
<div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert">
  <div class="usajobs-alert__figure">
    <div class="usajobs-alert__icon">
    </div>
  </div>
  <div class="usajobs-alert__body">
    <h3 class="usa-alert-heading">
      Insert PIV card
    </h3>
    <p class="usa-alert-text">
      Your PIV card must be insterted to complete registration.
    </p>
  </div>
  <button class="usajobs-alert__close" data-behavior="alert.close" >
    <span class="usajobs-assistive-text">Close</span>
  </button>
</div>

{% include_relative /_sign-in-form-piv.html %}

<!-- aside class="usajobs-rightrail usajobs-auth__terms">
  {% include components/auth/login-terms.html %}
  {% include components/auth/security-tips.html %}
</aside -->
