// Breakpoints

$SM-screen:    30em;    //  480px at 16px base font - Future BP, USDS standard
$M-screen:     37.5em;  //  600px at 16px base font - Future BP, USDS standard
$ML-screen:    48em;    //  768px at 16px base font - Temporary to align with current BP
$MLL-screen:   62em;    //  Alias for L (backward compatibility)
$L-screen:     62em;    //  992px at 16px base font - Temporary to align with current BP
$XL-screen:    75em;    // 1200px at 16px base font - USDS standard, aligns with current BP
$XXL-screen:  120em;    // 1920px at 16px base font - Future BP, USAJOBS proposed

// min-width
$SM:  new-breakpoint(min-width $SM-screen 2);
$M:   new-breakpoint(min-width $M-screen 6);
$ML:  new-breakpoint(min-width $ML-screen 6);
// $MLL is replaced by $L as of 02/2016
$MLL: new-breakpoint(min-width $MLL-screen 12);
$L:   new-breakpoint(min-width $L-screen 12);
$XL:  new-breakpoint(min-width $XL-screen 12);
$XXL: new-breakpoint(min-width $XXL-screen 12);

// max-width
$SM-down:  new-breakpoint(max-width $SM-screen 2);
$M-down:   new-breakpoint(max-width $M-screen 6);
$ML-down:  new-breakpoint(max-width $ML-screen 6);
$L-down:   new-breakpoint(max-width $L-screen 12);
$XL-down:  new-breakpoint(max-width $XL-screen 12);
$XXL-down: new-breakpoint(max-width $XXL-screen 12);

// In between points
$SM-only:  new-breakpoint(min-width $SM-screen max-width ($M-screen - .001em));
$M-only:   new-breakpoint(min-width $M-screen max-width ($ML-screen - .001em));
$ML-only:  new-breakpoint(min-width $ML-screen max-width ($L-screen - .001em));
$L-only:   new-breakpoint(min-width $L-screen max-width ($XL-screen - .001em));
$XL-only:  new-breakpoint(min-width $XL-screen max-width ($XXL-screen - .001em));
