// Breakpoints

$breakpoints: (
  "(min-width: 30em)" "SM",       //  480px at 16px base font
  "(min-width: 37.5em)" "M",      //  600px at 16px base font
  "(min-width: 64em)" "L",        // 1024px at 16px base font
  "(min-width: 75em)" "XL"        // 1200px at 16px base font
);

@mixin breakpoint($point, $direction: "up") {
  @each $breakpoint in $breakpoints {
    $query: nth($breakpoint, 1);
    $name: nth($breakpoint, 2);

    @if $direction == up {
      @if ($name == $point) {
        @media #{$query} { @content }
      }
    } @else {
    }
  }
}
