// Forms

@import 'font-awesome/font-awesome';

.usajobs-form,
.usajobs-content-well .usajobs-form {
  max-width: inherit;

  @include media($L) {
    max-width: inherit;
  }

  &__legend {
    display: block;
    font-style: italic;
    font-size: $base-font-size;
    font-weight: normal;
    color: $color-base;
    line-height: $base-line-height;
    margin-bottom: $size-S;
    margin-top: $size-S;

    @include media($M) {
      display: inline-block;
      float: right;
    }
  }

  &__help-brief {
    margin-top: $size-base;
    font-size: $small-font-size;
    max-width: $input-max-width;
  }

  &__help-detailed {
    margin-top: $size-default;
    max-width: $input-max-width;

    .usajobs-form__help-detailed-trigger {
      background-color: $color-primary-alt;

      &:hover {
        background-color: $color-primary-alt-dark;
      }
    }
  }

  .help-icon {
    padding-left: $size-base;
    color: $color-primary-darker;
  }
}

.usajobs-form-grid {
  @include outer-container();

  &__col {
    @include media($MLL) {
      @include span-columns(6);
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__full-col {
    @include span-columns(12);
  }
}

.usajobs-form--narrow {
  max-width: $input-max-width;
}

.usajobs-input-large {
  max-width: 100%;
}

.usajobs-date-group {
  @include clearfix();

  &__title {
    margin-bottom: 0;
  }

  label {
    margin-top: 0;
  }
}

