// Shell

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';

.usajobs-shell {
  position: relative;
  @include outer-container();
  max-width: $site-max-width;
  background: $color-white;
}

.usajobs-content-gutter {
  padding: 0 $size-default;

  @include media($ML) {
    padding-left: $size-M;
    padding-right: $size-M;
  }
}

.usajobs-canvas {
  position: relative;
  display: block;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.usajobs-content-well {
  margin-bottom: $size-XL;

  @include media($MLL) {
    @include span-columns(8);
  }

  @include media($XL) {
    @include span-columns(8);
  }
}

.usajobs-rightrail {
  @include media($MLL) {
    @include span-columns(4);
  }

  @include media($XL) {
    @include span-columns(4);
  }

  .usajobs-content-gutter {
    @include media($MLL) {
      padding-left: 0;
    }
  }
}
