// Shell

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';

.usajobs-site-body {
  @include outer-container();
  max-width: $site-max-width;
  background: $color-white;
}

.usajobs-content-gutter {
  padding: 0 $size-M;
}

.usajobs-content-well {
  @include media($MLL) {
    @include span-columns(8);
  }
}

.usajobs-rightrail {
  @include media($MLL) {
    @include span-columns(4);
  }

  .usajobs-content-gutter {
    @include media($MLL) {
      padding-left: 0;
    }
  }
}
