<h4>Advancing</h4>
<ul class="usajobs-pill--application-status">
  <li class="usajobs-pill--application-status__item status-received">
    <span class="grade grade-GS12">GS12:</span> Received
  </li>
  <li class="usajobs-pill--application-status__item status-reviewed">
    Reviewed
  </li>
  <li class="usajobs-pill--application-status__item status-referred">
    Referred
  </li>
  <li class="usajobs-pill--application-status__item status-selected">
    Selected
  </li>
  <li class="usajobs-pill--application-status__item status-hired">
    Hired
  </li>
</ul>

<h4>Paused</h4>
<ul class="usajobs-pill--application-status">
  <li class="usajobs-pill--application-status__item status-in-progress">
    In Progress
  </li>
  <li class="usajobs-pill--application-status__item status-incomplete">
    Incomplete
  </li>
</ul>

<h4>Stopped</h4>
<ul class="usajobs-pill--application-status">
  <li class="usajobs-pill--application-status__item status-canceled">
    Canceled
  </li>
  <li class="usajobs-pill--application-status__item status-not-referred">
    <span class="grade grade-GS14">GS14:</span> Not Referred
  </li>
  <li class="usajobs-pill--application-status__item status-not-selected">
    <span class="grade grade-GS14">GS14:</span> Not Selected
  </li>
  <li class="usajobs-pill--application-status__item status-not-hired">
    <span class="grade grade-GS14">GS14:</span> Not Hired
  </li>
</ul>

<h4>Unknown</h4>
<ul class="usajobs-pill--application-status">
  <li class="usajobs-pill--application-status__item status-unknown">
    Unknown
  </li>
</ul>
