<div class="usajobs-search-pills" data-object="search-pills" id="search-pills">
  <div class="usajobs-search-pills__fade-out-layer is-left" aria-hidden="true"></div>
  <ul class="usajobs-search-pills__list">
    <li id="search-pills-work_schedule-1" class="usajobs-search-pills__item usajobs-search-pills__item--profile" data-target-id="work_schedule-1" data-behavior="search-pills.remove">
        <a class="usajobs-search-pills__pill" title="Remove Full-time profile filter" tabindex="0">
            <span class="search-pill-name">Full-time</span>
            <span class="usajobs-search-pills__remove-icon">
              <span class="fas fa-times"></span>
            </span>
        </a>
    </li>
    <li id="search-pills-hiring_path-fed" class="usajobs-search-pills__item" data-target-id="hiring_path-fed" data-behavior="search-pills.remove">
      <a class="usajobs-search-pills__pill" title="Remove Federal employees filter" tabindex="0">
        <span class="search-pill-name">Federal employees</span>
        <span class="usajobs-search-pills__remove-icon">
          <span class="fas fa-times"></span>
        </span>
      </a>
    </li>
  </ul>
  <div class="usajobs-search-pills__fade-out-layer is-right" aria-hidden="true"></div>
</div>
