<div id="agencycontact" class="usajobs-joa-agency--v1-5" itemprop="hiringOrganization">
  <h3 class="usajobs-joa-agency--v1-5__contact-info">Agency contact information</h3>
  <h3 class="usajobs-joa-agency--v1-5__contact-name">
    <span class="fa fa-user"></span>
    Applicant Call Center
  </h3>

  <div>
    <div class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-sub-section__small-title">Phone</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="tel:1-304-480-7300">304-480-7300</a>
      </p>
      <h5 class="usajobs-sub-section__small-title">TDD</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="tel:1-304-480-8725">304-480-8725</a>
      </p>

      <h5 class="usajobs-sub-section__small-title">Email</h5>
      <p class="usajobs-joa-sub-section__text">
        <a href="mailto:cfpbinquiries@bpd.treas.gov">
          cfpbinquiries@bpd.treas.gov
        </a>
      </p>
    </div>
    <div class="usajobs-joa-sub-section__container">
      <h5 class="usajobs-sub-section__small-title">Address</h5>
      <p class="usajobs-joa-sub-section__text">
        <address>
          Consumer Financial Protection Bureau<br>
          PO Box 1328<br>
          Parkersburg, WV 26106-1328<br>
        </address>
      </p>
    </div>
  </div>
  <a href="#agency-modal-trigger" class="usajobs-joa-agency--v1-5__learn-more" href="#agencycontact" data-object-trigger="modal" data-target="#agency-modal">
    Learn more about this agency
  </a>
</div>
