<button class="usa-accordion-button usajobs-joa-accordion-trigger is-open-at-M" aria-expanded="false" aria-controls="benefits" data-behavior="joa_accordion.toggle">
  Benefits
</button>
<div id="benefits" aria-hidden="true" class="usa-accordion-content usajobs-joa-section">
  <a href="http://usajobs.github.io/Help/how-to/job-announcement/benefits/" class="usajobs-joa-section__help" target="_blank">
    <span class="fa fa-question-circle"></span> Help
  </a>
  <h2 class="usajobs-joa-section__header">Benefits</h2>
  <div id="benefits" itemprop="jobBenefits" class="usajobs-benefits">
    <p>
      A career with the U.S. Government provides employees with a comprehensive benefits package. As a federal employee, you and your family will have access to a range of benefits that are designed to make your federal career very rewarding.
    </p>
    <p>
      Eligibility for benefits depends on the type of position you hold and whether your position is full-time, part-time, or intermittent. Contact the hiring agency for more information on the specific benefits offered.
    </p>
    <ul>
      <li>
        <a href="https://www.usa.gov/benefits-for-federal-employees#item-36407" target="_blank">
          Benefits for federal employees
        </a>
      </li>
      <li>
        <a href="https://www.opm.gov/healthcare-insurance/" target="_blank">
          Healthcare insurance
        </a>
      </li>
      <li>
        <a href="https://www.usajobs.gov/Help/working-in-government/pay-and-leave/" target="_blank">
          Pay & Leave
        </a>
      </li>
    </ul>
    {% if job.UserArea.Details.Benefits %}
    <div class="usajobs-read-more usajobs-joa__read-more-content" data-object="reveal-more" data-behavior="joa-read-more">
      <p>
        CFPB sets the salary based on the following:
      </p>
      <ul class="usajobs-list-bullets">
        <li>Your related experience at the same level as the position.</li>
        <li>Your overall experience in a particular industry or area.</li>
        <li>The salaries of other CFPB employees in similar positions and with similar levels of experience.</li>
      </ul>
      <p>
        We also take your skill set into account. Salary offers seldom fall near the upper end of the salary range as listed in this job announcement. The salary may be set from the minimum of the salary range to the midpoint of the salary range. In some instances, based on a person’s extensive experience directly related to the position, the salary may be set at or above the mid-point up to the maximum salary for that band level.
      </p>
      <p>
        <a href="https://s3.amazonaws.com/files.consumerfinance.gov/f/documents/2016-2019_cfpb_Pay-Table.pdf" target="_blank">
          Learn more about our base pay ranges and salary structure.
        </a>
      </p>
    {% endif %}
  </div>
</div>
