<button class="usa-accordion-button usa-button-unstyled usajobs-joa--v1-5__accordion-trigger" aria-expanded="false" aria-controls="how-to-apply" data-behavior="joa_accordion.toggle">
  How to Apply
</button>
<div id="how-to-apply" aria-hidden="true" class="usa-accordion-content usajobs-joa-section">
  <a href="http://usajobs.github.io/Help/how-to/job-announcement/how-to-apply/" class="usajobs-joa-section__help" target="_blank">
    <span class="fa fa-question-circle"></span> Help
  </a>
  <h2 class="usajobs-joa-section__header">How to Apply</h2>
  <h4>Prepare your application in USAJOBS</h4>
    <p>
      To start your application, click Apply and we'll walk you through a five step process where you’ll attach a resume and any required documents.
    </p>
    <p>
      During the application process you can review, edit, delete and update your information. We’ll automatically save your progress as you go, so you won’t lose any changes.
    </p>
    <a class="usa-button usa-button-primary usa-button-big" href="https://www.usajobs.gov/Applicant/Application/ApplyStart/{{page.control-number}}">
      Start your application
    </a>

  {% include components/joa/cfpb/agency.html %}

  <h3>Next steps</h3>
  <div class="usajobs-read-more usajobs-joa__read-more-content" data-object="reveal-more" data-behavior="joa-read-more" id="next-steps">
    <p>
      <strong>Make sure your contact information is correct</strong>
    </p>
    <p>
      If your contact information changes after the closing date of this job announcement, please send us your updated information at <a href="mailto:cfpbinquiries@bpd.treas.gov">cfpbinquiries@bpd.treas.gov</a>.
    </p>
    <p>
      Also, if you give us an incorrect email address or if your inbox is full or blocked (e.g., spam-blocker), you may not receive important communication and this could affect your application
    </p>
  </div>
</div>
