<button class="usa-accordion-button usa-button-unstyled usajobs-joa--v1-5__accordion-trigger" aria-expanded="false" aria-controls="required-documents" data-behavior="joa_accordion.toggle">
  Required Documents
</button>
<div id="required-documents" aria-hidden="true" class="usa-accordion-content usajobs-joa-section usajobs-joa-required-documents">
  <a href="http://usajobs.github.io/Help/how-to/job-announcement/required-documents/" class="usajobs-joa-section__help" target="_blank">
    <span class="fa fa-question-circle"></span> Help
  </a>
  <h2 class="usajobs-joa-section__header">Required Documents</h2>
  <h3 class="usajobs-joa-required-documents__sub-head">All applicants</h3>
  <div class="usajobs-joa-required-documents__container">
    <ul class="usajobs-list-bullets">
      <li>A resume supporting your specialized experience.</li>
      <li>Your resume must also support your answers to the application questionnaire.</li>
    </ul>
    <p>
      <a href="https://www.usajobs.gov/Help/faq/application/documents/resume/what-to-include/">
        What to include in your resume
      </a>
    </p>
  </div>

  <h3 class="usajobs-joa-required-documents__sub-head">Based on who this job is open to</h3>
  <div class="usajobs-joa-required-documents-rtable">
    <div class="usajobs-joa-required-documents-rtable__row">
      <div class="usajobs-joa-required-documents-rtable__cell usajobs-joa-required-documents-rtable__head">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          If you're applying to this job as a&hellip;
        </h5>
      </div>
      <div class="usajobs-joa-required-documents-rtable__cell usajobs-joa-required-documents-rtable__head">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          Then you must submit your&hellip;
        </h5>
      </div>
    </div>
    <div class="usajobs-joa-required-documents-rtable__row">
      <div class="usajobs-joa-required-documents-rtable__cell">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          If you're applying to this job as a&hellip;
        </h5>
        Current or former Federal Employee <span class="fa fa-bank"></span>
      </div>
      <div class="usajobs-joa-required-documents-rtable__cell">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          Then you must submit your&hellip;
        </h5>
        <ul class="usajobs-list-bullets">
          <li>SF-50: Notification of Personnel Action</li>
        </ul>
      </div>
    </div>
    <div class="usajobs-joa-required-documents-rtable__row is-striped">
      <div class="usajobs-joa-required-documents-rtable__cell">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          If you're applying to this job as a&hellip;
        </h5>
        Former Federal Employee under CTAP/ICTAP consideration <span class="fa fa-bank"></span>
      </div>
      <div class="usajobs-joa-required-documents-rtable__cell">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          Then you must submit your&hellip;
        </h5>
        <ul class="usajobs-list-bullets">
          <li>SF-50: Notification of Personnel Action</li>
          <li>A copy of the separation letter or Reduction In Force (RIF) notice</li>
          <li>A copy of a current (or last) performance rating of record</li>
        </ul>
      </div>
    </div>
  </div>

  <h3 class="usajobs-joa-required-documents__sub-head">Based on education</h3>
  <div class="usajobs-joa-required-documents-rtable">
    <div class="usajobs-joa-required-documents-rtable__row">
      <div class="usajobs-joa-required-documents-rtable__cell usajobs-joa-required-documents-rtable__head">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          If&hellip;
        </h5>
      </div>
      <div class="usajobs-joa-required-documents-rtable__cell usajobs-joa-required-documents-rtable__head">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          Then&hellip;
        </h5>
      </div>
    </div>
    <div class="usajobs-joa-required-documents-rtable__row">
      <div class="usajobs-joa-required-documents-rtable__cell">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          If you're applying for this job&hellip;
        </h5>
        using your eduction instead of experience, or if education is a requirement
      </div>
      <div class="usajobs-joa-required-documents-rtable__cell">
        <h5 class="usajobs-joa-required-documents-rtable__column-header">
          Then you must submit your&hellip;
        </h5>
        <ul class="usajobs-list-bullets">
          <li>Unofficial transcripts or any report listing institution, course title, credits earned and final grade.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="usajobs-joa--v1-5__disclaimer-inset">
    <h4>
      If you are relying on your education to meet the qualifications of this job:
    </h4>
    <p>
      If you don't submit a transcript, we will not use your education when deciding if you're qualified for the job.
    </p>
    <p>
      Education must be accredited by an accrediting institution recognized by the U.S. Department of Education in order for it to be credited towards qualifications. Therefore, provide only the attendance and/or degrees from <a href="http://www.ed.gov/admins/finaid/accred/">schools accredited by accrediting institutions recognized by the U.S. Department of Education</a>.
    </p>
    <p>
      Failure to provide all of the required information as stated in this vacancy announcement may result in an ineligible rating or may affect the overall rating.
    </p>
  </div>
</div>
